#moveSeatsToolbar div.col-md-3,
#moveSeatsToolbar div.col-md-2,
#moveSeatsToolbar div.col-md-1{
    padding:1px;
}

#moveSeatsToolbar .textLabel{
    text-align:center;
    padding-top:8px;
}

#moveSeatsToolbar .right{
    float:right;
}

#moveSeatsToolbar .btn{
    margin:5px;
}

#moveSeatsToolbar .disabled{

}

#moveSeatsToolbar input[type="radio"] {
  display: none;
}

#moveSeatsToolbar input[type="radio"] + label {
  color: #292321;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#moveSeatsToolbar input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#moveSeatsToolbar input[type="radio"] + label span {
  background-color: #7a8289;
}

#moveSeatsToolbar input[type="radio"]:checked + label span {
  background-color: #1E62A3;
}

#moveSeatsToolbar input[type="radio"] + label span,
#moveSeatsToolbar input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

#moveSeatsToolbar  .hasRadio{
    text-align:center;
    margin-top:5px;
}