.theme17 {
  /* Paid */
  /* Chick */
}
.theme17 .booking {
  background-color: #8ac3e5 !important;
  border: 1px solid #85B0E8 !important;
}
.theme17 .booking .btn.active {
  border-color: #4283C3;
  color: #000000;
}
.theme17 .booking.fbooking {
  background-color: #ffe285;
  border: 1px solid #b8a900 !important;
}
.theme17 .booking.fbooking .btn.active {
  border-color: #7FA6D8;
  color: #000000;
}
.theme17 .booking .seat-code {
  color: #2E0000;
}
.theme17 .booking .numT {
  color: #FF0000;
  font-size: 11px;
  font-weight: 500;
}
.theme17 .booking .name {
  color: #1A1A1A;
}
.theme17 .paid {
  background-color: #C0DBB6;
  border: 1px solid #8EBE8E !important;
  color: #000;
}
.theme17 .paid .btn.active {
  border-color: #9EC79E;
  color: #2B2B2B;
}
.theme17 .paid .numT {
  font-weight: 500;
  font-size: 11px;
}
.theme17 .seat-code.exported {
  color: #000;
  background: #e5e615;
}
.theme17 .selected {
  background: red;
}
.theme17 .seat[data-position='2_7_5'] .available {
  background: #E6E7E7;
}
.theme17 .pick {
  background: none !important;
  color: #000000 !important;
  padding-bottom: 2px !important;
  height: 18px !important;
}
.theme17 .note {
  text-decoration: inherit !importatn;
}
