ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

    ul.coach:nth-child(1) {
        margin-right: 8px !important;
    }

    ul.coach:nth-child(2) {
        margin-top: 0;
    }

.col-md-spec {
    width: 14.2% !important;
}

.da-thanh-toan {
    background: black !important;
    color: white;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5, .col-md-spec {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 118px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 0;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 15%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
}


.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    font-weight: 700;
    font-size: 14px !important;
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 4px !important;
}

.ppayment {
    width: 85%;
    float: right;
    text-align: right;
}

.pnote {
    height: 20px;
    text-transform: lowercase;
    margin: -15px 0;
    line-height: 16px;
    width: 100%;
    font-size: 14px;
}

.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: right;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
    float: left;
    width: 100%;
    font-size: 14px !important;
    margin-top: 4px !important;
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

.print-noseat {
    height: 102px;
    width: 50px !important;
}

/*ul.coach:nth-child(1) li:nth-child(19), ul.coach:nth-child(1) li:nth-child(22) {
    border-bottom: 1px solid #000;
}*/

ul.coach:nth-child(1) li:nth-child(9), ul.coach:nth-child(1) li:nth-child(17),
ul.coach:nth-child(1) li:nth-child(25), ul.coach:nth-child(1) li:nth-child(33),
ul.coach:nth-child(1) li:nth-child(41) {
    clear: both;
}

ul.coach:nth-child(1) li:nth-child(2), ul.coach:nth-child(1) li:nth-child(5),
ul.coach:nth-child(1) li:nth-child(10), ul.coach:nth-child(1) li:nth-child(13),
ul.coach:nth-child(1) li:nth-child(18), ul.coach:nth-child(1) li:nth-child(21),
ul.coach:nth-child(1) li:nth-child(26), ul.coach:nth-child(1) li:nth-child(29),
ul.coach:nth-child(1) li:nth-child(34), ul.coach:nth-child(1) li:nth-child(37) {
    border-right: 1px solid #000;
}


ul.coach:nth-child(1) li:nth-child(41), ul.coach:nth-child(1) li:nth-child(42),
ul.coach:nth-child(1) li:nth-child(43), ul.coach:nth-child(1) li:nth-child(44),
ul.coach:nth-child(1) li:nth-child(45), ul.coach:nth-child(1) li:nth-child(49),
ul.coach:nth-child(1) li:nth-child(50), ul.coach:nth-child(1) li:nth-child(51),
ul.coach:nth-child(1) li:nth-child(52), ul.coach:nth-child(1) li:nth-child(53),
ul.coach:nth-child(1) li:nth-child(57), ul.coach:nth-child(1) li:nth-child(58),
ul.coach:nth-child(1) li:nth-child(59), ul.coach:nth-child(1) li:nth-child(60),
ul.coach:nth-child(1) li:nth-child(61) {
    width: 20% !important;
}

ul.coach:nth-child(1) li:nth-child(46), ul.coach:nth-child(1) li:nth-child(47),
ul.coach:nth-child(1) li:nth-child(48), ul.coach:nth-child(1) li:nth-child(54),
ul.coach:nth-child(1) li:nth-child(55), ul.coach:nth-child(1) li:nth-child(56) {
    display: none;
}
