ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
	width:100%;
}

	
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}
.no-background {background:none !important;}
.da-thanh-toan {background:black !important;color:white;}

ul.coach li table {padding:0;}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 74px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;        
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }
		
		.print-seat table td .fare {
			font-size:14px;       
		}

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 30%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    font-weight: 700;
    font-size: 13px !important;
    float: right;
    width: 50%;
    text-align: right;
}

.ppayment {
    width: 70%;
    float: right;
    text-align: right;
    /* background: #ddd; */
	font-size:13.5px;
	/* padding-right:2px; */
}

.pnote {
    /*height: 20px;*/
  overflow: hidden;
    clear: both;
    /* text-transform: lowercase; */
	font-size:13px;
	
}

.ppickup span {
    text-transform: lowercase;
	/* white-space:nowrap;
	 overflow: hidden; */
}

.pmInfo {
    text-align: right;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
    float: left;
    width: 50%;
	font-size:12px;
	/* text-transform:lowercase; */
	white-space:nowrap;
	font-size:10px;
	padding-top:2px;
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 11px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
	.cus-name {
       float: right;
    }
ul.coach:nth-child(2) li:nth-child(1) table, ul.coach:nth-child(2) li:nth-child(2) table, ul.coach:nth-child(2) li:nth-child(3) table {
    border-top: 0;  
	}
	
.SeatTemp40.coach:nth-child(2) li:nth-child(13), .SeatTemp40.coach:nth-child(2) li:nth-child(18),
.SeatTemp40.coach:nth-child(2) li:nth-child(14), .SeatTemp40.coach:nth-child(2) li:nth-child(19),
.SeatTemp40.coach:nth-child(2) li:nth-child(15), .SeatTemp40.coach:nth-child(2) li:nth-child(20),
.SeatTemp40.coach:nth-child(2) li:nth-child(16), .SeatTemp40.coach:nth-child(2) li:nth-child(21),
.SeatTemp40.coach:nth-child(2) li:nth-child(17), .SeatTemp40.coach:nth-child(2) li:nth-child(22) {
        height: 105px;
}
.SeatTemp40.coach:nth-child(2) li:nth-child(13) .pcphone, .SeatTemp40.coach:nth-child(2) li:nth-child(18) .pcphone,
.SeatTemp40.coach:nth-child(2) li:nth-child(14) .pcphone, .SeatTemp40.coach:nth-child(2) li:nth-child(19) .pcphone,
.SeatTemp40.coach:nth-child(2) li:nth-child(15) .pcphone, .SeatTemp40.coach:nth-child(2) li:nth-child(20) .pcphone,
.SeatTemp40.coach:nth-child(2) li:nth-child(16) .pcphone, .SeatTemp40.coach:nth-child(2) li:nth-child(21) .pcphone,
.SeatTemp40.coach:nth-child(2) li:nth-child(17) .pcphone, .SeatTemp40.coach:nth-child(2) li:nth-child(22) .pcphone {
       width: 100% !important;
}
/* .SeatTemp40.coach:nth-child(2) li:nth-child(13) .pnote, .SeatTemp40.coach:nth-child(2) li:nth-child(18) .pnote,
.SeatTemp40.coach:nth-child(2) li:nth-child(14) .pnote, .SeatTemp40.coach:nth-child(2) li:nth-child(19) .pnote,
.SeatTemp40.coach:nth-child(2) li:nth-child(15) .pnote, .SeatTemp40.coach:nth-child(2) li:nth-child(20) .pnote,
.SeatTemp40.coach:nth-child(2) li:nth-child(16) .pnote, .SeatTemp40.coach:nth-child(2) li:nth-child(21) .pnote,
.SeatTemp40.coach:nth-child(2) li:nth-child(17) .pnote, .SeatTemp40.coach:nth-child(2) li:nth-child(22) .pnote {
    
	   white-space: nowrap;
} */