<script id="wChangePass" type="text/x-handlebars-template">
    <div class="modal fade" style="display: none">
        <div class="modal-sm modal-dialog">
            <div class="modal-content">
                <div class="modal-header3">
                    <button type="button" class="close btn-close-new2" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title2">Đổi mật khẩu</h3>
                </div>
                <div class="modal-body2">
                    <div class="container-fluid panel-body">
                        <h6 class="talign-center">Mật khẩu mới tối thiểu 6 kí tự gồm chữ cái và số</h6>
                        <div class="row mt5 h60">

                            <div class="change-pass-container">
                                <div class="form-group mb8 has-feedback ml0">
                                    <label class="control-label">Mật khẩu cũ</label>
                                    <input type="password" class="form-control old-password">
                                    <span class="glyphicon glyphicon-ok form-control-feedback silver"></span>

                                </div>
                            </div>
                        </div>
                        <div class="row mt2 h60">
                            <div class="change-pass-container">
                                <div class="form-group mb8 has-feedback ml0">
                                    <label class="control-label">Mật khẩu mới</label>
                                    <input type="password" class="form-control new-password">
                                    <span class="glyphicon glyphicon-ok form-control-feedback silver"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2 h60">
                            <div class="change-pass-container">
                                <div class="form-group mb8 has-feedback ml0">
                                    <label class="control-label">Nhập lại mật khẩu mới</label>
                                    <input type="password" class="form-control new-password-retype">
                                    <span class="glyphicon glyphicon-ok form-control-feedback silver"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt10">
                            <div class="change-pass-container">
                                <button type="button" disabled="disabled" class="btn btn-primary btn-sm submit-change-password">Đổi mật khẩu</button>
                                <button type="button" data-dismiss="modal" class="btn btn-sm ml20 cancel-change-password">Hủy</button>
                            </div>
                        </div>
                        <div id="ChangePasswordContainer" class="mt10 pb5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</script>

<script id="fTrip" type="text/x-handlebars-template">
    <div class="col-md-4 col-sm-4 col-xs-6 pl0">
        <div class="form-group">
            <select class="form-control input-sm" name="{{_name}}">
                {{#each _lTrips}}
                <option value="{{TripId}}">{{TripName}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</script>
