<script id="textbox" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}}">
        <div class="form-group mb8" title="{{label}}" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <input type="{{inputType}}" class="form-control input-sm cor-black {{cls}} rights" {{disabled}} data-rights="{{rights}}" placeholder="{{label}}">
        </div>
    </div>
</script>
<script id="textbox00" type="text/x-handlebars-template">
    <div class="">
        <input type="{{inputType}}" class="form-control input-sm cor-black {{cls}} rights" disabled data-rights="{{rights}}" placeholder="{{label}}">
    </div>
</script>
<script id="textbox01" type="text/x-handlebars-template">
    <div class="input-group form-group mb8">
        <input class="form-control input-sm cor-black {{cls}} rights" data-rights="{{rights}}" placeholder="{{label}}">
        <div class="input-group-addon">đ</div>
    </div>
</script>
<script id="textbox02" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-6">
        <div class="form-group mb8" title="{{label}}" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <input class="form-control input-sm cor-black {{cls}} rights" data-rights="{{rights}}" placeholder="{{label}}">
        </div>
    </div>
</script>

<script id="textbox03" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-9">
        <div class="form-group mb8" title="{{label}}" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <input class="form-control input-sm cor-black {{cls}} rights" data-rights="{{rights}}" placeholder="{{label}}">
        </div>
    </div>
</script>

<script id="textbox04" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}}">
        <div class="input-group form-group mb8" title="{{label}}" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <input class="form-control input-sm cor-black {{cls}} rights" data-rights="{{rights}}" placeholder="{{label}}">
            <div class="input-group-addon">đ</div>
        </div>
    </div>
</script>

<script id="textbox05" type="text/x-handlebars-template">
    <input class="form-control input-sm text-center {{cls}} rights" data-rights="{{rights}}" placeholder="{{label}}" value="{{val}}">
</script>

<script id="textbox06" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}}">
        <div class="form-group mb8" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <select class="form-control input-sm cor-black {{eCls}}" value="{{value}}">
                {{#list options}}{{/list}}
            </select>
            <input class="form-control input-sm hidden text-center wid45 po-re left55 {{cls}} rights" data-rights="{{rights}}" placeholder="{{label}}" value="{{val}}">
        </div>
    </div>
</script>

<script id="textbox07" type="text/x-handlebars-template">
    <div class="col-md-12 col-sm-12">
        <div class="form-group mb8" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <label class="col-md-2 col-sm-2 pt7 control-label fw500 pl0">{{label}}</label>
            <div class="col-md-2 col-sm-2 pl0">
                <input name="{{name}}" class="form-control input-sm {{cls}} rights" placeholder="{{plh0}}" data-rights="{{rights}}" />
            </div>
            <div class="col-md-1 col-sm-7 w5 mb8 mt5">
                &#8594
            </div>
            <div class="col-md-2 col-sm-2 pr0">
                <input class="form-control input-sm {{eCls}} rights" placeholder="{{plh1}}" data-rights="{{rights}}" />
            </div>
            <!--  -->
            <label class="col-md-1 col-sm-2 pt7 control-label fw500 text-right pr0">{{eLabel}}</label>
            <div class="col-md-2 col-sm-2">
                <input class="form-control input-sm {{eCls1}} rights" placeholder="{{plh2}}" data-rights="{{rights}}" />
            </div>
            <button type="button" class="btn {{cls}} btn-success rights" data-rights="{{rights}}"><i class="glyphicon {{iconCls}}"></i> {{btnLbl}}</button>
        </div>
    </div>
</script>

<script id="textbox08" type="text/x-handlebars-template">
    <div class="col-md-12 col-sm-12">
        <div class="form-group mb8" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <label class="col-md-2 col-sm-2 pt7 control-label fw500 pl0">{{label}}</label>
            <div class="col-md-4 col-sm-2 pl0">
                <input name="{{name}}" class="form-control input-sm {{cls}} rights" placeholder="{{plh}}" data-rights="{{rights}}" />
            </div>
            <button type="button" class="btn {{eCls1}} btn-success rights" data-rights="{{rights}}"><i class="glyphicon {{iconCls1}}"></i> {{btnLbl1}}</button>
            <button type="button" class="btn {{eCls2}} btn-danger rights" data-rights="{{rights}}"><i class="glyphicon {{iconCls2}}"></i> {{btnLbl2}}</button>
        </div>
    </div>
</script>
<script id="textbox09" type="text/x-handlebars-template">
    <div class="col-md-12 col-sm-12">
        <div class="form-group mb8" title="{{label}}" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <label class="col-md-2 col-sm-2 pt7 control-label fw500 pl0">{{label}}</label>
            <div class="col-md-10 col-sm-10 pl0">
                <input type="{{inputType}}" class="form-control input-sm cor-black {{cls}} rights" {{disabled}} data-rights="{{rights}}" placeholder="{{label}}">
            </div>
        </div>
    </div>
</script>
<script id="textbox10" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}}">
        <div class="form-group mb8 wid45 po-ab" title="{{label}}" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <input class="form-control input-sm cor-black {{cls}} rights" {{disabled}} data-rights="{{rights}}" placeholder="{{label}}">
        </div>
    </div>
</script>
<script id="textbox11" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}} {{eCls}}">
        <div class="form-group mb8" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <div class="input-group form-group mb8 po-ab" style="width: 72%;">
                <input class="form-control input-sm cor-black {{cls}} rights" data-rights="{{rights}}" placeholder="{{label}}">
                <div class="input-group-addon">%</div>
            </div>
            <button type="button" class="btn btn-primary po-re {{eCls}}" style="left: 85%;padding: 5px 0; width: 15%">
                <i class="glyphicon glyphicon-import"></i>
            </button>
        </div>
    </div>
</script>
<script id="textbox12" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}} {{eCls}}">
        <div class="form-group mb8" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <button type="button" class="btn btn-default po-ab {{eCls}}" style="padding: 5px 0; width: 10%">
                <i class="glyphicon glyphicon-transfer"></i>
            </button>
            <input class="form-control input-sm cor-black {{cls}} rights mb8 po-re" {{disabled}} data-rights="{{rights}}" placeholder="{{label}}" style="left:13%; width: 87%">
        </div>
    </div>
</script>
<script id="textboxhide" type="text/x-handlebars-template">
    <input type="{{inputType}}" class="form-control input-sm cor-black {{cls}} rights" data-rights="{{rights}}" placeholder="{{label}}">
</script>

<script id="datepicker" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <div class="form-group mb8" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <div class="input-group">
                <input type="text" name="{{name}}" class="form-control input-sm {{cls}} rights" placeholder="{{label}}" data-rights="{{rights}}" value="{{value}}">
                <span class="input-group-addon btn btn-default">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</script>

<script id="iconbutton" type="text/x-handlebars-template">
    <button {{disabled}} type="button" class="btn {{cls}} btn-sm rights" style="{{sty}}" data-rights="{{rights}}"><i class="glyphicon {{iconCls}}"></i> {{label}}</button>
</script>

<script id="iconbutton1" type="text/x-handlebars-template">
    <button {{disabled}} type="button" class="btn {{cls}} btn-sm rights" row="{{row}}" data-rights="{{rights}}"><i class="glyphicon {{iconCls}}"></i> {{label}}</button>
</script>

<script id="textarea" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}}">
        <div class="form-group mb8" title="" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <textarea class="form-control cor-black {{cls}}" placeholder="Thông tin"></textarea>
        </div>
    </div>
</script>

<script id="combobox" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}} {{eCls}}">
        <div class="form-group mb8 " title="" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <select class="form-control input-sm cor-black {{cls}}" value="{{value}}">
                {{#list options}}{{/list}}
            </select>
        </div>
    </div>
</script>
<script id="combobox00" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}} {{eCls}} hidden rights" data-rights="{{rights}}">
        <div class="form-group mb8 rights" title="" data-placement="top" data-toggle="tooltip" data-rights="{{rights}}" data-original-title="{{label}}">
            <select class="form-control input-sm cor-black {{cls}}" value="{{value}}">
                {{#list options}}{{/list}}
            </select>
        </div>
    </div>
</script>
<script id="combobox01" type="text/x-handlebars-template">
    <select class="form-control input-sm {{cls}}">
        {{#list options}}{{/list}}
    </select>
</script>
<script id="combobox02" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}}">
        <div class="form-group mb8" title="" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <select class="form-control input-sm cor-black {{cls}}" value="{{value}}">
                {{#list options}}{{/list}}
            </select>
        </div>
    </div>
</script>
<script id="combobox03" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}}">
        <div class="form-group mb8" title="" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <select class="form-control input-sm cor-black {{cls}} {{cmCls}}" data-placeholder="{{plh}}" value="{{value}}">
                {{#list options}}{{/list}}
            </select>
        </div>
    </div>
</script>

<script id="combobox04" type="text/x-handlebars-template">
    <div class="{{colCls}} {{smCls}} {{eCls}}">
        <div class="form-group mb8" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <select class="form-control input-sm cor-black {{cls}} po-ab" style="width: 80%;" value="{{value}}">
                {{#list options}}{{/list}}
            </select>
            <button type="button" class="btn btn-primary po-re {{eCls}}" style="left: 89%;padding: 5px 12px">
                <i class="glyphicon glyphicon-arrow-right"></i>
            </button>
        </div>
    </div>
</script>

<script id="checkbox" type="text/x-handlebars-template">
    <div class="checkbox {{align}}">
        <input type="checkbox" class="{{cls}}" code="{{code}}"><span>{{label}}</span>
    </div>
</script>

<script id="label" type="text/x-handlebars-template">
    <label for="{{cls}}">{{label}}</label>
</script>

<script id="input" type="text/x-handlebars-template">
    <input type="{{inputType}}" class="{{cls}}" placeholder="{{label}}">
</script>

<script id="lblXuatben" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <strong class="lblClosedStatus"></strong>
        <input type="hidden" name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}" />
    </div>
</script>

<script id="inputHidden01" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4 hidden">
        <label class="col-md-4 col-sm-5 pt7 control-label fw500">{{label}}</label>
        <div class="pl0 pr0 col-md-8 col-sm-7">
            <input type="hidden" name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}" />
        </div>
    </div>
</script>
<script id="inputHidden03" type="text/x-handlebars-template">
    <input type="hidden" name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}" />
</script>

<script id="xhide" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4 hidden">
        <label class="col-md-4 col-sm-5 pt7 control-label fw500">{{label}}</label>
        <div class="pl0 pr0 col-md-8 col-sm-7">
            <input type="hidden" name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}" />
        </div>
    </div>
</script>

<script id="cbbTpl00" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-3 col-sm-4 pt7 control-label fw500">{{label}}</label>
        <div class="pl0 pr0 col-md-4 col-sm-8">
            <select {{disabled}} name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}">
                {{#list options}}{{/list}}
            </select>
        </div>
    </div>
</script>

<script id="cbbTpl000" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-4 col-sm-4 pt7 control-label fw500">{{label}}</label>
        <div class="pl0 pr0 col-md-4 col-sm-8">
            <select {{disabled}} name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}">
                {{#list options}}{{/list}}
            </select>
        </div>
    </div>
</script>

<script id="cbbTpl01" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-3 pt7 col-sm-3 control-label fw500">{{label}}</label>
        <div class="pl0 pr0 col-md-7 col-sm-9">
            <select name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}">
                <option value="">Chọn</option>
            </select>
        </div>
    </div>
</script>

<script id="cbbTpl04" type="text/x-handlebars-template">
    <div class="{{colCls}}">
        <label class="col-sm-3 control-label pt6 fw500">{{label}}</label>
        <div class="pd0 col-md-8">
            <select name="{{name}}" class="selectpicker {{cls}} rights" data-rights="{{rights}}">
                <option value="1" class="op-select">Nam</option>
                <option value="2" class="op-select">Nữ</option>
                <option value="3" class="op-select">Khác</option>
            </select>
        </div>
    </div>
</script>

<script id="cbbTpl02" type="text/x-handlebars-template">
    <div class="{{colCls}}">
        <label class="col-md-4 pt7 control-label fw500">{{label}}</label>
        <div class="input-group {{colCls}}">
            <select type="text" name="{{name}}" class="form-control input-sm po-ab wid93 {{cls}} rights" data-rights="{{rights}}">
                <!-- <select name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}">-->
                <!-- <option value="">Chọn</option>-->
            </select>
            <button type="button" class="btn input-sm po-re left90 ml5 {{btnCls}} rights" data-rights="{{btnRights}}">{{btnLabel}}</button>
        </div>
    </div>
</script>

<script id="cbbTpl03" type="text/x-handlebars-template">
    <div class="{{colCls}} hidden">
        <label class="col-md-4 pt7 control-label fw500">{{label}}</label>
        <div class="input-group col-md-7">
            <select name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}">
                <!--  <option value="">Chọn</option>-->
                <option value="0">Bus 0</option>
                <option value="1">Bus 1</option>
                <option value="2">Bus 2</option>
                <option value="3">Bus 3</option>
                <option value="4">Bus 4</option>
                <option value="5">Bus 5</option>
                <option value="6">Bus 6</option>
                <option value="7">Bus 7</option>
                <option value="8">Bus 8</option>
                <option value="9">Bus 9</option>
                <option value="10">Bus 10</option>
            </select>
        </div>
    </div>
</script>

<script id="cbbTpl07" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-4 col-sm-4 pt7 control-label fw500">{{label}}</label>
        <div class="pl0 pr0 col-md-8 col-sm-8">
            <select {{disabled}} name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}">
                {{#list options}}{{/list}}
            </select>
        </div>
    </div>
</script>

<script id="txtTpl01" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-4 col-sm-5 pt7 control-label fw500">{{label}}</label>
        <div class="pl0 pr0 col-md-8 col-sm-7">
            <input type="text" name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}">
        </div>
    </div>
</script>

<script id="txtTpl02" type="text/x-handlebars-template">
    <div class="{{colCls}}">
        <label class="col-sm-3 control-label pt7 fw500">{{label}}</label>
        <div class="input-group col-md-8">
            <input type="text" name="{{name}}" class="form-control input-sm new-input {{cls}} rights" data-rights="{{rights}}">
        </div>
    </div>
</script>

<script id="txtTpl03" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-4 col-sm-5 pt7 control-label fw500">{{label}}</label>
        <div class="input-group pl0 pr0 col-md-8 col-sm-7">
            <input type="text" name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}">
            <div class="input-group-addon">đ</div>
        </div>
    </div>
</script>

<script id="txtAddTimeTpl00" type="text/x-handlebars-template">
    <div class="col-md-4 col-sm-4">
        <label class="col-md-4 col-sm-4 pt7 control-label fw500">{{label}}</label>
        <div class="pl0 pr0 col-md-8 col-sm-8">
            <input type="text" name="{{name}}" class="form-control input-sm po-ab wid78 {{cls}} rights" data-rights="{{rights}}">
            <button type="button" title="Thêm" class="btn btn-primary input-sm po-re left80 ml5 wid19 {{btnCls}} rights" data-rights="{{btnRights}}">{{btnLabel}}<i class="glyphicon glyphicon-plus"></i></button>
        </div>

    </div>
</script>
<script id="txtAddTimeTpl01" type="text/x-handlebars-template">
    <div class="fr col-md-4 col-sm-4 pr0">
        <div class="">
            <label class="col-md-4 col-sm-4 pt7 control-label fw500">{{label}}</label>
            <div class="pr0 pl0 col-md-8 col-sm-8">
                <input type="text" name="{{name}}" class="form-control input-sm po-ab wid78 {{cls}} rights" data-rights="{{rights}}">
                <button type="button" title="Thêm" class="btn btn-primary input-sm po-re left80 ml5 wid19 {{btnCls}} rights" data-rights="{{btnRights}}">{{btnLabel}}<i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>
    </div>
</script>

<script id="txtReadOnlyTpl01" type="text/x-handlebars-template">
    <div class="{{colCls}}">
        <label class="col-md-4 pt7 control-label fw500">{{label}}</label>
        <div class="input-group">
            <input disabled type="text" name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}">
        </div>
    </div>
</script>

<script id="txtTpl02" type="text/x-handlebars-template">
    <div class="{{colCls}}">
        <label class="col-md-4 pt7 control-label fw500">{{label}}</label>
        <div class="input-group {{colCls}}">
            <input type="text" name="{{name}}" class="form-control input-sm po-ab wid93 {{cls}} rights" data-rights="{{rights}}">
            <button type="button" class="btn input-sm po-re left90 ml5 {{btnCls}} rights" data-rights="{{btnRights}}">{{btnLabel}}</button>
        </div>
    </div>
</script>

<script id="datepickerTpl01" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-3 col-sm-3 pt7 control-label fw500">{{label}}</label>
        <div class="input-group col-md-7 col-sm-9">
            <input type="text" name="{{name}}" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}" value="{{value}}">
            <span class="input-group-addon btn btn-default">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</script>
<script id="datepickerTpl02" type="text/x-handlebars-template">
    <div class="{{colCls}}">
        <label class="col-sm-3 control-label pt7 fw500">{{label}}</label>
        <div class="input-group col-md-8">
            <input type="text" name="{{name}}" class="form-control input-sm new-input-birthday {{cls}} rights" data-rights="{{rights}}" value="{{value}}">
            <span class="input-group-addon icon-calen btn btn-default">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</script>
<script id="datepickerTpl03" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <div class="form-group mb8" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <div class="input-group" title="">
                <input type="text" name="{{name}}" class="form-control input-sm {{cls}} rights" {{disabled}} data-rights="{{rights}}" placeholder="{{label}}" value="{{value}}">
                <span class="input-group-addon btn btn-default">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</script>

<script id="areaTpl01" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-4 col-sm-4 pt7 control-label fw500">{{label}}</label>
        <div class="pl0 pr0 col-md-8 col-sm-8">
            <textarea name="{{name}}" class="form-control input-sm h32 {{cls}} rights" data-rights="{{rights}}"></textarea>
        </div>
    </div>
</script>

<script id="multiTpl01" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-3 col-sm-4 pt7 control-label fw500">{{label}}</label>
        <div class="input-group col-md-9 col-sm-8">
            <select name="{{name}}" class="multi{{name}} form-control input-sm {{cls}} rights " data-rights="{{rights}}" multiple="multiple">
                {{#list options}}{{/list}}
            </select>
        </div>
    </div>
</script>

<script id="vchosen" type="text/x-handlebars-template">
    <div class="form-group fr">
        <div class="form-group" style="width: 170px">
            <select data-placeholder="Chọn bộ lọc" name="{{name}}" class="inline multi{{name}} form-control input-sm {{cls}} rights " data-rights="{{rights}}" multiple="multiple">
                {{#list options}}{{/list}}
            </select>
        </div>
        <div class="form-group">
            <button type="button" class="inline btn btn-primary btn-sm {{clsBtn}} rights" data-rights="{{rights}}">{{labelBtn}}</button>
        </div>
    </div>
</script>

<script id="echosen" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <div class="form-group mb8">
            <div class="form-group po-ab rights" style="width: 10%" data-placement="top" data-toggle="tooltip" data-rights="{{rights}}" data-original-title="{{eLabel}}">
                <button type="button" class="btn btn-default {{eCls}}" style="width: 100%">
                    <i class="glyphicon glyphicon-th"></i>
                </button>
            </div>
            <div class="form-group po-re rights" data-placement="top" data-toggle="tooltip" data-rights="{{rights}}" data-original-title="{{label}}" style="left:13%; width: 66%">
                <select data-placeholder="{{label}}" name="{{name}}" class="multi{{name}} form-control input-sm {{cls}}"
                        multiple="multiple">
                    {{#list options}}{{/list}}
                </select>
            </div>
            <div class="form-group mb8 po-ab top0 rights" data-rights="{{rights}}" data-placement="top" data-toggle="tooltip" data-original-title="{{eLabel1}}" style="left: 79%">
                <input type="checkbox" class="{{eCls1}}" data-toggle="toggle" data-on="Cho phép" data-off="Cấm" data-size="small" data-width="79">
            </div>
        </div>
    </div>
</script>

<script id="echosen00" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <div class="form-group mb8" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}">
            <div class="form-group">
                <select data-placeholder="{{label}}" name="{{name}}" class="multi{{name}} form-control input-sm {{cls}}"
                        multiple="multiple">
                    {{#list options}}{{/list}}
                </select>
            </div>
            <div class="form-group wid25 po-ab hidden left75 top0">
                <input class="form-control input-sm text-center {{eCls}} rights" data-rights="{{rights}}" placeholder="{{label}}">
            </div>
        </div>
    </div>
</script>

<script id="xchosen" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-3 col-sm-4 pt7 control-label fw500">{{label}}</label>
        <div class="input-group col-md-9 col-sm-8">
            <select data-placeholder="Chọn" name="{{name}}" class="multi{{name}} form-control input-sm {{cls}} rights " {{disabled}} data-rights="{{rights}}" multiple="multiple">
                {{#list options}}{{/list}}
            </select>
        </div>
    </div>
</script>

<script id="xchosensingle" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">
        <label class="col-md-3 col-sm-4 pt7 control-label fw500">{{label}}</label>
        <div class="input-group col-md-9 col-sm-8">
            <select data-placeholder="Chọn" name="{{name}}" class="multi{{name}} form-control input-sm {{cls}} rights " {{disabled}} data-rights="{{rights}}">
                {{#list options}}{{/list}}
            </select>
        </div>
    </div>
</script>

<script id="multiTpl02" type="text/x-handlebars-template">
    <div class="form-group fr">
        <div class="form-group">
            <select name="{{name}}" class="inline multi{{name}} form-control input-sm {{cls}} rights " data-rights="{{rights}}" multiple="multiple">
                {{#list options}}{{/list}}
            </select>
        </div>
        <div class="form-group">
            <button type="button" class="inline btn btn-primary btn-sm {{clsBtn}} rights" data-rights="{{rights}}">{{labelBtn}}</button>
        </div>
    </div>
</script>

<script id="txtMenuItemTpl01" type="text/x-handlebars-template">
    <div class="form-group">
        <div class="form-group">
            <input type="text" name="{{name}}" class="inline form-control input-sm {{cls}} rights" data-rights="{{rights}}">
        </div>
        <div class="form-group">
            <button type="button" class="inline btn btn-primary btn-sm  {{btnCls}} rights" data-rights="{{btnRights}}">{{btnLabel}}</button>
        </div>
    </div>
</script>

<script id="btnTpl02" type="text/x-handlebars-template">
    <div class="form-group">
        <div class="form-group">
            <button type="button" class="inline btn btn-primary btn-sm btn-success {{cls}} rights" data-rights="{{rights}}" disabled>{{label}}</button>
        </div>
    </div>
</script>

<script id="btnTpl01" type="text/x-handlebars-template">
    <div class="form-group mb0">
        <button type="button" class="btn btn-primary btn-sm {{cls}} rights" data-rights="{{rights}}">{{label}}</button>
    </div>
</script>

<script id="btnTplClose" type="text/x-handlebars-template">
    <div class="form-group mb0">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{label}}</button>
    </div>
</script>

<script id="btnTplDel" type="text/x-handlebars-template">
    <div class="form-group mb0">
        <button type="button" class="btn btn-danger btn-sm {{cls}} rights" data-rights="{{rights}}">{{label}}</button>
    </div>
</script>

<script id="nothing" type="text/x-handlebars-template">
    <div class="{{colCls}}">
        <div class="input-group {{cls}}">
        </div>
    </div>
</script>


<script id="seatTpl" type="text/x-handlebars-template">
    <div class="{{colCls}} col-sm-4">

        <div class="form-group po-ab rights" style="width: 10%" data-placement="top" data-toggle="tooltip" data-rights="{{rights}}" data-original-title="{{eLabel}}">
            <button type="button" class="btn btn-default {{eCls}}" style="width: 100%">
                <i class="glyphicon glyphicon-th"></i>
            </button>
        </div>
        <div class="form-group po-re mb8" title="" data-placement="top" data-toggle="tooltip" data-original-title="{{label}}" style="left:13%; width: 66%">
            <input type="text" class="form-control {{cls}}" placeholder="{{label}}">
            <div class="{{cls}} seatGrid hideSeats" />
        </div>
        <div class="form-group mb8 po-ab top0 rights" data-rights="{{rights}}" data-placement="top" data-toggle="tooltip" data-original-title="{{eLabel1}}" style="right: 15px">
            <input type="checkbox" class="{{eCls1}}" data-toggle="toggle" data-on="Cho phép" data-off="Cấm" data-size="small" data-width="79">
        </div>
    </div>
</script>
<script id="button099" type="text/x-handlebars-template">
    <div class="col-md-12 col-sm-12">
        <div class="form-group mb8">           
            <button type="button" class="btn {{cls}} btn-success rights" name="{{name1}}" data-rights="{{rights}}"><i class="glyphicon {{iconCls1}}"></i> Lưu</button>
            <button type="button" class="btn {{cls}} btn-danger rights" name="{{name2}}" data-rights="{{rights}}"><i class="glyphicon {{iconCls2}}"></i> Clear</button>
        </div>
    </div>
</script>
<script id="input_hidden_khoitao" type="text/x-handlebars-template">
    <div class="form-group mb0">
        <input type="hidden" class="form-control input-sm {{cls}} rights" data-rights="{{rights}}" />
    </div>
</script>
