ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
	width:100%;
}


	ul.coach:nth-child li  {
		white-space:nowrap;
    }
	ul.coach:nth-child(2) {
		margin-top: 7px;		
    }

   
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}

.da-thanh-toan {background:black !important;color:white;}

ul.coach li table {padding:0;}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 63px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 3px;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 25%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    font-weight: 700;
    font-size: 17px !important;
    float: right;
    width: 50%;
    text-align: right;
}

.ppayment {
    width: 100%;
    float: right;
    text-align: right;
    /* background: #ddd; */
	font-size:13.5px;
	/* padding-right:2px; */
}
.pnote {
    /*height: 20px;*/
    overflow: hidden;
    clear: both;
    /* text-transform: lowercase; */
	font-size:12px !important;
	margin-top: -3px;
	/*white-space:nowrap;*/
}

.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: left;
	font-size:17px;
	margin-top:-5px !important;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
    float: left;
    width: 50%;
	font-size:17px !important;
	/* text-transform:lowercase; */
	white-space:nowrap;	
	text-align:left;
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 11px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
	
	ul.SeatTemp46.coach:nth-child(1) li:nth-child(16) .pcname, ul.SeatTemp46.coach:nth-child(1) li:nth-child(17) .pcname, ul.SeatTemp46.coach:nth-child(1) li:nth-child(18) .pcname,
	ul.SeatTemp46.coach:nth-child(1) li:nth-child(19) .pcname, ul.SeatTemp46.coach:nth-child(1) li:nth-child(20) .pcname, 
	ul.SeatTemp46.coach:nth-child(2) li:nth-child(19) .pcname, ul.SeatTemp46.coach:nth-child(2) li:nth-child(20) .pcname, ul.SeatTemp46.coach:nth-child(2) li:nth-child(21) .pcname,
	ul.SeatTemp46.coach:nth-child(2) li:nth-child(22) .pcname, ul.SeatTemp46.coach:nth-child(2) li:nth-child(23) .pcname  {
	
	width:100%;
	}
	ul.SeatTemp46.coach:nth-child(1) li:nth-child(16) .pcphone, ul.SeatTemp46.coach:nth-child(1) li:nth-child(17) .pcphone, ul.SeatTemp46.coach:nth-child(1) li:nth-child(18) .pcphone,
	ul.SeatTemp46.coach:nth-child(1) li:nth-child(19) .pcphone, ul.SeatTemp46.coach:nth-child(1) li:nth-child(20) .pcphone, 
	ul.SeatTemp46.coach:nth-child(2) li:nth-child(19) .pcphone, ul.SeatTemp46.coach:nth-child(2) li:nth-child(20) .pcphone, ul.SeatTemp46.coach:nth-child(2) li:nth-child(21) .pcphone,
	ul.SeatTemp46.coach:nth-child(2) li:nth-child(22) .pcphone, ul.SeatTemp46.coach:nth-child(2) li:nth-child(23) .pcphone  {
	
	width:100%;
	}
	ul.SeatTemp46.coach:nth-child(1) li:nth-child(16) , ul.SeatTemp46.coach:nth-child(1) li:nth-child(17) , ul.SeatTemp46.coach:nth-child(1) li:nth-child(18),
	ul.SeatTemp46.coach:nth-child(1) li:nth-child(19) , ul.SeatTemp46.coach:nth-child(1) li:nth-child(20) , 
	ul.SeatTemp46.coach:nth-child(2) li:nth-child(19) , ul.SeatTemp46.coach:nth-child(2) li:nth-child(20) , ul.SeatTemp46.coach:nth-child(2) li:nth-child(21) ,
	ul.SeatTemp46.coach:nth-child(2) li:nth-child(22) , ul.SeatTemp46.coach:nth-child(2) li:nth-child(23)  {
	
	height:86px !important;
	}
