    body {
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .paper {
        width: 29.7cm;
        min-height: 21cm;
        padding: 1cm;
        margin: 1cm auto;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border: 1px #D3D3D3 solid;
    }
    .subpage {
        height: 170mm;
    }
    
    @page {
        size: A4;
        margin: 0;
        size: landscape
    }
    @media print {
        .paper {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: none;
        }
    }

div.textLabel{
    overflow: hidden;
    padding:1px;
}
div.seat{
    overflow: hidden;
    padding:2px;
}

div.seatType{
    border: solid 1px black;
}

.hide{
    display: none;
}

.font-extraLarge{
    font-size: 22px !important; 
}

.font-large{
    font-size: 17px !important;
}

.font-medium{
    font-size: 13px !important;
}

.font-small{
    font-size: 10px !important;
}
.font-tiny{
    font-size: 7px !important;
}

.isPaid.blackBackground{
    background-color: black;
    color:white;
}
.isPaid.show{
    opacity: 1;
}

.notPaid.show{
    opacity: 0;
}

.border-none{
    border:none;
}

.border-black{
    border:solid 1px black;
}

.border-white{
    border:solid 1px white;
}

.font-monospace{
    font-family: monospace;
}

.font-tahoma{
    font-family: tahoma;
}

.font-times{
    font-family: times;
}
