.intComp .rcCpnRs{
    width: 100%;
    padding: 5px 0 7px 10px;
    border-bottom: 1px solid #ccc;
}
.intComp .odd {
    background: #FFFAFA;
}
.intComp .even {
    background: #FFE5E5;
}
.intComp .srcCpnRst {
  margin: 7px 0;
  width: 70%;
}
.intComp .rchover {
    background: #00bfff !important;
}
.intComp .rcAgtRs {
    width: 100%;
    padding: 5px 0 0 10px;
    border-bottom: 1px solid #ccc;
}
.intComp .srcAgtRst {
  margin: 7px 0;
  width: 70%;
}
.intComp .rahover {
    background: #00bfff !important;
}
