div.buttons {
    width: 97%;
    position: absolute;
    bottom: 3px;
}
ul.coach-l {padding-right: 0px !important;}
ul.coach-r {padding-left: 0px !important;}
.seat {
    height: 140px;
}

.agentinfo {
    height: auto;
}

.cinfo {
    width: 100%;
    text-align: left;
}

.cinfo .phone {
    font-size: 12px;
    font-weight: bold;
	float: right;
}

.pmInfo {
    float: right;
    padding-right: 10px;
    margin-top: 16px;
    font-size: 11px;
    margin-bottom: 0;
}
/* .seat[data-position='1_2_1'] .available, .seat[data-position='1_2_3'] .available, .seat[data-position='1_2_5'] .available,
.seat[data-position='1_3_1'] .available, .seat[data-position='1_3_3'] .available, .seat[data-position='1_3_5'] .available,
.seat[data-position='2_2_1'] .available, .seat[data-position='2_2_3'] .available, .seat[data-position='2_2_5'] .available,
.seat[data-position='2_3_1'] .available, .seat[data-position='2_3_3'] .available, .seat[data-position='2_3_5'] .available {
    background: #E6E7E7;
} */
