/*This file is for Login.Master and Laypout.Master*/

body {
    background: #E2E5EB;
}

.logo-foot img {
    margin-top: -10px;
}

.footer {
    margin-top: 18px;
    background: #1e62a3;
    height: 28px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

    .footer p {
        line-height: 26px;
        color: #98BFE6;
        font-size: 12px;
        position: absolute;
        left: 20px;
        z-index: 10;
        top: 2px;
        margin-bottom: 0;
    }

.bd-radius0 {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.txtcapcha {
    width: 75%;
    margin-bottom: 10px;
    float:right;
}

div.capcha {
    background-color: #e2e5eb !important;
}

    div.capcha img {
        height: 30px;
        width: 48%;
        float: right;
    }

#progressCover {
    width: 100%;
    height: 2000px;
    background: #FFF;
    position: absolute;
    z-index: 100000;
    margin-top: 44px;
    text-align: center;
    padding-top: 100px;
    font-size: 29px;
}

#progressFoot {
    position: fixed;
    bottom: 0;
    background: url(../../Content/images/bus.gif);
    width: 100%;
    height: 73px;
    z-index: 1000000;
    opacity: 0.6;
}
