#oTicket {
    width: 100%;
}

#oTicket table {
    
}

#oTicket table td {
    border: solid 1px black;
}
#oTicket table th {
    border: solid 1px black;
    height: 20px;
}

#oTicket table td input {
    width: 100%;
}

#oTicket table td select {
    width: 100%;
}


#oTicket table td input.full{
    height: 100%;
}

#oTicket table td input.half{
    height: 50%;
}

#oTicket table td.index {
    width: 4%;
}

#oTicket table td.name {
    width: 10%;
}

#oTicket table td.customer-info {
    width: 8%;
}

#oTicket table td.trip {
    width: 10%;
}

#oTicket table td.trip-info {
    width: 8%;
}

#oTicket table td.customer-note {
    width: 8%;
}

#oTicket table td.seat-count {
    width: 6%;
}

#oTicket table td.action {
    width: 10%;
}


#oTicket div.group-info{
    float:left;
}

