<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ThuanTienPhone" value="0909621499" />
    <add key="ThuanTienPass" value="vexere123" />
    <add key="MobifoneLoginUrl" value="https://www.mobifone.com.vn/portal/vn/users/login.jsp" />
    <add key="UsernameElementId" value="txtPhoneNo" />
    <add key="PasswordElementId" value="txtPassWord" />
    <add key="MobifoneSmsUrl" value="https://www.mobifone.com.vn/portal/vn/sms/index.jsp" />
    <add key="PhoneElementId" value="phonenumID" />
    <add key="MessageElementId" value="message" />
  </appSettings>
</configuration>