/*CSS*/

#customerManager{
    overflow-x:hidden;
    background-color:whitesmoke;
}

#customerManager .tableContainer{
    width: 100%;
    margin: 0 !important;
}

#customerManager .header{
    margin-left:15px;
}

#customerManager div.title{
    text-align:center;
}

#customerManager .tagItem{
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
    margin-left:5px;
    padding:5px;
    cursor:default;
    color:white;
    padding-top:8px;
    margin-bottom:5px;
}

#customerManager .tagItem.phone{
    background-color:#f39c12;
}
#customerManager .tagItem.name{
    background-color:#27ae60;
}
#customerManager .tagItem.email{
    background-color:#2980b9;
}

#customerManager .tagItem div.type{
    height:20px;
    width:20px;
    float: left;
    margin-top: -5px;
    margin-right: 5px;
    background-size:20px;
}

#customerManager .tagItem div.type.phone{
    background-image:url('/Content/images/filter_phone.png');
}

#customerManager .tagItem div.type.email{
    background-image:url('/Content/images/filter_email.png');
}

#customerManager .tagItem div.type.name{
    background-image:url('/Content/images/filter_name.png');
}
#customerManager .tagItem .close-button{
      float: right;
  margin-left: 10px;
  margin-top: -9px;
  cursor: pointer;
  padding: 3px;
}
#customerManager .tagItem .close-button:hover{
    font-weight:bold;

}

#customerManager .filterContainer{
    background-color:whitesmoke;
    margin-left: 0;
}

#customerManager .input-container{
    padding:2px;
    display:block;
}

#customerManager .input-container select,
#customerManager .input-container input{
    width:100%;
}

#customerManager .fromDate,
#customerManager .toDate{
    width:30% !important;
    float:left;
    margin-left:5px;
}

#customerManager select.timeRange{
    width:30% !important;
    float:left;
    margin-bottom:10px;
}

#customerManager select.timeRange.full{
    width:60% !important;
}

#customerManager table.customers{
    width:100%;
    margin-top: 10px;
}
#customerManager table.customers thead{
    background-color:#e0e0e0;
}

#customerManager table.customers th{
    font-size: 14px;
    font-weight: bold;
    color: #039;
    padding: 1px 5px;
}

#customerManager th span{
    display:inline-block;
    text-align:center;
    padding-top:5px;
}

#customerManager th div.filter{
    margin-top:2px;
    float:right;
    display:inline-block;
    background:none!important;
}

#customerManager th div.filter-asc,
#customerManager th div.filter-desc{
    position:relative;
    width:12px;
    height:12px;
    background-size:12px;
    opacity:0.2;
}

#customerManager th div.filter-asc.isselected,
#customerManager th div.filter-desc.isselected{
    opacity:1;
}

#customerManager th div.filter-asc:hover,
#customerManager th div.filter-desc:hover{
    opacity:0.7;
}

#customerManager th div.filter-asc{
    background-image:url('/Content/images/filter_up.png');
}

#customerManager th div.filter-desc{
    background-image:url('/Content/images/filter_down.png');
}


#customerManager table.customers tr{
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: 0 0;
}

#customerManager table.customers tr:hover{
    background-color:#e5e5e5;
}

#customerManager table.customers td{
    color: #669;
    border-top: 1px solid #dbdbdb;
    padding: 10px;
    cursor:default;
}


#customerManager table.customers td span.showDetail{
    cursor:pointer;
}

#customerManager .paging{
    margin-left:10px;
    margin-top:10px;
}

#customerManager .paging select {
    margin-top: 5px;
    margin-right:10px;
}

#customerManager .form-control{  
  
  height: 28px !important;
  padding: 6px 8px !important;
  font-size: 12px !important;
  background-color: #fff;
   border: 1px solid #ccc; 
   border-radius: 0px !important; 
   -webkit-box-shadow: none !important; 
   box-shadow: none !important; 
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#customerManager button{  
  height: 28px !important;
  padding: 6px 8px !important;
  font-size: 12px !important;
  background-color: #fff;
   border-radius: 0px !important; 
   -webkit-box-shadow: none !important; 
   box-shadow: none !important; 
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom:10px;
}

#customerManager button.blue{
    background-color:#2f97e2 !important;
    border: 1px solid#5daee8;
    color:white;
}

#customerManager button.searchCustomer{
    float:right;
    margin-right:10px;
}

#customerManager button.disabled{  
    background-color:gray !important;
    opacity:0.5;
    border: 1px solid gray;
}

#customerManager table .center{
    text-align:center;
}

#customerManager table .right{
    text-align:right;
}

#customerManager table .left{
    text-align:left;
}

#customerManager .gender{
      float: right;
    width: 16px;
    height: 16px;
    background-image: url('/content/images/filter_female.png');
    background-size: 16px 16px;
}

#customerManager .gender.male{
    background-image: url('/content/images/filter_male.png');
}

#customerManager .gender.female{
    background-image: url('/content/images/filter_female.png');
}

#customerManager td.information{
    text-align:center;
    padding:20px;    
}

#customerManager .filterCloud{
    margin-bottom:5px;
}

#customerManager .spinner {
  width: 30px;
  height: 30px;
  background-color: #2980b9;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@media only screen and (min-width: 768px) {
    #customerManager .mobile-only{
        display:none;
    }
    
    #customerManager .nonSupportMsg{
       display:none;
   }    
}

@media only screen and (max-width: 767px) {
    #customerManager .desktop-only{
        display:none;
    }
    
    #customerManager .nonSupportMsg{
       display:none;
    }    

    #customerManager tr .total{
        width:15% !important;
    }
    
    #customerManager tr .cancelledT{
        width:15% !important;
    }

    #customerManager tr .gone{
        width:15%;
    }

    #customerManager tr .booked{
        width:15%;
    }

    #customerManager tr .customerInfo{
        width:40% !important;
    }

    #customerManager table.customers th{
    font-size: 12px;
    padding: 1px 1px;
    }

    #customerManager th span{
        padding-top:10px;
    }

    #customerManager th div.filter{
        margin-top:2px;
    }

}

@media only screen and (max-width: 319px) {
   #customerManager .header{
       display:none;
   }
   #customerManager .filterContainer{
       display:none;
   }
   #customerManager .title{
       display:none;
   }
   #customerManager .tableContainer{
       display:none;
   }
   #customerManager .paging{
       display:none !important;
   }
   #customerManager .nonSupportMsg{
       display:block;
       padding:20px;
    }    
}
