<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="VxrAccountConnection" connectionString="metadata=res://*/Models.VxrAccountModels.csdl|res://*/Models.VxrAccountModels.ssdl|res://*/Models.VxrAccountModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=112.213.94.177;initial catalog=VXR_BMS_003;user id=nhan7285;password=Vxr@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="Log/%property{LogName}" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="===================%newline %date %newline %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="baseUrl" value="http://thuantien.vexere.com" />
    <add key="reportBaseUrl" value="Report.ashx" />
    <add key="backupBaseUrl" value="Backup.ashx" />
    <add key="serviceUrl" value="Kernel.asmx/P" />
    <!--<add key="cs" value="server=10.0.0.88,5025;database=VXR_BMS;uid=vxr_bms;pwd=P@ssword@vxr_bms" />-->
    <!--<add key="cs" value="server=10.1.0.188; database=VXR_BMS_SANDBOX;uid=dev;pwd=vxr@123" />-->
    <add key="cs" value="server=112.213.94.177; database=VXR_BMS_DEV;uid=dev;pwd=vxr@2015" />
    <!--<add key="cs" value="server=.; database=VXR_BMS; Integrated Security = true;" />-->
    <!--<add key="cs" value="server=103.254.13.6; database=VXR_BMS_BETA;uid=sa;pwd=Vexere@2015BanVeOnline#123" />-->
    <add key="isDebug" value="0" />
    <add key="MaintenanceMode" value="false" />
    <add key="KeyOne" value="ValueOne" />
    <add key="recaptcha" value="5" />
    <add key="RbQHost" value="localhost" />
    <add key="IsQueue" value="1" />
    <add key="IsUseCaptcha" value="0" />
    <add key="FiboSMSAccount" value="CL8545" />
    <add key="FiboSMSPassword" value="12356789" />
    <add key="EmailCOD" value="Admin@vexere.org" />
    <add key="SMTP_USERNAME" value="AKIAITBXMORJI5LRSAUQ" />
    <add key="SMTP_PASSWORD" value="AnAR7pNNU3Ne7SXnMXbi+8nh02R3bVyQmieO+gGPjICR" />
    <add key="HOSTEmail" value="email-smtp.us-west-2.amazonaws.com" />
    <add key="RequestLimitTime" value="5" />
    <add key="RequestLimitCount" value="500" />
    <add key="CheckPageKey" value="vxr@123" />

    <add key="IsUseApi" value="0" />
    <add key="ApiCompName" value="saoviet,minhquoc,phuonguyen,cohai" />
    <add key="ApiAllComp" value="1" />
    <!--<add key="api_url" value="https://api.vexere.com/v1"/>
    <add key="api_client_id" value="c4c969f0-2461-11e5-8bc1-1f4025cfe032"/>
    <add key="api_client_secret" value="a4ffe53c-2885-46bc-9dad-b03382d03c9a"/>-->
    <!--<add key="api_url" value="http://api-sandbox.vexere.com/v1"/>
    <add key="api_client_id" value="40767a00-1735-11e5-ad9e-a1132664b4c7"/>
    <add key="api_client_secret" value="cb7d058e-46d9-484c-abc4-41cbb3540020"/>-->

    <add key="api_url" value="http://localhost:3000/v1" />
    <add key="api_client_id" value="671a3d10-1337-11e5-9d96-15846f5e137b" />
    <add key="api_client_secret" value="fd64c8f3-2f20-45f3-bfdc-1d94fed7d16d" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ScriptHandlerFactory" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <!--<add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified"/>-->
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <!--<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />-->
      </customHeaders>
    </httpProtocol>
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>