body {font-family:inherit !important;}

.seat[data-position='2_7_1'], .seat[data-position='1_8_2'], .seat[data-position='1_9_1'], .seat[data-position='1_10_1'],
.seat[data-position='1_11_1'], .seat[data-position='2_9_1'], .seat[data-position='2_10_1'], .seat[data-position='2_11_1']
{
clear: both;
}
.seat[data-position='1_7_1'], .seat[data-position='1_7_2'], .seat[data-position='1_7_3'], .seat[data-position='1_7_4'], .seat[data-position='1_7_5'],
.seat[data-position='2_7_1'], .seat[data-position='2_7_2'], .seat[data-position='2_7_3'], .seat[data-position='2_7_4'], .seat[data-position='2_7_5'],
.seat[data-position='1_9_1'], .seat[data-position='1_9_2'], .seat[data-position='1_9_3'], .seat[data-position='1_9_4'], .seat[data-position='1_9_5'],
.seat[data-position='1_10_1'], .seat[data-position='1_10_2'], .seat[data-position='1_10_3'], .seat[data-position='1_10_4'], .seat[data-position='1_10_5'],
.seat[data-position='1_11_1'], .seat[data-position='1_11_2'], .seat[data-position='1_11_3'], .seat[data-position='1_11_4'], .seat[data-position='1_11_5'],
.seat[data-position='2_9_1'], .seat[data-position='2_9_2'], .seat[data-position='2_9_3'], .seat[data-position='2_9_4'], .seat[data-position='2_9_5'],
.seat[data-position='2_10_1'], .seat[data-position='2_10_2'], .seat[data-position='2_10_3'], .seat[data-position='2_10_4'], .seat[data-position='2_10_5'],
.seat[data-position='2_11_1'], .seat[data-position='2_11_2'], .seat[data-position='2_11_3'], .seat[data-position='2_11_4'], .seat[data-position='2_11_5']
{width: 20% !important;}
.seat[data-position='1_8_2'], .seat[data-position='1_8_4'], .seat[data-position='2_8_2'], .seat[data-position='2_8_4'] {width: 25% !important;}
/* .theme824 .seat[data-position='1_7_5'] .available{background:#E6E7E7}.theme824 div.buttons{width:100%;position:absolute;bottom:3px}.theme824 .seat{height:140px}.theme824 .agentinfo{height:auto}.theme824 .cinfo{width:100%;text-align:left}.theme824 .cinfo .phone{font-size:12px;font-weight:700}.theme824 .pmInfo{float:right;padding-right:10px;margin-top:16px;font-size:11px;margin-bottom:0}
 */
.coach {width:100% !important;}
.buttons {
    width: 97%;
    position: absolute;
    bottom: 3px;
}

.seat {
    height: 155px;
}

.agentinfo {
    height: auto;
}

.cinfo {
    width: 100%;
    text-align: left;
}

.cinfo .phone {
    font-size: 12px;
    font-weight: bold;
}

.pmInfo {
    float: right;
    padding-right: 10px;
    margin-top: 16px;
    font-size: 11px;
    margin-bottom: 0;
}


/* .seat[data-position='1_7_3'] .available, .seat[data-position='1_7_5'] .available, .seat[data-position='1_8_5'] .available,
.seat[data-position='2_7_3'] .available, .seat[data-position='2_7_5'] .available, .seat[data-position='2_8_3'] .available, 
.seat[data-position='2_8_5'] .available {
    background: #E6E7E7;
} */

