#report .filter label {
    padding-left: 0;
    padding-top: 7px;
}

#report .table-baocao .danger-total h3, .table-baocao .success-total h4 {
    margin: 0 0;
}

#report .table-baocao td.danger-total {
    background-color: #FFA5A5 !important;
    border-top: 2px #EC5B5B solid;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
}

/* CSS Style for sub row total level 4*/
#report .table-baocao td.warning-sub-total {
    background-color: #9575CD !important;
    font-size: 14px;
    line-height:1.1;
    color: #EEFFE2;
    font-weight:bold;
}

/* CSS style for sub row total level 3*/
#report .table-baocao td.success-sub-sub-total {
    background-color: #039BE5 !important;
    font-size: 15px;
    line-height:1.1;
    color: #EEFFE2;
    font-weight:bold;
}

#report .table-baocao td.danger-sub-total {
    background-color: #4CAF50 !important;
    font-size: 17px;
    line-height: 1.1;
    font-weight: bold;
    color: #EEFFE2;
}

#report .table-baocao td.success-total {
    background-color: #E2CB54 !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    color: #242424;
}

#report .table-baocao td.sub-total {
    /*background-color: #dff0ff !important;*/
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}

#report .mw120 {
    width: 120px !important;
}

#report .rptTDHeader {
    background: linear-gradient(to bottom, rgba(242, 245, 246, 1) 0, rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    line-height: 1.42857 !important;
    font-weight: bold;
}

.table-baocao .danger-total h3, .table-baocao .success-total h4 {
    margin: 0 0;
}

.table-baocao tr.danger-total td {
    background-color: #FFA5A5;
    border-top: 2px #EC5B5B solid;
}

.table-baocao tr.success-total td {
    background-color: #dff0d8 !important;
}

.mw120 {
    width: 120px !important;
}

/*table {
background-color: #F2F2F2 !important;
}*/


.spinner {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: lightseagreen;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

div.largeResult {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.filter-bar{
    border-bottom: solid 1px rgba(0,0,0,0.2);
}

.btn-filter{
    padding-right:15px;
}