
ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
	width:49.4%;
}
ul.SeatTemp48.coach:nth-child(2) {
	margin-top:5px;
}
ul.SeatTemp44.coach {
    list-style: none;
    margin: 0;
    padding: 0;
	width:100%;
}
ul.SeatTemp48.coach {
    list-style: none;
    margin: 0;
    padding: 0;
	width:100%;
}
ul.SeatTemp49.coach {
    list-style: none;
    margin: 0;
    padding: 0;
	width:49.4%;
}
	ul.coach:nth-child li  {
		white-space:nowrap;
    }
	ul.coach:nth-child(2) {
		margin-left: 5px;		
    }
	ul.SeatTemp48.coach:nth-child(2) {
		margin-left: 0 !important;		
    }
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}

.da-thanh-toan {background:black !important;color:white;}

ul.coach li table {padding:0;}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 87px;
}
.SeatTemp48 .print-seat {
    height: 78px !important;
}

.SeatTemp49 .print-seat {
    height: 104px !important;
}
.SeatTemp49 .col-md-6 {
    height: 95px !important;
}
.SeatTemp44 .print-seat {
    height: 86px !important;
}
    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 3px;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
	white-space: nowrap;
    width: 35%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    font-weight: 700;
    font-size: 13px !important;
    float: right;
    width: 100%;
    text-align: left;
}
.SeatTemp44 .ppayment {
    width: 100%;
    float: right;
    text-align: right;
    margin-top:-5px;
	font-size:13.5px;
}
.ppayment {
    width: 100%;
    float: right;
    text-align: right;
    /* background: #ddd; */
	font-size:13.5px;
	/* padding-right:2px; */
}
.pnote {
    /*height: 20px;*/
    overflow: hidden;
    clear: both;
    /* text-transform: lowercase; */
	font-size:14px !important;
	margin-top: -3px;
	/*white-space:nowrap;*/
}

.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: right;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
    float: left;
    width: 25%;
	font-size:15px !important;
	/* text-transform:lowercase; */
	white-space:nowrap;	
}
.SeatTemp44 .pcname {
    float: left;
    width: 25%;
	font-size:13px !important;
	/* text-transform:lowercase; */
	white-space:nowrap;	
	margin-top: -23px !important;
}
.SeatTemp48 .pcname {
    float: left;
    width: 25%;
	font-size:13px !important;
	/* text-transform:lowercase; */
	white-space:nowrap;	
	margin-top: -20px !important;
}
.SeatTemp48 .sdt {margin-top:-7px;}
.SeatTemp44 .sdt {margin-top:-17px;}
.SeatTemp49 .sdt {font-size:15px !important;}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 11px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
	
