ul.coach { list-style: none; margin: 0; padding: 0;} 
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 { float: left; } 
.col-md-12 { width: 100%; } 
.col-md-6 {width: 49.7%;} 
.col-md-4 {width: 33.3333%;} 
.col-md-3 {width: 25%;} 
.vcol-md-5 {width: 24%;}
.print-noseat {width: 26.7px !important;}
.print-seat {height: 116px;} 
.print-seat table {width: 100%; height: 116px;border-top: 1px solid #000000;border-left: 1px solid #000000; padding: 3px;overflow: hidden;} 
.print-seat table td {padding-top: 0;padding-bottom: 0;vertical-align: top;} .br {border-right: 1px solid #000000;} 
.bb {border-bottom: 1px solid #000000;} 
.print-seat p {margin: 0;font-size: 12px;line-height: 16px;}
.pseat-code {width: 15%;font-weight: 700;text-transform: uppercase;font-size: 14px !important;float: left;}
.pseat-no {font-weight: 400;font-size: 14px !important;}
.pcphone {font-weight: 700;padding-top:3px;}
.ppickup {width: 85%;float: right;text-align: right;font-size:16px !important;white-space: nowrap; overflow: hidden;} 
.pnote {font-size: 23px !important; padding-top: 5px;}
.print-title {width: 100%; margin-bottom: 10px;} 
strong.title { text-transform: uppercase;} 
.pcname {float: left; width: 100%; font-size: 18px !important} 
.pcphone {float: left; width: 100%; text-align: left; font-size: 22px !important; height: 17px !important; line-height: 22px}
.pcname .ntk-pertrip {text-transform: uppercase; font-size: 15px !important}
.list h3 {text-align: center;} 
.list table, .list th, .list td {border: 1px solid black;text-align: center;line-height: 28px; } 
.list table {border-collapse: collapse;width: 100%;}
.list p {text-align: center;text-transform: uppercase;font-weight: 700;} 
.paid {/*background: #b7b7b7;*/background: none;} .exported {/*background: #b7b7b7;*/}
/* ul.coach li:nth-child(4), ul.coach li:nth-child(5), ul.coach li:nth-child(6), ul.coach li:nth-child(10), ul.coach li:nth-child(11), ul.coach li:nth-child(12), ul.coach li:nth-child(16), ul.coach li:nth-child(17), ul.coach li:nth-child(18), ul.coach li:nth-child(22), ul.coach li:nth-child(23), ul.coach li:nth-child(24), ul.coach li:nth-child(28), ul.coach li:nth-child(29), ul.coach li:nth-child(30), ul.coach li:nth-child(34), ul.coach li:nth-child(35), ul.coach li:nth-child(36)  { background: #E7E7E7;}
 */
ul.coach li {overflow:hidden;}
ul.coach li:nth-child(41), ul.coach li:nth-child(42), ul.coach li:nth-child(43), ul.coach li:nth-child(44),
ul.coach li:nth-child(45), ul.coach li:nth-child(46), ul.coach li:nth-child(47), ul.coach li:nth-child(48) {
	display: none;
	}
	
ul.coach li:nth-child(2), ul.coach li:nth-child(7), ul.coach li:nth-child(12), ul.coach li:nth-child(17),
ul.coach li:nth-child(22), ul.coach li:nth-child(27), ul.coach li:nth-child(32) {
	border-right: 1px solid #000000;
	}
ul.coach li:nth-child(36), ul.coach li:nth-child(37),
ul.coach li:nth-child(38), ul.coach li:nth-child(39), ul.coach li:nth-child(40) {
	border-bottom: 1px solid #000000;
	width: 20% !important;
	}
ul.coach li:nth-child(1) table .pseat-code {
	height: 89px;
	width: 150px;
	text-align: center;
	padding-left: 35px;
	font-size: 44px !important;
	padding-top: 39px;
	border-right: 0;
	} 
ul.coach li:nth-child(2) table .pseat-code {
	height: 89px;
	width: 147px;
	
	margin-left: 10px;
	font-size: 44px !important;
	padding-top: 39px;
	border-left: 0;
	} 
ul.coach li:nth-child(9) table .pseat-code {
	height: 23px;
	width: 150px;
	text-align: center;
	padding-top: 29px;
	font-size: 1px !important;
	} 			
 
 ul.coach li:nth-child(14) table .pseat-code {
	height: 89px;
	width: 147px;
	
	margin-left: 48px;
	font-size: 44px !important;
	padding-top: 39px;
	border-right: 0;
	}
ul.coach li:nth-child(15) table .pseat-code {
	height: 89px;
	width: 102px;
	border-left: 0;
	margin-left: 10px;
	font-size: 44px !important;
	padding-top: 39px;
	} 	
ul.coach li:nth-child(36), ul.coach li:nth-child(37), ul.coach li:nth-child(38), ul.coach li:nth-child(39), ul.coach li:nth-child(40) {
	width: 138px !important;
	overflow: hidden;
}
/* ul.coach li:nth-child(40){border-right:1px solid #000000;} */
ul.coach li:nth-child(1) table, ul.coach li:nth-child(14) table{border-right: 0px;}
ul.coach li:nth-child(2) table, ul.coach li:nth-child(15) table{border-left: 0px;}
ul.coach li:nth-child(9) table {border-bottom: 0px;}
ul.coach li:nth-child(14) table {border-top: 0px;}
/* ul.coach:nth-child(1) table tbody tr:nth-child(1), ul.coach:nth-child(2) table tbody tr:nth-child(1) {
	height: 20px;}
	
ul.coach:nth-child(1) li:nth-child(19) table tbody tr:nth-child(1), ul.coach:nth-child(1) li:nth-child(18) table tbody tr:nth-child(1),
ul.coach:nth-child(1) li:nth-child(17) table tbody tr:nth-child(1), ul.coach:nth-child(1) li:nth-child(16) table tbody tr:nth-child(1),
ul.coach:nth-child(2) li:nth-child(19) table tbody tr:nth-child(1), ul.coach:nth-child(2) li:nth-child(18) table tbody tr:nth-child(1),
ul.coach:nth-child(2) li:nth-child(17) table tbody tr:nth-child(1), ul.coach:nth-child(2) li:nth-child(16) table tbody tr:nth-child(1) {
 */