/* .seat[data-position='1_3_3'] .available, .seat[data-position='1_3_5'] .available, .seat[data-position='1_7_1'] .available,
.seat[data-position='2_1_5'] .available, .seat[data-position='2_2_5'] .available, .seat[data-position='2_3_5'] .available,
.seat[data-position='2_4_5'] .available, .seat[data-position='2_6_2'] .available, .seat[data-position='2_3_1'] .available,
.seat[data-position='2_4_1'] .available, .seat[data-position='2_5_1'] .available, .seat[data-position='2_6_1'] .available,
.seat[data-position='2_5_5'] .available, .seat[data-position='2_6_5'] .available, .seat[data-position='2_6_4'] .available {
    background: #E6E7E7;
} */
div.buttons {
    width: 97%;
    position: absolute;
    bottom: 3px;
}

.seat {
    height: 140px;
}

.agentinfo {
    height: auto;
}

.cinfo {
    width: 100%;
    text-align: left;
}

.cinfo .phone {
    font-size: 12px;
    font-weight: bold;
}

.pmInfo {
    float: right;
    padding-right: 10px;
    margin-top: 16px;
    font-size: 11px;
    margin-bottom: 0;
}
