ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
	width: 100%;
}

 ul.coach li {overflow:hidden;}

   ul.SeatTemp46.coach:nth-child(2) {
        margin-left: 10px;
    } 

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 49.4% !important;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}
.no-background {background:none !important;}
.print-seat {
    height: 88px;
}
.SeatTemp29 .print-seat {
    height: 105px !important;
}
    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 3px;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 25%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
}
.gop {width:70%; float:right;}
.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    font-weight: 700;
    font-size: 16px !important;
   width: 100%;
    text-align: left;
}

.ppayment {
    width: 55%;
    float: right;
    text-align: right;
    background: #ddd;
}

.pnote {
    height: 20px;
    /*overflow: hidden;*/
    clear: both;
    text-transform: lowercase;
	margin: -15px 0;
	line-height: 11px;
	margin-top: -2px !important;
	/* white-space: nowrap; */
}

.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: right;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
    float: left;
    width: 100%;
	font-size: 15px !important;
	margin-top: -1px !important;;
}
.pInfo {margin-top: -5px !important; white-space: nowrap;text-transform: lowercase;}
.SeatTemp29 .pInfo {margin-top: -5px !important;}
.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
		
	

		.SeatTemp46.coach:nth-child(1) li:nth-child(21) , .SeatTemp46.coach:nth-child(1) li:nth-child(22) ,
		.SeatTemp46.coach:nth-child(1) li:nth-child(23) {
		height: 100px;
		width: 99px !important;
		/* float: right; */
		}
		.SeatTemp46.coach:nth-child(1) li:nth-child(16), .SeatTemp46.coach:nth-child(2) li:nth-child(16), .SeatTemp46.coach:nth-child(2) li:nth-child(17) {height:100px !important;}
			.SeatTemp46.coach:nth-child(1) li:nth-child(21) {clear:both; margin-left:197px;}
		
		/* ul.coach:nth-child(1) li:nth-child(21) table {border-right: 0px;}
		ul.coach:nth-child(1) li:nth-child(22) table {border-left: 0px;}
		ul.coach:nth-child(1) li:nth-child(23) table {border-right: 1px solid black;} */
		.SeatTemp46.coach:nth-child(1) li:nth-child(16) table, .SeatTemp46.coach:nth-child(1) li:nth-child(17) table  {border-bottom: 1px solid black;}
		
		.SeatTemp46.coach:nth-child(1) li:nth-child(16) table, .SeatTemp46.coach:nth-child(2) li:nth-child(16) table, .SeatTemp46.coach:nth-child(2) li:nth-child(17) table {height:100px !important;}
		
		.SeatTemp46.coach:nth-child(1) li:nth-child(17) , .SeatTemp46.coach:nth-child(1) li:nth-child(18) ,
		.SeatTemp46.coach:nth-child(1) li:nth-child(19) , .SeatTemp46.coach:nth-child(1) li:nth-child(20) ,
		.SeatTemp46.coach:nth-child(1) li:nth-child(21),
		.SeatTemp46.coach:nth-child(2) li:nth-child(18) ,
		.SeatTemp46.coach:nth-child(2) li:nth-child(19) , .SeatTemp46.coach:nth-child(2) li:nth-child(20) ,
		.SeatTemp46.coach:nth-child(2) li:nth-child(21)  , .SeatTemp46.coach:nth-child(2) li:nth-child(22), .SeatTemp46.coach:nth-child(2) li:nth-child(23) {
		height: 100px;
		}
		.SeatTemp46.coach:nth-child(1) li:nth-child(16) .pcname, .SeatTemp46.coach:nth-child(1) li:nth-child(17) .pcname ,
		.SeatTemp46.coach:nth-child(1) li:nth-child(18) .pcname , .SeatTemp46.coach:nth-child(1) li:nth-child(19) .pcname ,
		.SeatTemp46.coach:nth-child(1) li:nth-child(20) .pcname, .SeatTemp46.coach:nth-child(1) li:nth-child(21) .pcname, .SeatTemp46.coach:nth-child(1) li:nth-child(22) .pcname, .SeatTemp46.coach:nth-child(1) li:nth-child(23) .pcname,

		.SeatTemp46.coach:nth-child(2) li:nth-child(19) .pcname , .SeatTemp46.coach:nth-child(2) li:nth-child(20) .pcname ,
		.SeatTemp46.coach:nth-child(2) li:nth-child(21) .pcname , .SeatTemp46.coach:nth-child(2) li:nth-child(22) .pcname, .SeatTemp46.coach:nth-child(2) li:nth-child(23) .pcname {
		font-size: 12px !important;
		}
		.SeatTemp46.coach:nth-child(1) li:nth-child(16) .pcphone, .SeatTemp46.coach:nth-child(1) li:nth-child(17) .pcphone ,
		.SeatTemp46.coach:nth-child(1) li:nth-child(18) .pcphone , .SeatTemp46.coach:nth-child(1) li:nth-child(19) .pcphone ,
		.SeatTemp46.coach:nth-child(1) li:nth-child(20) .pcphone, .SeatTemp46.coach:nth-child(1) li:nth-child(21) .pcphone, .SeatTemp46.coach:nth-child(1) li:nth-child(22) .pcphone, .SeatTemp46.coach:nth-child(1) li:nth-child(23) .pcphone,

		.SeatTemp46.coach:nth-child(2) li:nth-child(19) .pcphone , .SeatTemp46.coach:nth-child(2) li:nth-child(20) .pcphone ,
		.SeatTemp46.coach:nth-child(2) li:nth-child(21) .pcphone , .SeatTemp46.coach:nth-child(2) li:nth-child(22) .pcphone, .SeatTemp46.coach:nth-child(2) li:nth-child(23) .pcphone {
		font-size: 15px !important;
		}
		.SeatTemp46.coach:nth-child(1) li:nth-child(16) .ntk-pertrip, .SeatTemp46.coach:nth-child(1) li:nth-child(17) .ntk-pertrip ,
		.SeatTemp46.coach:nth-child(1) li:nth-child(18) .ntk-pertrip , .SeatTemp46.coach:nth-child(1) li:nth-child(19) .ntk-pertrip ,
		.SeatTemp46.coach:nth-child(1) li:nth-child(20) .ntk-pertrip, .SeatTemp46.coach:nth-child(1) li:nth-child(21) .ntk-pertrip, .SeatTemp46.coach:nth-child(1) li:nth-child(22) .ntk-pertrip, .SeatTemp46.coach:nth-child(1) li:nth-child(23) .ntk-pertrip,

		.SeatTemp46.coach:nth-child(2) li:nth-child(19) .ntk-pertrip , .SeatTemp46.coach:nth-child(2) li:nth-child(20) .ntk-pertrip ,
		.SeatTemp46.coach:nth-child(2) li:nth-child(21) .ntk-pertrip , .SeatTemp46.coach:nth-child(2) li:nth-child(22) .ntk-pertrip, .SeatTemp46.coach:nth-child(2) li:nth-child(23) .ntk-pertrip {
		font-size: 12px !important;
		}
		
		.SeatTemp29.coach:nth-child(1) li:nth-child(25) , .SeatTemp29.coach:nth-child(1) li:nth-child(26) ,
		.SeatTemp29.coach:nth-child(1) li:nth-child(27) , .SeatTemp29.coach:nth-child(1) li:nth-child(28) ,
		.SeatTemp29.coach:nth-child(1) li:nth-child(29) {
		height: 125px !important;
		}