.message {
    /*width: 49% !important;*/
    margin: 0 0 5px 0 !important;
    padding: 5px 10px !important;
    font-style: italic !important;
    /*font-size: 12px !important;*/
    /*display: none;*/
}

.message-manager {
    width: 49% !important;
    margin: 0 0 5px 0 !important;
    padding: 5px 10px !important;
    font-style: italic !important;
    font-size: 12px !important;
    display: none;
}

.message-width93 {
    width: 93% !important;
}