/* div.buttons {
    width: 51% !important;
}

div.cinfo {
    width: 49% !important;
} */
/* .seat[data-position='1_1_1'] .available, .seat[data-position='1_1_2'] .available,
.seat[data-position='1_6_2'] .available, .seat[data-position='1_6_3'] .available {
    background: #E6E7E7; */

/* .seat[data-position='1_5_4'] .available {
    background: #E6E7E7;
} */

.seat .lock .clearfix {height: 104px;}

.seat .lock .clearfix .seat-code {
	height: 100px;
	width: 293px;
	line-height: 106px;
	margin-left: 151px;
	font-size: 47px !important;
	}

div.buttons {
    width: 97%;
    position: absolute;
    bottom: 3px;
}

.seat {
    height: 140px;
}

.agentinfo {
    height: auto;
}

.cinfo {
    width: 100%;
    text-align: left;
}

.cinfo .phone {
    font-size: 15px;
    font-weight: bold;
}

.pmInfo {
    float: right;
    padding-right: 10px;
    margin-top: 16px;
    font-size: 11px;
    margin-bottom: 0;
}
