/*This file is for Login.Master and Laypout.Master*/

body {
    background: #E2E5EB;
}

.logo-foot img {
    margin-top: -10px;
}

.footer {
    margin-top: 18px;
    background: #1e62a3;
    height: 28px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer p {
    line-height: 26px;
    color: #98BFE6;
    font-size: 12px;
    position: absolute;
    left: 20px;
    z-index: 10;
    top: 2px;
    margin-bottom: 0;
}

.bd-radius0{
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

