.navbar {
    margin-bottom: 0;
    min-height: 40px !important;
}

.navbar-brand {
    padding: 12px 15px;
    font-size: 17px;
    line-height: 17px;
    height: auto;
}

.navbar-form {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-nav > li > a {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.navbar-default {
    background: #1e62a3;
}

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand:hover {
        color: #B6D1FF;
    }

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    background: #115888;
    color: #fff;
}