.btn:active {
    border: 1px rgba(0,0,0,0.7) solid !important;
}

    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: none !important;
    }


.btn-disabled {
    background-color: #ddd !important;
    border-color: #ddd !important;
    color: black !important;
}

button.btn.dropdown-toggle.selectpicker:focus {
    outline: 0 !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.btn-close-new {
    opacity: 1 !important;
    text-shadow: none !important;
    color: orange !important;
    background-color: white !important;
    border-radius: 50% !important;
    padding: 0 5px !important;
}

    .btn-close-new:hover {
        color: blue !important;
    }

    .btn-close-new:focus {
        color: red !important;
        outline: 0 !important;
    }
