.modal-new-width {
    width: 90%;
}

.modal-new-width-25 {
    width: 25%;
}

.modal-new-width-50 {
    width: 50%;
}

.modal-header2 {
    background: #f79400 !important;
    /*background: #1e62a3 !important;*/
    padding: 5px 10px 5px 20px !important;
}

.modal-body2 {
    padding-top: 0;
}

.modal-header3 {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal-title2 {
    color: inherit;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
}

.modal-new-width {
	width: 90%;
}

.btn-close-new2 {
    opacity: 1 !important;
    text-shadow: none !important;
    color: orange !important;
    background-color: white !important;
    border-radius: 50% !important;
    padding: 0 5px !important;
    margin: -3px -7px 0 !important;
}

    .btn-close-new2:hover {
        color: blue !important;
    }

    .btn-close-new2:focus {
        color: red !important;
        outline: 0 !important;
    }

.panel-body {
    padding: 10px 15px !important;
}
