ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
}

   

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}
//.no-background {background:none !important;}
.print-seat {
    height: 85px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 3px;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 45%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    font-weight: 700;
    font-size: 16px !important;
    float: right;
    width: 100%;
    text-align: left;
}

.ppayment {
    width: 55%;
    float: right;
    text-align: right;
    background: black;
	color: white;
}

.pnote {
    height: 20px;
    /*overflow: hidden;*/
    clear: both;
    text-transform: lowercase;
	font-weight: bold;
}

.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: right;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
    float: left;
    width: 100%;
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
		ul.coach:nth-child(1) li:nth-child(19) , ul.coach:nth-child(1) li:nth-child(20) ,
		ul.coach:nth-child(1) li:nth-child(21) , ul.coach:nth-child(1) li:nth-child(22) ,
		ul.coach:nth-child(1) li:nth-child(23),
		ul.coach:nth-child(2) li:nth-child(23) ,
		ul.coach:nth-child(2) li:nth-child(19) , ul.coach:nth-child(2) li:nth-child(20) ,
		ul.coach:nth-child(2) li:nth-child(21)  , ul.coach:nth-child(2) li:nth-child(22) {
		height: 125px;
		}
		ul.coach:nth-child(1) li:nth-child(22) table .pcname, ul.coach:nth-child(1) li:nth-child(23) table .pcname ,
		ul.coach:nth-child(1) li:nth-child(19) table .pcname, ul.coach:nth-child(1) li:nth-child(20) table .pcname ,
		ul.coach:nth-child(1) li:nth-child(21) table .pcname,
		ul.coach:nth-child(2) li:nth-child(23) table .pcname ,
		ul.coach:nth-child(2) li:nth-child(19) table .pcname, ul.coach:nth-child(2) li:nth-child(20) table .pcname ,
		ul.coach:nth-child(2) li:nth-child(21) table .pcname, ul.coach:nth-child(2) li:nth-child(22) table .pcname {
		white-space: nowrap;
		text-transform: lowercase;
		}
		/* ul.coach:nth-child(1) li:nth-child(17) table .ntk-pertrip, ul.coach:nth-child(1) li:nth-child(18) table .ntk-pertrip ,
		ul.coach:nth-child(1) li:nth-child(19) table .ntk-pertrip, ul.coach:nth-child(1) li:nth-child(20) table .ntk-pertrip ,
		ul.coach:nth-child(1) li:nth-child(21) table .ntk-pertrip,
		ul.coach:nth-child(2) li:nth-child(18) table .ntk-pertrip ,
		ul.coach:nth-child(2) li:nth-child(19) table .ntk-pertrip, ul.coach:nth-child(2) li:nth-child(20) table .ntk-pertrip ,
		ul.coach:nth-child(2) li:nth-child(21) table .ntk-pertrip , ul.coach:nth-child(2) li:nth-child(22) table .ntk-pertrip {
		font-size: 13px;
		} */
		ul.coach:nth-child(1) li:nth-child(22) table .ppayment, ul.coach:nth-child(1) li:nth-child(23) table .ppayment ,
		ul.coach:nth-child(1) li:nth-child(19) table .ppayment, ul.coach:nth-child(1) li:nth-child(20) table .ppayment ,
		ul.coach:nth-child(1) li:nth-child(21) table .ppayment,
		ul.coach:nth-child(2) li:nth-child(23) table .ppayment ,
		ul.coach:nth-child(2) li:nth-child(19) table .ppayment, ul.coach:nth-child(2) li:nth-child(20) table .ppayment ,
		ul.coach:nth-child(2) li:nth-child(21) table .ppayment, ul.coach:nth-child(2) li:nth-child(22) table .ppayment {
		font-size: 13.5px !important
		}
		ul.coach:nth-child(1) li:nth-child(22) table .pcphone, ul.coach:nth-child(1) li:nth-child(23) table .pcphone ,
		ul.coach:nth-child(1) li:nth-child(19) table .pcphone, ul.coach:nth-child(1) li:nth-child(20) table .pcphone ,
		ul.coach:nth-child(1) li:nth-child(21) table .pcphone,
		ul.coach:nth-child(2) li:nth-child(23) table .pcphone ,
		ul.coach:nth-child(2) li:nth-child(19) table .pcphone, ul.coach:nth-child(2) li:nth-child(20) table .pcphone ,
		ul.coach:nth-child(2) li:nth-child(21) table .pcphone, ul.coach:nth-child(2) li:nth-child(22) table .pcphone {
		font-size: 15px !important
		}
		ul.coach:nth-child(1) li:nth-child(22) table .pnote, ul.coach:nth-child(1) li:nth-child(23) table .pnote ,
		ul.coach:nth-child(1) li:nth-child(19) table .pnote, ul.coach:nth-child(1) li:nth-child(20) table .pnote ,
		ul.coach:nth-child(1) li:nth-child(21) table .pnote,
		ul.coach:nth-child(2) li:nth-child(23) table .pnote ,
		ul.coach:nth-child(2) li:nth-child(19) table .pnote, ul.coach:nth-child(2) li:nth-child(20) table .pnote ,
		ul.coach:nth-child(2) li:nth-child(21) table .pnote, ul.coach:nth-child(2) li:nth-child(22) table .pnote {
		margin: -15px 0;
		line-height: 20px;
		}


    
    

    

