ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
	/* margin-top:-15px !important; */
}
ul.coach li {overflow: hidden;}
ul.coach:nth-child(1) {
        margin-top: -10px !important;
    } 
ul.coach:nth-child(2) {
        margin-top: 8px !important;
    } 


.cuser {white-space:nowrap;}
.col-md-spec {
    width: 15.5% !important;
}

.da-thanh-toan {
    background: black !important;
    color: white;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5, .col-md-spec {
    float: left;
}

.col-md-12 {
    width: 100%;
	/* margin-top: -21px; */
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 75px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 0;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 18%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
	text-align: center;
	padding-right:5px;
}
.tt {width:82%;}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    /* font-weight: 700; */
    font-size: 16px !important;
    float: right;
    width: 100%;
    text-align: right;
    /* margin-top: -3px !important; */
	white-space:nowrap;
}

.ppayment {
    width: 85%;
    float: right;
    text-align: right;
}

.pnote {
   /*  height: 20px; */
     text-transform: lowercase;
   /*  margin: -15px 0; */
    line-height: 16px;
    width: 100%;
    font-size: 14px;
	margin-top: -2px !important;
	 white-space:nowrap; 
}
.ghichu {font-size: 14px; white-space: nowrap;margin-top:9px !important;}
.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: left;
	font-size: 14px !important;
	margin-top: -6px !important;
	 text-transform: lowercase;
	 white-space:nowrap;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
	text-align: left;
    float: left;
    width: 100%;
    font-size: 14px !important;
    /* margin-top: 4px !important; */
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

.print-noseat {
    height: 64px;
    width: 49px !important;
}
ul.coach:nth-child(1) li:nth-child(1), ul.coach:nth-child(1) li:nth-child(3), 
ul.coach:nth-child(1) li:nth-child(6), ul.coach:nth-child(1) li:nth-child(8), 
ul.coach:nth-child(1) li:nth-child(11), ul.coach:nth-child(1) li:nth-child(13), 
ul.coach:nth-child(1) li:nth-child(16), ul.coach:nth-child(1) li:nth-child(18), 
ul.coach:nth-child(1) li:nth-child(21), ul.coach:nth-child(1) li:nth-child(23), 
ul.coach:nth-child(2) li:nth-child(1), ul.coach:nth-child(2) li:nth-child(3), 
ul.coach:nth-child(2) li:nth-child(6), ul.coach:nth-child(2) li:nth-child(8), 
ul.coach:nth-child(2) li:nth-child(11), ul.coach:nth-child(2) li:nth-child(13), 
ul.coach:nth-child(2) li:nth-child(16), ul.coach:nth-child(2) li:nth-child(18), 
ul.coach:nth-child(2) li:nth-child(21), ul.coach:nth-child(2) li:nth-child(23)
{border-right: 1px solid #000000;}

ul.coach:nth-child(1) li:nth-child(1), ul.coach:nth-child(1) li:nth-child(3), ul.coach:nth-child(1) li:nth-child(5),
ul.coach:nth-child(1) li:nth-child(6), ul.coach:nth-child(1) li:nth-child(8), ul.coach:nth-child(1) li:nth-child(10),
ul.coach:nth-child(1) li:nth-child(11), ul.coach:nth-child(1) li:nth-child(13), ul.coach:nth-child(1) li:nth-child(15),
ul.coach:nth-child(1) li:nth-child(16), ul.coach:nth-child(1) li:nth-child(18), ul.coach:nth-child(1) li:nth-child(20),
ul.coach:nth-child(1) li:nth-child(21), ul.coach:nth-child(1) li:nth-child(23), ul.coach:nth-child(1) li:nth-child(25),
ul.coach:nth-child(2) li:nth-child(1), ul.coach:nth-child(2) li:nth-child(3), ul.coach:nth-child(2) li:nth-child(5),
ul.coach:nth-child(2) li:nth-child(6), ul.coach:nth-child(2) li:nth-child(8), ul.coach:nth-child(2) li:nth-child(10),
ul.coach:nth-child(2) li:nth-child(11), ul.coach:nth-child(2) li:nth-child(13), ul.coach:nth-child(2) li:nth-child(15),
ul.coach:nth-child(2) li:nth-child(16), ul.coach:nth-child(2) li:nth-child(18), ul.coach:nth-child(2) li:nth-child(20),
ul.coach:nth-child(2) li:nth-child(21), ul.coach:nth-child(2) li:nth-child(23), ul.coach:nth-child(2) li:nth-child(25)
{width: 197px !important;height: 64px !important;}

ul.coach:nth-child(1) li:nth-child(1) .pcname, ul.coach:nth-child(1) li:nth-child(3) .pcname, ul.coach:nth-child(1) li:nth-child(5) .pcname,
ul.coach:nth-child(1) li:nth-child(6) .pcname, ul.coach:nth-child(1) li:nth-child(8) .pcname, ul.coach:nth-child(1) li:nth-child(10) .pcname,
ul.coach:nth-child(1) li:nth-child(11) .pcname, ul.coach:nth-child(1) li:nth-child(13) .pcname, ul.coach:nth-child(1) li:nth-child(15) .pcname,
ul.coach:nth-child(1) li:nth-child(16) .pcname, ul.coach:nth-child(1) li:nth-child(18) .pcname, ul.coach:nth-child(1) li:nth-child(20) .pcname,
ul.coach:nth-child(1) li:nth-child(21) .pcname, ul.coach:nth-child(1) li:nth-child(23) .pcname, ul.coach:nth-child(1) li:nth-child(25) .pcname,
ul.coach:nth-child(2) li:nth-child(1) .pcname, ul.coach:nth-child(2) li:nth-child(3) .pcname, ul.coach:nth-child(2) li:nth-child(5) .pcname,
ul.coach:nth-child(2) li:nth-child(6) .pcname, ul.coach:nth-child(2) li:nth-child(8) .pcname, ul.coach:nth-child(2) li:nth-child(10) .pcname,
ul.coach:nth-child(2) li:nth-child(11) .pcname, ul.coach:nth-child(2) li:nth-child(13) .pcname, ul.coach:nth-child(2) li:nth-child(15) .pcname,
ul.coach:nth-child(2) li:nth-child(16) .pcname, ul.coach:nth-child(2) li:nth-child(18) .pcname, ul.coach:nth-child(2) li:nth-child(20) .pcname,
ul.coach:nth-child(2) li:nth-child(21) .pcname, ul.coach:nth-child(2) li:nth-child(23) .pcname, ul.coach:nth-child(2) li:nth-child(25) .pcname
{width: 50% !important;}

ul.coach:nth-child(1) li:nth-child(1) .pcphone, ul.coach:nth-child(1) li:nth-child(3) .pcphone, ul.coach:nth-child(1) li:nth-child(5) .pcphone,
ul.coach:nth-child(1) li:nth-child(6) .pcphone, ul.coach:nth-child(1) li:nth-child(8) .pcphone, ul.coach:nth-child(1) li:nth-child(10) .pcphone,
ul.coach:nth-child(1) li:nth-child(11) .pcphone, ul.coach:nth-child(1) li:nth-child(13) .pcphone, ul.coach:nth-child(1) li:nth-child(15) .pcphone,
ul.coach:nth-child(1) li:nth-child(16) .pcphone, ul.coach:nth-child(1) li:nth-child(18) .pcphone, ul.coach:nth-child(1) li:nth-child(20) .pcphone,
ul.coach:nth-child(1) li:nth-child(21) .pcphone, ul.coach:nth-child(1) li:nth-child(23) .pcphone, ul.coach:nth-child(1) li:nth-child(25) .pcphone,
ul.coach:nth-child(2) li:nth-child(1) .pcphone, ul.coach:nth-child(2) li:nth-child(3) .pcphone, ul.coach:nth-child(2) li:nth-child(5) .pcphone,
ul.coach:nth-child(2) li:nth-child(6) .pcphone, ul.coach:nth-child(2) li:nth-child(8) .pcphone, ul.coach:nth-child(2) li:nth-child(10) .pcphone,
ul.coach:nth-child(2) li:nth-child(11) .pcphone, ul.coach:nth-child(2) li:nth-child(13) .pcphone, ul.coach:nth-child(2) li:nth-child(15) .pcphone,
ul.coach:nth-child(2) li:nth-child(16) .pcphone, ul.coach:nth-child(2) li:nth-child(18) .pcphone, ul.coach:nth-child(2) li:nth-child(20) .pcphone,
ul.coach:nth-child(2) li:nth-child(21) .pcphone, ul.coach:nth-child(2) li:nth-child(23) .pcphone, ul.coach:nth-child(2) li:nth-child(25) .pcphone
{width: 50% !important;}

ul.coach:nth-child(1) li:nth-child(26) .pcphone, ul.coach:nth-child(1) li:nth-child(27) .pcphone,
ul.coach:nth-child(1) li:nth-child(28) .pcphone, ul.coach:nth-child(1) li:nth-child(29) .pcphone,
ul.coach:nth-child(1) li:nth-child(30) .pcphone, ul.coach:nth-child(1) li:nth-child(31) .pcphone,
ul.coach:nth-child(1) li:nth-child(32) .pcphone, ul.coach:nth-child(1) li:nth-child(33) .pcphone,
ul.coach:nth-child(1) li:nth-child(34) .pcphone, ul.coach:nth-child(1) li:nth-child(35) .pcphone,
ul.coach:nth-child(2) li:nth-child(26) .pcphone, ul.coach:nth-child(2) li:nth-child(27) .pcphone,
ul.coach:nth-child(2) li:nth-child(28) .pcphone, ul.coach:nth-child(2) li:nth-child(29) .pcphone,
ul.coach:nth-child(2) li:nth-child(30) .pcphone, ul.coach:nth-child(2) li:nth-child(31) .pcphone,
ul.coach:nth-child(2) li:nth-child(32) .pcphone, ul.coach:nth-child(2) li:nth-child(33) .pcphone,
ul.coach:nth-child(2) li:nth-child(34) .pcphone, ul.coach:nth-child(2) li:nth-child(35) .pcphone
{font-size: 13px !important; float:right; text-align:right;margin-top:-4px;}

ul.coach:nth-child(1) li:nth-child(26) .pcname, ul.coach:nth-child(1) li:nth-child(27) .pcname,
ul.coach:nth-child(1) li:nth-child(28) .pcname, ul.coach:nth-child(1) li:nth-child(29) .pcname,
ul.coach:nth-child(1) li:nth-child(30) .pcname, ul.coach:nth-child(1) li:nth-child(31) .pcname,
ul.coach:nth-child(1) li:nth-child(32) .pcname, ul.coach:nth-child(1) li:nth-child(33) .pcname,
ul.coach:nth-child(1) li:nth-child(34) .pcname, ul.coach:nth-child(1) li:nth-child(35) .pcname,
ul.coach:nth-child(2) li:nth-child(26) .pcname, ul.coach:nth-child(2) li:nth-child(27) .pcname,
ul.coach:nth-child(2) li:nth-child(28) .pcname, ul.coach:nth-child(2) li:nth-child(29) .pcname,
ul.coach:nth-child(2) li:nth-child(30) .pcname, ul.coach:nth-child(2) li:nth-child(31) .pcname,
ul.coach:nth-child(2) li:nth-child(32) .pcname, ul.coach:nth-child(2) li:nth-child(33) .pcname,
ul.coach:nth-child(2) li:nth-child(34) .pcname, ul.coach:nth-child(2) li:nth-child(35) .pcname
{font-size: 12px !important;}
ul.coach:nth-child(1) li:nth-child(26) .pmInfo, ul.coach:nth-child(1) li:nth-child(27) .pmInfo,
ul.coach:nth-child(1) li:nth-child(28) .pmInfo, ul.coach:nth-child(1) li:nth-child(29) .pmInfo,
ul.coach:nth-child(1) li:nth-child(30) .pmInfo, ul.coach:nth-child(1) li:nth-child(31) .pmInfo,
ul.coach:nth-child(1) li:nth-child(32) .pmInfo, ul.coach:nth-child(1) li:nth-child(33) .pmInfo,
ul.coach:nth-child(1) li:nth-child(34) .pmInfo, ul.coach:nth-child(1) li:nth-child(35) .pmInfo,
ul.coach:nth-child(2) li:nth-child(26) .pmInfo, ul.coach:nth-child(2) li:nth-child(27) .pmInfo,
ul.coach:nth-child(2) li:nth-child(28) .pmInfo, ul.coach:nth-child(2) li:nth-child(29) .pmInfo,
ul.coach:nth-child(2) li:nth-child(30) .pmInfo, ul.coach:nth-child(2) li:nth-child(31) .pmInfo,
ul.coach:nth-child(2) li:nth-child(32) .pmInfo, ul.coach:nth-child(2) li:nth-child(33) .pmInfo,
ul.coach:nth-child(2) li:nth-child(34) .pmInfo, ul.coach:nth-child(2) li:nth-child(35) .pmInfo
{font-size: 12px !important;}
ul.coach:nth-child(1) li:nth-child(26) .pnote, ul.coach:nth-child(1) li:nth-child(27) .pnote,
ul.coach:nth-child(1) li:nth-child(28) .pnote, ul.coach:nth-child(1) li:nth-child(29) .pnote,
ul.coach:nth-child(1) li:nth-child(30) .pnote, ul.coach:nth-child(1) li:nth-child(31) .pnote,
ul.coach:nth-child(1) li:nth-child(32) .pnote, ul.coach:nth-child(1) li:nth-child(33) .pnote,
ul.coach:nth-child(1) li:nth-child(34) .pnote, ul.coach:nth-child(1) li:nth-child(35) .pnote,
ul.coach:nth-child(2) li:nth-child(26) .pnote, ul.coach:nth-child(2) li:nth-child(27) .pnote,
ul.coach:nth-child(2) li:nth-child(28) .pnote, ul.coach:nth-child(2) li:nth-child(29) .pnote,
ul.coach:nth-child(2) li:nth-child(30) .pnote, ul.coach:nth-child(2) li:nth-child(31) .pnote,
ul.coach:nth-child(2) li:nth-child(32) .pnote, ul.coach:nth-child(2) li:nth-child(33) .pnote,
ul.coach:nth-child(2) li:nth-child(34) .pnote, ul.coach:nth-child(2) li:nth-child(35) .pnote
{font-size: 12px !important;}


