#cod {
    width: 100%;
    overflow-x: hidden;
    min-height: 400px;
    padding:0 15px;
}

table.alternative tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
}

table.alternative tbody tr:nth-child(even) {
    background-color: #FBFBFB;
}

#cod table {
    width: 100%;
}
#cod thead {
    font-weight: bold;
    background-color: #cbcccc;
}

#cod thead span {
        font-weight: bold;
    }

#cod tbody tr {
    border-bottom: solid 1px rgba(204,204,204,0.5);
    background-color: #f4f4f4;
}
#cod tbody tr.extra {
    border-bottom: solid 1px rgba(204,204,204,0.5);
    background-color: #FBFBFB;
}

#cod td {
    text-align: center !important;
    vertical-align: middle !important;
    padding: 5px;
}

#cod tbody td {
    border-right: 1px solid #ddd;
}

#cod td input{
    text-align: center;
    background-color: #f4f4f5;
}

#cod tr.hidden {
    display: none;
}

#cod .extraInfo {
    width: 100%;
    min-height: 50px;
}

#cod .btnRefresh {
    margin-left: 10px;
}

#cod a.selected {
    background-color: mediumturquoise;
}

#cod input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fcfcfc;
    border-radius: 4px;
    background: #fcfcfc;
}

#cod input:hover, #bTickets input:active {
        background: white;
    }

#cod .page select{
	min-width: 50px;
	margin: 5px;
}
#cod .page span{
	float: left;
	margin-top: 10px;
}

#cod .selectPage{
	max-width: 100px
}
#cod .itemsperPage{
	max-width: 100px
}

#cod .spinner {
    text-align: center;
    width: 100%;
    margin: 50px;
}

#cod .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #38c13a;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
}

#cod .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

#cod .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#cod .wrapper {
    max-width: 300px;
    margin: 0px auto;
    padding: 0px 0px;
}

[class^="smiley-"] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    position: absolute;
    margin-left: -10px;
    margin-top: -50px;
}

#cod .smiley-green {
    background: #a9db7a;
    border: 5px solid #92c563;
    position: relative;
}

#cod .smiley-green .left-eye {
        width: 18%;
        height: 18%;
        background: #84b458;
        position: relative;
        top: 29%;
        left: 22%;
        border-radius: 50%;
        float: left;
}

#cod .smiley-green .right-eye {
        width: 18%;
        height: 18%;
        border-radius: 50%;
        position: relative;
        background: #84b458;
        top: 29%;
        right: 22%;
        float: right;
    }

    #cod .smiley-green .smile {
        position: absolute;
        top: 67%;
        left: 16.5%;
        width: 70%;
        height: 20%;
        overflow: hidden;
    }

        #cod .smiley-green .smile:after, .smiley-green .smile:before {
            content: "";
            position: absolute;
            top: -50%;
            left: 0%;
            border-radius: 50%;
            background: #84b458;
            height: 100%;
            width: 97%;
        }

        #cod .smiley-green .smile:after {
            background: #84b458;
            height: 80%;
            top: -40%;
            left: 0%;
        }




#cod .oval-thought {
   position: relative;
  width: 172px;
  padding: 27px 19px;
  margin: 1em auto 83px;
  text-align: center;
  color: #fff;
  background: #8ea7d1;
  -webkit-border-top-left-radius: 147px 100px;
  -webkit-border-top-right-radius: 147px 100px;
  -webkit-border-bottom-right-radius: 147px 100px;
  -webkit-border-bottom-left-radius: 147px 100px;
  -moz-border-radius: 147px / 100px;
  border-radius: 147px / 100px;
}

#cod blockquote {
    margin: 1em 0;
    border: none;
}

#cod .oval-thought:before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50px;
    width: 25px;
    height: 25px;
    background: #b9c9e3;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#cod .oval-thought:after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 30px;
    width: 15px;
    height: 15px;
    background: #b2c3e0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}


@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.showMore {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
}

    .showMore img {
        width: 30px;
        height: 30px;
        opacity: 0.8;
        transition-duration: 2s;
    }

    .showMore:hover img {
        opacity: 1;
    }

    
.arrow-wrap {
    background-color: white;
    width: 10em;
    height: 10em;
    padding: 4em 2em;
    border-radius: 50%;
    border: 1px solid #fcfcfc;
    font-size: 0.3em;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 5px 0px #dddddd;
}

.arrow {
    float: left;
    position: relative;
    width: 5em;
    height: 5em;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #ffffff transparent transparent transparent;
}

    /* a pseudo element arrow placed on top of the other one with the same color as the wrapper */
    .arrow:after {
        content: '';
        position: absolute;
        top: -3.2em;
        left: -3em;
        width: 5em;
        height: 5em;
        border-style: solid;
        border-width: 3em 3em 0 3em;
        border-color: #7a7a7a transparent transparent transparent;
    }

.showState {
    -webkit-animation: rotate90 0.2s ease-in-out;
    animation: rotate90 0.2s ease-in-out;
}

@-webkit-keyframes rotateShow {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes rotateShow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes rotateHide {
    0% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes rotate90 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.info-group {
    float: left;
    margin: 10px;
    margin-left: 30px;
}

    .info-group .header {
        border-bottom: solid 1px rgba(204,204,204,0.5);
        text-align: left;
        margin-bottom: 5px;
    }

        .info-group .header img {
            width: 32px;
            height: 32px;
            margin-top: -10px;
            display: inline-block;
        }

        .info-group .header span {
            padding: 0 5px;
            display: inline-block;
            font-size: medium;
        }

    .info-group ul.info {
        text-align: left;
        list-style-type: none;
        padding-left: 0px;
    }

        .info-group ul.info li {
            text-align: left;
            margin: 5px;
            padding-left: 12px;
        }

            .info-group ul.info li img {
                height: 16px;
                width: 16px;
                margin-top: -3px;
            }

    .info-group ul.commands {
        float: left;
    }

        .info-group ul.commands li img {
            height: 24px;
            width: 24px;
        }

        .info-group ul.commands li a {
            text-decoration: none;
            cursor: pointer;
            color: #0b052d;
            margin: 5px;
        }

            .info-group ul.commands li a:hover {
                color: #640c41;
            }


    .info-group ul.info li span {
        vertical-align: middle;
        line-height: 24px;
        color: #474747;
    }

        .info-group ul.info li span.important {
            font-weight: bold;
        }


 #txtCodStatusNote {
     width: 100%;
     min-height: 40px;
     padding: 10px;
     margin: 10px 0;
 }

 #cod span.codHistoryNote {
     color: #666666;
     font-size: 11px;
     margin: 5px;
 }
 #cod span.codHistoryTime {
     margin: 5px;

 }
 #cod span.codHistoryStatus {
     margin: 5px;
     color: #191d5c;
 }
 #cod span.codHistoryUser {
     margin: 5px;
     color: #0c170c;
 }

 #cod .status1 {
     background: #eadf98;
 }
 #cod .status2 {
     background: #eca1df;
 }
 #cod .status3 {
     background: #87a6e7;
 }
 #cod .status4 {
     background: #8bdf8a;
 }
 #cod .status5 {
     background: #e5917f;
 }

 #cod .border-status1 {
     border-right: solid 12px #eadf98;
 }
 #cod .border-status2 {
     border-right: solid 12px #eca1df;
 }
 #cod .border-status3 {
     border-right: solid 12px #87a6e7;
 }
 #cod .border-status4 {
     border-right: solid 12px #8bdf8a;
 }
 #cod .border-status5 {
     border-right: solid 12px #e5917f;
 }

 #cod .white, .white a {
  color: #fff;
}


#cod td.status div.bordered {
    border-bottom: solid 1px rgba(204,204,204,0.5);
    margin-bottom: 5px;
    text-align: right;
    padding-right: 10px;
    margin-right: -5px;
}

#cod td.status div.update {
    float: right;
}

#cod td.status div.update button {
    float: left;
    width:40px;
    height:40px;
    margin-right: 2px;
}

@media only screen and (min-width: 769px) {
    #cod .mobile-only  {
        display: none;
    }  

    #cod td.date, #cod td.code {
        width: 8%;
    }

    #cod td.date-small {
        width: 5%;
        padding: 2px;
    }
    #cod td.date-small input {
        padding: 2px;
    }

    #cod td.comp {
        width: 8%;
    }
    #cod td.customer {
        width: 8%;
    }
    #cod td.money {
        width: 8%;
    }
    #cod td.action {
        width: 5%;
    }
    #cod td.district {
        width: 6%;
    }
    #cod td.city {
        width: 10%;
    }

     #cod td.source, #cod td.status, #cod td.user {
         width: 8%;
     }   
}

@media only screen and (max-width: 768px) {
    #cod td {
        text-align: left !important;
    }

    #cod td.detail-info {
        text-align: left !important;
        padding-left: 10px;
    }
    #cod .desktop-only  {
        display: none;
    }  
    #cod .pager-info span {
        display: none;
    }
    #cod td.status {
        width: 90px;
    }

    #cod td.status button.btn-update-status {
        width: 32px !important;
        height: 32px !important;       
    }

    #cod button.dropdown-toggle{
        max-width:60px;    
        padding:5px 2px;
    }
    #cod button.dropdown-toggle span.content{
        width:100%;
        font-size:10px;
    }
    #cod ul.dropdown-menu{
        margin-left:-40px;
    }

    #cod button.refresh{
        max-width:50px;
    }

    #cod td.action {
         width: 6%;
    }
    #cod td.date {
         width: 170px;
    }
    #cod div.pager-info select{
        width:60px;
    }
    #cod div.info{
        margin-left:20px;
    }

    div.status-bar{
        display:none;
    }
    #cod div.info-group{
        margin:5px 5px;
    }
    #cod div.info-group div.header img{
        width:24px;
        height:24px;
    }
    #cod div.info-group ul.info li{
        padding-left:5px;
    }
    #cod div.info-group ul.info li span{
        font-size:12px;
    }
}

#cod .hide {
    display: none;
}