ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
	width: 49.4%;
}
ul.coach li {white-space: nowrap; overflow: hidden;}
     ul.coach:nth-child(2) {
        margin-left: 10px;
		margin-top: 19px;
    } 
	ul.coach:nth-child(1) {
        margin-top: -65px;
    } 
/* .row {float:right; width: 830px !important;} */
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}
.no-background {background:none !important;}
.print-seat {
    height: 84px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 3px;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 20%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
	text-align:center;
}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    font-weight: 700;
    font-size: 16px !important;
    float: right;
    width: 100%;
    text-align: right;
	text-align: right;
	margin-top: -3px !important;
}

.ppayment {
    width: 55%;
    float: right;
    text-align: right;
    background: #ddd;
}

.pnote {
    height: 20px; 
    overflow: hidden;
    clear: both;
    text-transform: lowercase;
	margin: -15px 0;
	line-height: 14px;
}

.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
	float:right;
    text-align: right;
	width:80%;
	
}
.pInfo{
	text-align: left;
	margin-top: -5px !important;
	height: 19px;
	overflow: hidden;
	}
.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
    float: right;
	text-align: right;
    width: 100%;
	font-size: 17px !important;
	margin-top: -5px !important;
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
		
		
		
	/* 	ul.coach:nth-child(1) li:nth-child(6) table, ul.coach:nth-child(1) li:nth-child(8) table ,
		ul.coach:nth-child(1) li:nth-child(11) table, ul.coach:nth-child(1) li:nth-child(13) table ,
		ul.coach:nth-child(1) li:nth-child(16) table, ul.coach:nth-child(1) li:nth-child(18) table ,
		ul.coach:nth-child(1) li:nth-child(21) table, ul.coach:nth-child(1) li:nth-child(23) table ,
		ul.coach:nth-child(1) li:nth-child(26) table, ul.coach:nth-child(1) li:nth-child(28) table{
    border-right: 1px solid #000000;
}
		ul.coach:nth-child(2) li:nth-child(4) table{
	border-bottom: 1px solid #000000; 	
		}
		ul.coach:nth-child(2) li:nth-child(3) table,
		ul.coach:nth-child(2) li:nth-child(6) table, ul.coach:nth-child(2) li:nth-child(8) table ,
		ul.coach:nth-child(2) li:nth-child(11) table, ul.coach:nth-child(2) li:nth-child(13) table ,
		ul.coach:nth-child(2) li:nth-child(16) table, ul.coach:nth-child(2) li:nth-child(18) table ,
		ul.coach:nth-child(2) li:nth-child(21) table, ul.coach:nth-child(2) li:nth-child(23) table ,
		ul.coach:nth-child(2) li:nth-child(26) table, ul.coach:nth-child(2) li:nth-child(28) table{
    border-right: 1px solid #000000; */
/* } */
		ul.coach:nth-child(1) li:nth-child(1) {
	width: 166px;
		}
	/* 	ul.coach:nth-child(2) li:nth-child(1) {
	width: 165px; 
	border-right: 1px solid #000000;
		}
		ul.coach:nth-child(2) li:nth-child(2) {
	width: 163px;
	margin-left: 164px;	
		} */
		
		ul.coach:nth-child(1) li:nth-child(2) {
	clear: both;	
		}
		ul.coach:nth-child(1) li:nth-child(20) , ul.coach:nth-child(1) li:nth-child(21) ,
		ul.coach:nth-child(1) li:nth-child(22) , ul.coach:nth-child(1) li:nth-child(23) ,
		ul.coach:nth-child(1) li:nth-child(24),
		ul.coach:nth-child(2) li:nth-child(19) ,
		ul.coach:nth-child(2) li:nth-child(20) , ul.coach:nth-child(2) li:nth-child(21) ,
		ul.coach:nth-child(2) li:nth-child(22)  , ul.coach:nth-child(2) li:nth-child(23) {
		height: 114px !important;
		}
		ul.coach:nth-child(1) li:nth-child(20) .pInfo, ul.coach:nth-child(1) li:nth-child(21) .pInfo ,
		ul.coach:nth-child(1) li:nth-child(22) .pInfo , ul.coach:nth-child(1) li:nth-child(23) .pInfo ,
		ul.coach:nth-child(1) li:nth-child(24) .pInfo,
		ul.coach:nth-child(2) li:nth-child(19) .pInfo ,
		ul.coach:nth-child(2) li:nth-child(20) .pInfo , ul.coach:nth-child(2) li:nth-child(21) .pInfo ,
		ul.coach:nth-child(2) li:nth-child(22) .pInfo  , ul.coach:nth-child(2) li:nth-child(23) .pInfo {
		height: 31px !important;
		line-height:16px;
		}
		ul.coach:nth-child(1) li:nth-child(20) table , ul.coach:nth-child(1) li:nth-child(21) table ,
		ul.coach:nth-child(1) li:nth-child(22) table , ul.coach:nth-child(1) li:nth-child(23) table ,
		ul.coach:nth-child(1) li:nth-child(24) table,
		ul.coach:nth-child(2) li:nth-child(19) table ,
		ul.coach:nth-child(2) li:nth-child(20) table , ul.coach:nth-child(2) li:nth-child(21) table ,
		ul.coach:nth-child(2) li:nth-child(22) table  , ul.coach:nth-child(2) li:nth-child(23) table {
		height: 114px !important;
		}
		/* ul.coach:nth-child(1) li:nth-child(17) table .pcname, ul.coach:nth-child(1) li:nth-child(18) table .pcname ,
		ul.coach:nth-child(1) li:nth-child(19) table .pcname, ul.coach:nth-child(1) li:nth-child(20) table .pcname ,
		ul.coach:nth-child(1) li:nth-child(21) table .pcname,
		ul.coach:nth-child(2) li:nth-child(18) table .pcname ,
		ul.coach:nth-child(2) li:nth-child(19) table .pcname, ul.coach:nth-child(2) li:nth-child(20) table .pcname ,
		ul.coach:nth-child(2) li:nth-child(21) table .pcname, ul.coach:nth-child(2) li:nth-child(22) table .pcname {
		white-space: nowrap;
		text-transform: lowercase;
		}
		ul.coach:nth-child(1) li:nth-child(17) table .ntk-pertrip, ul.coach:nth-child(1) li:nth-child(18) table .ntk-pertrip ,
		ul.coach:nth-child(1) li:nth-child(19) table .ntk-pertrip, ul.coach:nth-child(1) li:nth-child(20) table .ntk-pertrip ,
		ul.coach:nth-child(1) li:nth-child(21) table .ntk-pertrip,
		ul.coach:nth-child(2) li:nth-child(18) table .ntk-pertrip ,
		ul.coach:nth-child(2) li:nth-child(19) table .ntk-pertrip, ul.coach:nth-child(2) li:nth-child(20) table .ntk-pertrip ,
		ul.coach:nth-child(2) li:nth-child(21) table .ntk-pertrip , ul.coach:nth-child(2) li:nth-child(22) table .ntk-pertrip {
		font-size: 13px;
		}
		ul.coach:nth-child(1) li:nth-child(17) table .ppayment, ul.coach:nth-child(1) li:nth-child(18) table .ppayment ,
		ul.coach:nth-child(1) li:nth-child(19) table .ppayment, ul.coach:nth-child(1) li:nth-child(20) table .ppayment ,
		ul.coach:nth-child(1) li:nth-child(21) table .ppayment,
		ul.coach:nth-child(2) li:nth-child(18) table .ppayment ,
		ul.coach:nth-child(2) li:nth-child(19) table .ppayment, ul.coach:nth-child(2) li:nth-child(20) table .ppayment ,
		ul.coach:nth-child(2) li:nth-child(21) table .ppayment, ul.coach:nth-child(2) li:nth-child(22) table .ppayment {
		font-size: 13.5px !important
		}
		ul.coach:nth-child(1) li:nth-child(17) table .pcphone, ul.coach:nth-child(1) li:nth-child(18) table .pcphone ,
		ul.coach:nth-child(1) li:nth-child(19) table .pcphone, ul.coach:nth-child(1) li:nth-child(20) table .pcphone ,
		ul.coach:nth-child(1) li:nth-child(21) table .pcphone,
		ul.coach:nth-child(2) li:nth-child(18) table .pcphone ,
		ul.coach:nth-child(2) li:nth-child(19) table .pcphone, ul.coach:nth-child(2) li:nth-child(20) table .pcphone ,
		ul.coach:nth-child(2) li:nth-child(21) table .pcphone, ul.coach:nth-child(2) li:nth-child(22) table .pcphone {
		font-size: 15px !important
		}
		ul.coach:nth-child(1) li:nth-child(17) table .pnote, ul.coach:nth-child(1) li:nth-child(18) table .pnote ,
		ul.coach:nth-child(1) li:nth-child(19) table .pnote, ul.coach:nth-child(1) li:nth-child(20) table .pnote ,
		ul.coach:nth-child(1) li:nth-child(21) table .pnote,
		ul.coach:nth-child(2) li:nth-child(18) table .pnote ,
		ul.coach:nth-child(2) li:nth-child(19) table .pnote, ul.coach:nth-child(2) li:nth-child(20) table .pnote ,
		ul.coach:nth-child(2) li:nth-child(21) table .pnote, ul.coach:nth-child(2) li:nth-child(22) table .pnote {
		margin: -15px 0;
		line-height: 11px;
		}
 */ 