.alg-left {
    text-align: left !important;
}

.bd0 {
    border: 0 !important;
}

.bdred {
    border-color: red !important;
}

.bor-top-none {
    border-top: none !important;
}

.cor-black {
    color: black !important;
}

.cur-pt {
    cursor: pointer !important;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.h32 {
    height: 32px !important;
}

.h25 {
    height: 25px !important;
}

.hidden {
    display: none !important;
}

.hidden2 {
    display: none !important;
}


.left80 {
    left: 80% !important;
}

.left45 {
    left: 45% !important;
}

.left55 {
    left: 55% !important;
}

.left60 {
    left: 60% !important;
}

.left58 {
    left: 55% !important;
}

.left65 {
    left: 65% !important;
}

.left75 {
    left: 75% !important;
}

.left90 {
    left: 92% !important;
}

.top0 {
    top: 0;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.ml5 {
    margin-left: 5px !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt3 {
    margin-top: 3px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt7 {
    margin-top: 7px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.max-scroll {
    max-height: 300px !important;
    overflow-y: scroll !important;
}

.pd0 {
    padding: 0 !important;
}

.pt7 {
    padding-top: 7px !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pt6 {
    padding-top: 6px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pl29 {
    padding-left: 29px !important;
}

.fw500 {
    font-weight: 500 !important;
}

.fw700 {
    font-weight: 700;
}

.fs17 {
    font-size: 17px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.h60 {
    height: 60px !important;
}

.mt2 {
    margin-top: 2px !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.po-ab {
    position: absolute !important;
}

.po-re {
    position: relative !important;
}

.bot3 {
    bottom: 3px !important;
}

.w60 {
    width: 60% !important;
}

.w35 {
    width: 35% !important;
}

.wid93 {
    width: 93% !important;
}

.wid75 {
    width: 75% !important;
}

.wid78 {
    width: 80% !important;
}

.wid50 {
    width: 50% !important;
}

.wid40 {
    width: 05% !important;
}

.wid45 {
    width: 45% !important;
}

.wid55 {
    width: 55% !important;
}

.wid19 {
    width: 19% !important;
}

.wid25 {
    width: 25% !important;
}

.w100p {
    width: 100% !important;
}



/* Defaults */
.text-center-sm,
.text-center-md,
.text-center-lg,
.text-right-sm,
.text-right-md,
.text-right-lg {
    text-align: inherit;
}

/* Define xs styles after defaults so they take precedence */
.text-center-xs {
    text-align: center;
}

.text-right-xs {
    text-align: right;
}

#agent_chosen a,
#route_chosen a,
#comp_chosen a,
#user_chosen a {
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px !important;
}

    #agent_chosen a div b,
    #route_chosen a div b,
    #comp_chosen a div b,
    #user_chosen a div b {
        background-position: 0 5px !important;
    }


.wid150 {
    width: 150px !important;
}

a.no-active:focus {
    color: #b6d1ff !important;
}

.bks-date-picker div.ui-datepicker-header {
    color: white !important;
}

.vSumContent {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.badge-error{
	background:#e02222;	
}

.badge-success{
	background:#35aa47;	
}

.search-field .glyphicon{
    margin-right: 3px !important;
}

.vMasterRow {
    /*color: red !important;*/
    font-weight: bold !important;
    text-decoration: underline !important;
}

.cancelled-trip {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

.hotline b {
    color: white !important;
}