.btn-hang-hoa:focus {
    outline: 0;
}

.product-container .product-toolbar {
    min-height: 42px;
}

    .product-container .product-toolbar .panel {
        border-radius: 0;
    }

.table-hanghoa td p {
    margin-bottom: 0;
}

.fone-hh {
    font-size: 14px;
    margin: 0 0;
}

.product-container .product-matrix {
    min-height: 500px;
}

.btn-close-new3 {
    background-color: white !important;
    border-radius: 50% !important;
    color: orange !important;
    opacity: 1 !important;
    padding: 0 5px !important;
    text-shadow: none !important;
    margin: 5px 5px 0 0;
}

    .btn-close-new3:hover {
        color: blue !important;
    }

.update-hang-hoa .panel {
    margin-bottom: 0 !important;
}

.coach {
    list-style: none;
    padding: 0;
    margin: 0;
}

.coach-l {
    padding-right: 5px;
}

.coach-r {
    padding-left: 5px;
}

li.pro {
    padding: 2px;
}

.nhap-hang {
    width: 100%;
    padding-top: 10px;
}

    .nhap-hang .row {
        margin: 0 15px 5px 15px;
    }

        .nhap-hang .row .form-group {
            margin-bottom: 0 !important;
        }

    .nhap-hang div.row.total-fare {
        height: 30px;
        line-height: 30px;
        text-align: right;
        font-size: 18px;
        color: #1e62a3;
    }

.donvi {
    padding: 0;
    width: 80px;
}

    .donvi select {
        background: #fff;
        border: 0;
    }

.nhap-hang {
    width: 100%;
    padding-top: 10px;
}

.product-container .product-list tbody {
    height: 50px;
}

table.table-hanghoa thead th {
    white-space: nowrap;
}

.bg-thead {
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}

.hh-box {
    padding: 0 5px;
}

    .hh-box p {
        margin: 0;
    }

.note-hh {
    padding-right: 10px !important;
    padding-top: 5px !important;
}

.table-hanghoa {
    background: #fff;
}

.bookig-hh .booking, .bookig-hh .paid {
    min-height: 146px;
    position: relative;
}

    .bookig-hh .booking .w100p, .bookig-hh .paid .w100p {
        position: absolute;
        bottom: 0;
    }



/*.product-container .product-list {
    list-style: none outside none;
    min-height: 500px;
    padding: 0;
}

    .product-container .product-list .pro {
        padding: 2px;
    }

        .product-container .product-list .pro div.pro-status {
            border: 1px solid #d3d3d3 !important;
        }

        .product-container .product-list .pro .hh-box {
            padding: 0 5px;
        }

            .product-container .product-list .pro .hh-box p {
                margin: 0;
            }

        .product-container .product-list .pro .buttons {
            float: left;
            padding: 8px 0 5px 5px;
            width: 45%;
        }

            .product-container .product-list .pro .buttons button {
                font-size: 11px;
                margin-right: 5px;
            }

.w100p {
    width: 100% !important;
}*/
