/* If for media only, see Styles/responsive folder */

@media (min-width: 768px) {
    .text-center-sm, .text-center-xs {
        text-align: center;
    }

    .text-right-sm, .text-right-xs {
        text-align: right;
    }
}

/* Medium grid */
@media (min-width: 992px) {
    .text-center-md, .text-center-sm, .text-center-xs {
        text-align: center;
    }

    .text-right-md, .text-right-sm, .text-right-xs {
        text-align: right;
    }
}

/* Large grid */
@media (min-width: 1200px) {
    .text-center-lg, .text-center-md, .text-center-sm, .text-center-xs {
        text-align: center;
    }

    .text-right-lg, .text-right-md, .text-right-sm, .text-right-xs {
        text-align: right;
    }
}

@media screen and (max-width: 1270px) and (min-width : 1000px) {
    .buttons > button {
        font-size: 8px !important;
        padding: 5px 8px !important;
    }

    .pick, .note {
        font-size: 9px !important;
    }

    .cinfo p.name {
        font-size: 8px !important;
        font-weight: 500 !important;
    }

    .paid .numT {
        font-size: 9px !important;
    }

    .seat-code {
        font-size: 16px !important;
    }
}
