.alg-left {
    text-align: left !important;
}

.bd0 {
    border: 0 !important;
}

.bdred {
    border-color: red !important;
}

.bor-top-none {
    border-top: none !important;
}

.cor-black {
    color: black !important;
}

.cur-pt {
    cursor: pointer !important;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.h32 {
    height: 32px !important;
}

.h25 {
    height: 25px !important;
}

.hidden {
    display: none !important;
}

.hidden2 {
    display: none !important;
}


.left80 {
    left: 80% !important;
}

.left45 {
    left: 45% !important;
}

.left55 {
    left: 55% !important;
}

.left60 {
    left: 60% !important;
}

.left58 {
    left: 55% !important;
}

.left65 {
    left: 65% !important;
}

.left75 {
    left: 75% !important;
}

.left90 {
    left: 92% !important;
}

.top0 {
    top: 0;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.ml5 {
    margin-left: 5px !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt3 {
    margin-top: 3px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt7 {
    margin-top: 7px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.max-scroll {
    max-height: 300px !important;
    overflow-y: scroll !important;
}

.pd0 {
    padding: 0 !important;
}

.pt7 {
    padding-top: 7px !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pt6 {
    padding-top: 6px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pl29 {
    padding-left: 29px !important;
}

.fw500 {
    font-weight: 500 !important;
}

.fw700 {
    font-weight: 700;
}

.fs17 {
    font-size: 17px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.h60 {
    height: 60px !important;
}

.mt2 {
    margin-top: 2px !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.po-ab {
    position: absolute !important;
}

.po-re {
    position: relative !important;
}

.bot3 {
    bottom: 3px !important;
}

.w60 {
    width: 60% !important;
}

.w35 {
    width: 35% !important;
}

.wid93 {
    width: 93% !important;
}

.wid75 {
    width: 75% !important;
}

.wid78 {
    width: 80% !important;
}

.wid50 {
    width: 50% !important;
}

.wid40 {
    width: 05% !important;
}

.wid45 {
    width: 45% !important;
}

.wid55 {
    width: 55% !important;
}

.wid19 {
    width: 19% !important;
}

.wid25 {
    width: 25% !important;
}

.w100p {
    width: 100% !important;
}



/* Defaults */
.text-center-sm,
.text-center-md,
.text-center-lg,
.text-right-sm,
.text-right-md,
.text-right-lg {
    text-align: inherit;
}

/* Define xs styles after defaults so they take precedence */
.text-center-xs {
    text-align: center;
}

.text-right-xs {
    text-align: right;
}

#agent_chosen a,
#route_chosen a,
#comp_chosen a,
#user_chosen a {
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px !important;
}

    #agent_chosen a div b,
    #route_chosen a div b,
    #comp_chosen a div b,
    #user_chosen a div b {
        background-position: 0 5px !important;
    }


.wid150 {
    width: 150px !important;
}

a.no-active:focus {
    color: #b6d1ff !important;
}

.bks-date-picker div.ui-datepicker-header {
    color: white !important;
}

.btn:active {
    border: 1px rgba(0,0,0,0.7) solid !important;
}

    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: none !important;
    }


.btn-disabled {
    background-color: #ddd !important;
    border-color: #ddd !important;
    color: black !important;
}

button.btn.dropdown-toggle.selectpicker:focus {
    outline: 0 !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.btn-close-new {
    opacity: 1 !important;
    text-shadow: none !important;
    color: orange !important;
    background-color: white !important;
    border-radius: 50% !important;
    padding: 0 5px !important;
}

    .btn-close-new:hover {
        color: blue !important;
    }

    .btn-close-new:focus {
        color: red !important;
        outline: 0 !important;
    }

.clearb {
    clear: both;
}

.container-fluid .row label {
    font-size: 12px !important;
}

::-moz-placeholder {
    color: #afafaf !important;
    font-weight: 200 !important;
}

/*Begin input classes*/

/* firefox 19+ */
:-ms-input-placeholder {
    color: #afafaf !important;
    font-weight: 200 !important;
}
/* ie */
input:-moz-placeholder {
    color: #afafaf !important;
    font-weight: 200 !important;
}

.new-input {
    padding: 0 7px !important;
    font-size: 13px !important;
    -ms-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    height: 25px !important;
}

.new-input-birthday {
    padding: 0 5px !important;
    font-size: 13px !important;
    -webkit-border-top-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    width: 36% !important;
    height: 25px !important;
}

::-webkit-input-placeholder {
    color: #afafaf !important;
    font-weight: 200 !important;
}

/*Begin select classes*/

select.input-sm {
    padding-right: 5px;
}

.op-select {
    outline: 0 !important;
}

    .op-select:hover {
        background-color: #ddd !important;
    }

.new-select {
    width: 80% !important;
    height: 25px !important;
    padding-left: 10px !important;
}

    .new-select:focus {
        outline: none !important;
    }

/*Begin textarea classes*/

textarea.agent-info, textarea.company-info {
    height: 32px;
}

textarea.route-info,
textarea.seat-template-info {
    height: 110px;
}

.new-input-textarea {
    padding: 0 7px !important;
    font-size: 13px !important;
    border-radius: 5px !important;
    max-width: 100% !important;
    line-height: 20px !important;
    text-align: left !important;
}

button.selectpicker {
    height: 23px !important;
    padding: 0 10px !important;
}

.ui-datepicker {
    width: 17em;
    display: none;
    z-index: 9999 !important;
}

    .ui-datepicker .ui-datepicker-header {
        position: relative;
        padding: .2em 0;
    }

    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
        position: absolute;
        top: 2px;
        width: 20px;
        height: 20px;
        background: url(../../Images/aio/common-icons.png) no-repeat;
    }

    .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
        top: 1px;
    }

    .ui-datepicker .ui-datepicker-prev {
        left: 4px;
        top: 5px;
        background-position: -123px 0;
    }

    .ui-datepicker .ui-datepicker-next {
        right: 4px;
        top: 5px;
        background-position: -120px -20px;
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: 3px;
        top: 4px;
    }

    .ui-datepicker .ui-datepicker-next-hover {
        right: 3px;
        top: 4px;
    }

    .ui-datepicker select.ui-datepicker-month-year {
        width: 100%;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        width: 49%;
    }

    .ui-datepicker table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
    }

    .ui-datepicker th {
        padding: .5em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
    }

    .ui-datepicker td {
        border: 0;
        padding: 1px;
    }

        .ui-datepicker td span, .ui-datepicker td a {
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none;
        }

    .ui-datepicker .ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

        .ui-datepicker .ui-datepicker-buttonpane button {
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width: auto;
            overflow: visible;
        }

            .ui-datepicker .ui-datepicker-buttonpane button:hover {
                color: #1e62a3;
            }

            .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: left;
            }

    .ui-datepicker.ui-datepicker-multi {
        width: auto;
        z-index: 999 !important;
    }

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

    .ui-datepicker-multi .ui-datepicker-group table {
        width: 99%;
        margin: 0 auto .4em;
    }

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0em;
}

.ui-datepicker-rtl {
    direction: rtl;
}

    .ui-datepicker-rtl .ui-datepicker-prev {
        right: 2px;
        left: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-next {
        left: 2px;
        right: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-prev:hover {
        right: 1px;
        left: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-next:hover {
        left: 1px;
        right: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-buttonpane {
        clear: right;
    }

        .ui-datepicker-rtl .ui-datepicker-buttonpane button {
            float: left;
        }

            .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: right;
            }

    .ui-datepicker-rtl .ui-datepicker-group {
        float: right;
    }

    .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }

    .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }

.ui-datepicker-cover {
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px;
}

.ui-datepicker .ui-datepicker-title .ui-datepicker-year {
    width: 35% !important;
    color: black !important;
    font-weight: 400 !important;
    font-size: 12px !important;
}

.ui-datepicker .ui-datepicker-title .ui-datepicker-month {
    width: 50% !important;
    color: black !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    margin-right: 5px !important;
}

    .ui-datepicker .ui-datepicker-title .ui-datepicker-month option,
    .ui-datepicker .ui-datepicker-title .ui-datepicker-year option {
        color: #212121 !important;
    }

.ui-datepicker .ui-datepicker-header {
    background: #1e62a3;
    border: none;
}

.ui-datepicker table {
    background: #fff;
    margin-bottom: 2px;
}

.ui-datepicker-title {
    color: #fff;
}

.glyphicon-calendar {
    cursor: pointer;
}


.icon-calen {
    float: left !important;
    height: 25px !important;
    width: 38px !important;
}

    .icon-calen i {
        top: -2px !important;
    }

/*button.btn.dropdown-toggle.selectpicker {
    width: 25% !important;
}*/

.filter {
   padding-top: 0;
    margin-bottom: 0;
}

    .filter .panel {
        padding-top: 5px;
        margin-bottom: 5px;
    }

    .filter .form-group {
        margin-bottom: 5px;
    }


.btn-filter {
    padding-right: 0;
}



.silver {
    color: silver;
}

.green {
    color: green;
}

.ui-widget-content {
    border: 1px solid #1e62a3;
}

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #1e62a3;
        color: #fff;
        background: #1e62a3;
    }

.panel-body h3 {
    margin: 10px 0 !important;
}

/*.jtable-main-container, div.jtable-main-container table.jtable thead th span {
        line-height: 24px !important;
        margin-top: 0 !important;
    }*/

div.jtable-title {
    background: #474e53 !important;
    height: 30px !important;
}

div.jtable-main-container table.jtable {
    border: 0 !important;
}

    div.jtable-main-container table.jtable thead {
        background-color: #E0E4E7 !important;
    }

        div.jtable-main-container table.jtable thead th {
            color: black !important;
            font-weight: bold !important;
        }

div.jtable-main-container div.jtable-bottom-panel {
    background-color: #f5f5f5 !important;
    -webkit-border-bottom-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    -webkit-border-bottom-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    padding: 6px 15px !important;
    color: black !important;
    border: 1px solid #ddd !important;
    border-top: 0 !important;
    height: 45px !important;
}

    div.jtable-main-container div.jtable-bottom-panel .jtable-right-area {
        padding: 13px 13px 0 0 !important;
    }

.jtable-main-container, div.jtable-main-container div.jtable-title div.jtable-title-text, .jtable-main-container, div.jtable-main-container table.jtable thead th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
}

.jtable-column-header-text {
    font-size: 12px !important;
}


.jtable-bottom-panel {
    height: 55px;
}

    .jtable-bottom-panel .jtable-left-area,
    .jtable-bottom-panel .jtable-page-list,
    .jtable-bottom-panel .jtable-goto-page,
    .jtable-bottom-panel .jtable-goto-page span,
    .jtable-bottom-panel .jtable-goto-page select,
    .jtable-bottom-panel .jtable-page-size-change,
    .jtable-bottom-panel .jtable-page-size-change span,
    .jtable-bottom-panel .jtable-page-size-change select {
        float: left;
    }

        .jtable-bottom-panel .jtable-left-area .jtable-page-list {
            color: #428bca !important;
        }

            .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-first,
            .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-previous,
            .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-next,
            .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-last,
            .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number,
            .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-space {
                background-color: #fff !important;
                padding: 6px 12px !important;
                border: 1px solid #ddd;
                color: #428bca !important;
                margin: 0 !important;
                font-weight: bold !important;
            }

                .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-first:hover,
                .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-previous:hover,
                .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-next:hover,
                .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-last:hover,
                .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number:hover {
                    background-color: #eee !important;
                    color: #2a6496 !important;
                }

            .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-disabled {
                color: #ccc !important;
            }

                .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-disabled:hover {
                    color: #ccc !important;
                    background-color: white !important;
                }

            .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-active {
                background-color: #266fb4 !important;
                color: white !important;
                border-color: #266fb4 !important;
            }

                .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-active:hover {
                    background-color: #266fb4 !important;
                    color: white !important;
                    border-color: #266fb4 !important;
                }

            .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-first {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .jtable-bottom-panel .jtable-left-area .jtable-page-list .jtable-page-number-last {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

        .jtable-bottom-panel .jtable-left-area .jtable-goto-page {
            margin: 0 20px 0 40px !important;
            height: 30px !important;
            line-height: 30px !important;
        }

        .jtable-bottom-panel .jtable-left-area .jtable-page-size-change {
            margin: 0 20px 0 0 !important;
            height: 30px !important;
            line-height: 30px !important;
        }

            .jtable-bottom-panel .jtable-left-area .jtable-goto-page span,
            .jtable-bottom-panel .jtable-left-area .jtable-goto-page select,
            .jtable-bottom-panel .jtable-left-area .jtable-page-size-change span,
            .jtable-bottom-panel .jtable-left-area .jtable-page-size-change select {
                height: 28px !important;
                line-height: 28px !important;
            }

            .jtable-bottom-panel .jtable-left-area .jtable-goto-page span,
            .jtable-bottom-panel .jtable-left-area .jtable-page-size-change span {
                margin-right: 3px !important;
            }

            .jtable-bottom-panel .jtable-left-area .jtable-goto-page select,
            .jtable-bottom-panel .jtable-left-area .jtable-page-size-change select {
                padding: 5px 10px !important;
                width: 70px;
            }


div.jtable-main-container table.jtable thead {
    background: rgb(242,245,246) !important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242,245,246,1) 0, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(242,245,246,1) 0,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(242,245,246,1) 0,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, rgba(242,245,246,1) 0,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ) !important; /* IE6-9 */
}

/*div.jtable-main-container > table.jtable > tbody > tr:hover {
    background: none repeat scroll 0 0 rgb(242,245,246) !important;
    color: black !important;
}*/

.jtable-main-container table.jtable thead tr th {
    white-space: nowrap !important;
}

table.jtable thead {
    height: 30px !important;
    border-top: 1px solid #ddd !important;
}

    table.jtable thead tr th {
        padding: 5px !important;
        height: 30px !important;
    }

.jtable-column-header-container .jtable-column-resize-handler {
    height: 19px !important;
}

.jtable-column-header-container {
    height: 19px !important;
}

.grid-cell-center {
    text-align: center !important;
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }

    to {
        -moz-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@-ms-keyframes spin {
    from {
        -moz-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }

    to {
        -moz-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@keyframes spin {
    from {
        -moz-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }

    to {
        -moz-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}
/*This file is extended app.css and for Laypout.Master, Home.aspx*/
body {
    background: #E2E5EB;
}

.ui-layout-pane {
    background-color: transparent !important;
}

.filter {
    /*width: 100%;*/
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0, rgba(211,211,211,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,1)), color-stop(100%, rgba(211,211,211,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0, rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0, rgba(211,211,211,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0, rgba(211,211,211,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0, rgba(211,211,211,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3', GradientType=0 ); /* IE6-9 */
    min-height: 38px;
    /*margin-top:6px;*/
    padding: 3px 0;
}

.dropdown-menu {
    z-index: 1001 !important;
}

.header .dropdown-menu > li > a:hover, .header .dropdown-menu > li > a:focus {
    background: none;
}

.dropdown-toggle:focus {
    text-decoration: none;
}

#bs-example-navbar-collapse-1 {
    border-color: red !important;
}

.footer {
    margin-top: 18px;
    background: #1e62a3;
    height: 28px;
    width: 100%;
    position: relative;
}

    .footer p {
        line-height: 26px;
        color: #98BFE6;
        font-size: 12px;
        position: absolute;
        left: 20px;
        z-index: 10;
        top: 2px;
        margin-bottom: 0;
    }

.welcome {
    color: red;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    vertical-align: central;
    margin-top: 10px;
}
.masked {
    overflow: hidden !important;
}

.masked-relative {
    position: relative !important;
}

.masked-hidden {
    visibility: hidden !important;
}

.loadmask {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}

.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #6593cf;
    background: #c3daf9;
    padding: 2px;
}

    .loadmask-msg div {
        padding: 5px 10px 5px 25px;
        background: #fbfbfb url('../../images/loadmask/loading.gif') no-repeat 5px 5px;
        line-height: 16px;
        border: 1px solid #a3bad9;
        color: #222;
        font: normal 11px tahoma, arial, helvetica, sans-serif;
        cursor: wait;
    }
.message {
    /*width: 49% !important;*/
    margin: 0 0 5px 0 !important;
    padding: 5px 10px !important;
    font-style: italic !important;
    /*font-size: 12px !important;*/
    /*display: none;*/
}

.message-manager {
    width: 49% !important;
    margin: 0 0 5px 0 !important;
    padding: 5px 10px !important;
    font-style: italic !important;
    font-size: 12px !important;
    display: none;
}

.message-width93 {
    width: 93% !important;
}
.modal-new-width {
    width: 90%;
}

.modal-new-width-25 {
    width: 25%;
}

.modal-new-width-50 {
    width: 50%;
}

.modal-header2 {
    background: #f79400 !important;
    /*background: #1e62a3 !important;*/
    padding: 5px 10px 5px 20px !important;
}

.modal-body2 {
    padding-top: 0;
}

.modal-header3 {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal-title2 {
    color: inherit;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
}

.modal-new-width {
	width: 90%;
}

.btn-close-new2 {
    opacity: 1 !important;
    text-shadow: none !important;
    color: orange !important;
    background-color: white !important;
    border-radius: 50% !important;
    padding: 0 5px !important;
    margin: -3px -7px 0 !important;
}

    .btn-close-new2:hover {
        color: blue !important;
    }

    .btn-close-new2:focus {
        color: red !important;
        outline: 0 !important;
    }

.panel-body {
    padding: 10px 15px !important;
}

/* If for media only, see Styles/responsive folder */

@media (min-width: 768px) {
    .text-center-sm, .text-center-xs {
        text-align: center;
    }

    .text-right-sm, .text-right-xs {
        text-align: right;
    }
}

/* Medium grid */
@media (min-width: 992px) {
    .text-center-md, .text-center-sm, .text-center-xs {
        text-align: center;
    }

    .text-right-md, .text-right-sm, .text-right-xs {
        text-align: right;
    }
}

/* Large grid */
@media (min-width: 1200px) {
    .text-center-lg, .text-center-md, .text-center-sm, .text-center-xs {
        text-align: center;
    }

    .text-right-lg, .text-right-md, .text-right-sm, .text-right-xs {
        text-align: right;
    }
}

@media screen and (max-width: 1270px) and (min-width : 1000px) {
    .buttons > button {
        font-size: 8px !important;
        padding: 5px 8px !important;
    }

    .pick, .note {
        font-size: 9px !important;
    }

    .cinfo p.name {
        font-size: 8px !important;
        font-weight: 500 !important;
    }

    .paid .numT {
        font-size: 9px !important;
    }

    .seat-code {
        font-size: 16px !important;
    }
}

.R17 {
    min-width: 100px !important;
}
