/* div.pick {font-size: 14px !important;}
div.agentinfo p:nth-child(2){font-size: 13px !important;}
div.agentinfo p:nth-child(1){font-size: 12px !important;}
div.cinfo  p.name {font-size: 13px !important;} */

.seat[data-position='1_6_5'] .available, .seat[data-position='2_6_5'] .available {
    background: #E6E7E7;
}