/* For ???: */
@media only screen and (max-width :960px) {

    .panel-sm {
        padding-bottom: 2px;
    }

    .coach-l {
        padding-right: 0 !important;
    }

    .coach-r {
        padding-left: 0 !important;
    }

    .select-tuyen {
        padding-left: 0 !important;
        padding-right: 15px !important;
    }

    .select-ben {
        padding-left: 0;
        padding-right: 0;
    }

    .filter-bc {
        padding-bottom: 5px;
    }

    .coach-l {
        padding-right: 0px !important;
    }

    .coach-r {
        padding-left: 0px !important;
    }

    .select-tuyen {
        padding-left: 0 !important;
        padding-right: 15px !important;
    }

    .select-ben {
        padding-left: 0;
        padding-right: 0;
    }

    .filter-bc {
        padding-bottom: 5px;
    }
}
