.seat[data-position='1_1_1'] .available, .seat[data-position='1_1_3'] .available, .seat[data-position='1_1_5'] .available
{
background: #CAFF70;
}
 


 div.buttons {
    width: 97%;
    position: absolute;
    bottom: 3px;
}

.seat {
    height: 140px;
}

.agentinfo {
    height: auto;
}

.cinfo {
    width: 100%;
    text-align: left;
}

.cinfo .phone {
    font-size: 12px;
    font-weight: bold;
}

.pmInfo {
    float: right;
    padding-right: 10px;
    margin-top: 16px;
    font-size: 11px;
    margin-bottom: 0;
}


