ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
	 margin-top: 3px !important; 
}
ul.coach li {
   overflow: hidden;
}
    ul.coach:nth-child(2) {
        margin-top: 0;
    }
.cuser {white-space:nowrap;}
.col-md-spec {
    width: 15.5% !important;
}

.da-thanh-toan {
    background: black !important;
    color: white;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5, .col-md-spec {
    float: left;
}

.col-md-12 {
    width: 100%;
	/* margin-top: -21px; */
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 112px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 0;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 18%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: right;
	text-align: center;
	padding-right:5px;
}

.tt {width:82%;}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    /* font-weight: 700; */
    font-size: 16px !important;
    float: left;
    width: 100%;
    text-align: left;
    margin-top: -3px !important;
}

.ppayment {
    width: 85%;
    float: right;
    text-align: right;
}

.pnote {
    height: 20px;
    /* text-transform: lowercase; */
    margin: -15px 0;
    line-height: 13px;
    width: 100%;
    font-size: 14px;
	margin-top: -5px !important;
	/* white-space:nowrap; */
}
.ghichu {font-size: 14px;margin-top: 5px !important;line-height: 13px;}
.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: right;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
	text-align: left;
    float: left;
    width: 100%;
    font-size: 14px !important;
	white-space: nowrap;
    /* margin-top: 4px !important; */
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

.print-noseat {
    height: 102px;
    width: 23px !important;
}
/* ul.coach:nth-child(1) li.coach:nth-child(57), ul.coach:nth-child(1) li.coach:nth-child(65),ul.coach:nth-child(1) li.coach:nth-child(73) {clear:both;}
 */
.SeatTemp51.coach:nth-child(1) li:nth-child(57), .SeatTemp51.coach:nth-child(1) li:nth-child(65), .SeatTemp51.coach:nth-child(1) li:nth-child(73) {
    clear: both;
}
.SeatTemp51.coach:nth-child(1) li:nth-child(49), .SeatTemp51.coach:nth-child(1) li:nth-child(50),
.SeatTemp51.coach:nth-child(1) li:nth-child(51), .SeatTemp51.coach:nth-child(1) li:nth-child(52),
.SeatTemp51.coach:nth-child(1) li:nth-child(53), .SeatTemp51.coach:nth-child(1) li:nth-child(57),
.SeatTemp51.coach:nth-child(1) li:nth-child(58), .SeatTemp51.coach:nth-child(1) li:nth-child(59),
.SeatTemp51.coach:nth-child(1) li:nth-child(60), .SeatTemp51.coach:nth-child(1) li:nth-child(61),
.SeatTemp51.coach:nth-child(1) li:nth-child(65), .SeatTemp51.coach:nth-child(1) li:nth-child(66),
.SeatTemp51.coach:nth-child(1) li:nth-child(67), .SeatTemp51.coach:nth-child(1) li:nth-child(68),
.SeatTemp51.coach:nth-child(1) li:nth-child(69), .SeatTemp51.coach:nth-child(1) li:nth-child(73),
.SeatTemp51.coach:nth-child(1) li:nth-child(74), .SeatTemp51.coach:nth-child(1) li:nth-child(75),
.SeatTemp51.coach:nth-child(1) li:nth-child(76), .SeatTemp51.coach:nth-child(1) li:nth-child(77) {
   width:20% !important;
   height: 88px !important;
}
.SeatTemp51.coach:nth-child(1) li:nth-child(54), .SeatTemp51.coach:nth-child(1) li:nth-child(55),
.SeatTemp51.coach:nth-child(1) li:nth-child(56), .SeatTemp51.coach:nth-child(1) li:nth-child(62),
.SeatTemp51.coach:nth-child(1) li:nth-child(63), .SeatTemp51.coach:nth-child(1) li:nth-child(64),
.SeatTemp51.coach:nth-child(1) li:nth-child(70), .SeatTemp51.coach:nth-child(1) li:nth-child(71),
.SeatTemp51.coach:nth-child(1) li:nth-child(72), .SeatTemp51.coach:nth-child(1) li:nth-child(78), 
.SeatTemp51.coach:nth-child(1) li:nth-child(79), .SeatTemp51.coach:nth-child(1) li:nth-child(80) {
   display:none;
}
.SeatTemp51.coach:nth-child(1) li:nth-child(49) .pnote, .SeatTemp51.coach:nth-child(1) li:nth-child(50) .pnote,
.SeatTemp51.coach:nth-child(1) li:nth-child(51) .pnote, .SeatTemp51.coach:nth-child(1) li:nth-child(52) .pnote,
.SeatTemp51.coach:nth-child(1) li:nth-child(53) .pnote, .SeatTemp51.coach:nth-child(1) li:nth-child(57) .pnote,
.SeatTemp51.coach:nth-child(1) li:nth-child(58) .pnote, .SeatTemp51.coach:nth-child(1) li:nth-child(59) .pnote,
.SeatTemp51.coach:nth-child(1) li:nth-child(60) .pnote, .SeatTemp51.coach:nth-child(1) li:nth-child(61) .pnote,
.SeatTemp51.coach:nth-child(1) li:nth-child(65) .pnote, .SeatTemp51.coach:nth-child(1) li:nth-child(66) .pnote,
.SeatTemp51.coach:nth-child(1) li:nth-child(67) .pnote, .SeatTemp51.coach:nth-child(1) li:nth-child(68) .pnote,
.SeatTemp51.coach:nth-child(1) li:nth-child(69) .pnote, .SeatTemp51.coach:nth-child(1) li:nth-child(73) .pnote,
.SeatTemp51.coach:nth-child(1) li:nth-child(74) .pnote, .SeatTemp51.coach:nth-child(1) li:nth-child(75) .pnote,
.SeatTemp51.coach:nth-child(1) li:nth-child(76) .pnote, .SeatTemp51.coach:nth-child(1) li:nth-child(77) .pnote {
   white-space: nowrap;
}
.SeatTemp51.coach:nth-child(1) li:nth-child(49) .ghichu, .SeatTemp51.coach:nth-child(1) li:nth-child(50) .ghichu,
.SeatTemp51.coach:nth-child(1) li:nth-child(51) .ghichu, .SeatTemp51.coach:nth-child(1) li:nth-child(52) .ghichu,
.SeatTemp51.coach:nth-child(1) li:nth-child(53) .ghichu, .SeatTemp51.coach:nth-child(1) li:nth-child(57) .ghichu,
.SeatTemp51.coach:nth-child(1) li:nth-child(58) .ghichu, .SeatTemp51.coach:nth-child(1) li:nth-child(59) .ghichu,
.SeatTemp51.coach:nth-child(1) li:nth-child(60) .ghichu, .SeatTemp51.coach:nth-child(1) li:nth-child(61) .ghichu,
.SeatTemp51.coach:nth-child(1) li:nth-child(65) .ghichu, .SeatTemp51.coach:nth-child(1) li:nth-child(66) .ghichu,
.SeatTemp51.coach:nth-child(1) li:nth-child(67) .ghichu, .SeatTemp51.coach:nth-child(1) li:nth-child(68) .ghichu,
.SeatTemp51.coach:nth-child(1) li:nth-child(69) .ghichu, .SeatTemp51.coach:nth-child(1) li:nth-child(73) .ghichu,
.SeatTemp51.coach:nth-child(1) li:nth-child(74) .ghichu, .SeatTemp51.coach:nth-child(1) li:nth-child(75) .ghichu,
.SeatTemp51.coach:nth-child(1) li:nth-child(76) .ghichu, .SeatTemp51.coach:nth-child(1) li:nth-child(77) .ghichu {
   white-space: nowrap;
   margin-top: -11px !important;
   height: 16px !important;
}
.SeatTemp51.coach:nth-child(1) li:nth-child(2), .SeatTemp51.coach:nth-child(1) li:nth-child(5),
.SeatTemp51.coach:nth-child(1) li:nth-child(10), .SeatTemp51.coach:nth-child(1) li:nth-child(13),
.SeatTemp51.coach:nth-child(1) li:nth-child(18), .SeatTemp51.coach:nth-child(1) li:nth-child(21),
.SeatTemp51.coach:nth-child(1) li:nth-child(26), .SeatTemp51.coach:nth-child(1) li:nth-child(29),
.SeatTemp51.coach:nth-child(1) li:nth-child(34), .SeatTemp51.coach:nth-child(1) li:nth-child(37),
.SeatTemp51.coach:nth-child(1) li:nth-child(42), .SeatTemp51.coach:nth-child(1) li:nth-child(45)
{border-right: 1px solid #000000;}