ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
}

   

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 62px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 3px;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}
.no-background {background:none !important;}
.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 45%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    font-weight: 700;
    font-size: 14px !important;
    float: right;
    width: 50%;
    text-align: right;
}

.ppayment {
    width: 55%;
    float: right;
    text-align: right;
    background: #ddd;
}

.pnote {
    height: 20px;
    /*overflow: hidden;*/
    clear: both;
    text-transform: lowercase;
}

.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: right;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
    float: left;
    width: 50%;
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
ul.coach:nth-child(1) li:nth-child(31) table .pcname,
ul.coach:nth-child(1) li:nth-child(32) table .pcname,
ul.coach:nth-child(1) li:nth-child(33) table .pcname,
ul.coach:nth-child(1) li:nth-child(34) table .pcname,
ul.coach:nth-child(1) li:nth-child(35) table .pcname,
ul.coach:nth-child(1) li:nth-child(36) table .pcname,
ul.coach:nth-child(1) li:nth-child(37) table .pcname,
ul.coach:nth-child(1) li:nth-child(38) table .pcname,
ul.coach:nth-child(1) li:nth-child(39) table .pcname,
ul.coach:nth-child(1) li:nth-child(40) table .pcname,
ul.coach:nth-child(1) li:nth-child(41) table .pcname,
ul.coach:nth-child(1) li:nth-child(42) table .pcname,
ul.coach:nth-child(1) li:nth-child(43) table .pcname,
ul.coach:nth-child(1) li:nth-child(44) table .pcname,
ul.coach:nth-child(1) li:nth-child(45) table .pcname,
ul.coach:nth-child(1) li:nth-child(46) table .pcname,
ul.coach:nth-child(1) li:nth-child(47) table .pcname,
ul.coach:nth-child(1) li:nth-child(48) table .pcname,
ul.coach:nth-child(1) li:nth-child(49) table .pcname,
ul.coach:nth-child(1) li:nth-child(50) table .pcname {
    width: 100% !important;

}
ul.coach:nth-child(1) li:nth-child(31) table .pcphone,
ul.coach:nth-child(1) li:nth-child(32) table .pcphone,
ul.coach:nth-child(1) li:nth-child(33) table .pcphone,
ul.coach:nth-child(1) li:nth-child(34) table .pcphone,
ul.coach:nth-child(1) li:nth-child(35) table .pcphone,
ul.coach:nth-child(1) li:nth-child(36) table .pcphone,
ul.coach:nth-child(1) li:nth-child(37) table .pcphone,
ul.coach:nth-child(1) li:nth-child(38) table .pcphone,
ul.coach:nth-child(1) li:nth-child(39) table .pcphone,
ul.coach:nth-child(1) li:nth-child(40) table .pcphone,
ul.coach:nth-child(1) li:nth-child(41) table .pcphone,
ul.coach:nth-child(1) li:nth-child(42) table .pcphone,
ul.coach:nth-child(1) li:nth-child(43) table .pcphone,
ul.coach:nth-child(1) li:nth-child(44) table .pcphone,
ul.coach:nth-child(1) li:nth-child(45) table .pcphone,
ul.coach:nth-child(1) li:nth-child(46) table .pcphone,
ul.coach:nth-child(1) li:nth-child(47) table .pcphone,
ul.coach:nth-child(1) li:nth-child(48) table .pcphone,
ul.coach:nth-child(1) li:nth-child(49) table .pcphone,
ul.coach:nth-child(1) li:nth-child(50) table .pcphone {
    width: 100% !important;
    text-align:left !important;
}

ul.coach:nth-child(1) li:nth-child(31),
ul.coach:nth-child(1) li:nth-child(32),
ul.coach:nth-child(1) li:nth-child(33),
ul.coach:nth-child(1) li:nth-child(34),
ul.coach:nth-child(1) li:nth-child(35),
ul.coach:nth-child(1) li:nth-child(36),
ul.coach:nth-child(1) li:nth-child(37),
ul.coach:nth-child(1) li:nth-child(38),
ul.coach:nth-child(1) li:nth-child(39),
ul.coach:nth-child(1) li:nth-child(40),
ul.coach:nth-child(1) li:nth-child(41),
ul.coach:nth-child(1) li:nth-child(42),
ul.coach:nth-child(1) li:nth-child(43),
ul.coach:nth-child(1) li:nth-child(44),
ul.coach:nth-child(1) li:nth-child(45),
ul.coach:nth-child(1) li:nth-child(46),
ul.coach:nth-child(1) li:nth-child(47),
ul.coach:nth-child(1) li:nth-child(48),
ul.coach:nth-child(1) li:nth-child(49),
ul.coach:nth-child(1) li:nth-child(50) {
    height:80px !important;
}


ul.coach:nth-child(1) li:nth-child(29),
ul.coach:nth-child(1) li:nth-child(30) {
	overflow:hidden;
}



    
    

    

