.phoikhach .soghe{
	margin:3px 0;
}
.phoikhach  td{
	padding-left:0 !important;
	padding-right:0 !important;
}
.phoikhach  .input-sdg{
	width:100%;
	border:0 !important;
	box-shadow:none !important;
	font-size: 16px;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}