ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
}

    ul.coach:nth-child(2) {
        margin-top: 0;
    }

.no-background {
    background: none !important;
}

.da-thanh-toan {
    background: black !important;
    color: white;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 75px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 0;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 30%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
}


.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    font-weight: 700;
    font-size: 16px !important;
    float: right;
    width: 50%;
    text-align: right;
}

.ppayment {
    width: 70%;
    float: right;
    text-align: right;
    /*background: #ddd;*/
}

.pnote {
    height: 20px;
    /*overflow: hidden;*/
    /* clear: both; */
    text-transform: lowercase;
    margin: -15px 0;
    line-height: 16px;
    width: 100%;
}

.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: right;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
    float: left;
    width: 50%;
    font-size: 14px !important;
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

/*
 *............................... Sơ đồ 41 giường....................................
 */
.SeatTemp41 .print-seat {
    height: 82px;
}

.SeatTemp41 .pcname {
    float: left;
    width: 43%;
    font-size: 14px !important;
}

.SeatTemp41 .pcphone {
    font-weight: 700;
    font-size: 16px !important;
    float: left;
    width: 57%;
    text-align: left;
}

ul.SeatTemp41.coach:nth-child(2) li:nth-child(23), ul.SeatTemp41.coach:nth-child(2) li:nth-child(19),
ul.SeatTemp41.coach:nth-child(2) li:nth-child(20), ul.SeatTemp41.coach:nth-child(2) li:nth-child(21), ul.SeatTemp41.coach:nth-child(2) li:nth-child(22) {
    width: 20% !important;
    height: 120px !important;
}

    ul.SeatTemp41.coach:nth-child(2) li:nth-child(23) .ppayment, ul.SeatTemp41.coach:nth-child(2) li:nth-child(19) .ppayment,
    ul.SeatTemp41.coach:nth-child(2) li:nth-child(20) .ppayment, ul.SeatTemp41.coach:nth-child(2) li:nth-child(21) .ppayment, ul.SeatTemp41.coach:nth-child(2) li:nth-child(22) .ppayment {
        width: 70%;
        float: right;
        text-align: right;
    }

    ul.SeatTemp41.coach:nth-child(2) li:nth-child(23) .pcphone, ul.SeatTemp41.coach:nth-child(2) li:nth-child(19) .pcphone,
    ul.SeatTemp41.coach:nth-child(2) li:nth-child(20) .pcphone, ul.SeatTemp41.coach:nth-child(2) li:nth-child(21) .pcphone, ul.SeatTemp41.coach:nth-child(2) li:nth-child(22) .pcphone {
        width: 100%;
        float: left;
        text-align: left;
    }

    ul.SeatTemp41.coach:nth-child(2) li:nth-child(23) .stage, ul.SeatTemp41.coach:nth-child(2) li:nth-child(19) .stage,
    ul.SeatTemp41.coach:nth-child(2) li:nth-child(20) .stage, ul.SeatTemp41.coach:nth-child(2) li:nth-child(21) .stage, ul.SeatTemp41.coach:nth-child(2) li:nth-child(22) .stage {
        font-size: 11px !important;
    }

    ul.SeatTemp41.coach:nth-child(2) li:nth-child(23) .thong, ul.SeatTemp41.coach:nth-child(2) li:nth-child(19) .thong,
    ul.SeatTemp41.coach:nth-child(2) li:nth-child(20) .thong, ul.SeatTemp41.coach:nth-child(2) li:nth-child(21) .thong,
    ul.SeatTemp41.coach:nth-child(2) li:nth-child(22) .thong {
        height: 31px !important;
    }

    ul.SeatTemp41.coach:nth-child(2) li:nth-child(23) table tbody tr:nth-child(3), ul.SeatTemp41.coach:nth-child(2) li:nth-child(19) table tbody tr:nth-child(3),
    ul.SeatTemp41.coach:nth-child(2) li:nth-child(20) table tbody tr:nth-child(3), ul.SeatTemp41.coach:nth-child(2) li:nth-child(21) table tbody tr:nth-child(3), ul.SeatTemp41.coach:nth-child(2) li:nth-child(22) table tbody tr:nth-child(3) {
        height: 15px !important;
    }


/*
 *............................... Sơ đồ 44 giường....................................
 */
ul.SeatTemp46.coach {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 49.7%;
    margin-right: 3px;
}

.SeatTemp46 .print-seat {
    height: 75px;
}

.SeatTemp46 .pcname {
    float: left;
    width: 43%;
    font-size: 14px !important;
}

.SeatTemp46 .pcphone {
    font-weight: 700;
    font-size: 16px !important;
    float: left;
    width: 57%;
    text-align: left;
}

ul.SeatTemp46.coach:nth-child(1) .thong, ul.SeatTemp46.coach:nth-child(1) .thong,
ul.SeatTemp46.coach:nth-child(1) .thong, ul.SeatTemp46.coach:nth-child(1) .thong,
ul.SeatTemp46.coach:nth-child(1) .thong,
ul.SeatTemp46.coach:nth-child(2) .thong, ul.SeatTemp46.coach:nth-child(2) .thong,
ul.SeatTemp46.coach:nth-child(2) .thong, ul.SeatTemp46.coach:nth-child(2) .thong,
ul.SeatTemp46.coach:nth-child(2) .thong {
    height: 18px !important;
}

ul.SeatTemp46.coach:nth-child(1) li.print-seat:nth-child(19), ul.SeatTemp46.coach:nth-child(1) li.print-seat:nth-child(20),
ul.SeatTemp46.coach:nth-child(1) li.print-seat:nth-child(21), ul.SeatTemp46.coach:nth-child(1) li.print-seat:nth-child(22),
ul.SeatTemp46.coach:nth-child(1) li.print-seat:nth-child(23), ul.SeatTemp46.coach:nth-child(2) li.print-seat:nth-child(19),
ul.SeatTemp46.coach:nth-child(2) li.print-seat:nth-child(20), ul.SeatTemp46.coach:nth-child(2) li.print-seat:nth-child(21),
ul.SeatTemp46.coach:nth-child(2) li.print-seat:nth-child(22), ul.SeatTemp46.coach:nth-child(2) li.print-seat:nth-child(23) {
    height: 93px;
}

    ul.SeatTemp46.coach:nth-child(1) li.print-seat:nth-child(19) table tbody .pcname, ul.SeatTemp46.coach:nth-child(1) li.print-seat:nth-child(20) table tbody .pcname,
    ul.SeatTemp46.coach:nth-child(1) li.print-seat:nth-child(21) table tbody .pcname, ul.SeatTemp46.coach:nth-child(1) li.print-seat:nth-child(22) table tbody .pcname,
    ul.SeatTemp46.coach:nth-child(1) li.print-seat:nth-child(23) table tbody .pcname, ul.SeatTemp46.coach:nth-child(2) li.print-seat:nth-child(19) table tbody .pcname,
    ul.SeatTemp46.coach:nth-child(2) li.print-seat:nth-child(20) table tbody .pcname, ul.SeatTemp46.coach:nth-child(2) li.print-seat:nth-child(21) table tbody .pcname,
    ul.SeatTemp46.coach:nth-child(2) li.print-seat:nth-child(22) table tbody .pcname, ul.SeatTemp46.coach:nth-child(2) li.print-seat:nth-child(23) table tbody .pcname {
        width: 100% !important;
    }

/*
 *............................... Sơ đồ 44 giường....................................
 */
ul.SeatTemp44.coach {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 49.7%;
    margin-right: 3px;
}

.SeatTemp44 .print-seat {
    height: 106px;
}

.SeatTemp44 .pcname {
    float: left;
    width: 100%;
    font-size: 14px !important;
    white-space: nowrap;
}

.SeatTemp44 .pcphone {
    font-weight: 700;
    font-size: 16px !important;
    float: left;
    width: 100%;
    text-align: left;
}

.SeatTemp44 .stage {
    height: 11px;
    font-size: 12px;
}

.SeatTemp44 .pnote {
    height: 28px !important;
}
