.ticketConf .chosen-choices {
      background: none;
      border-radius: 3px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.ticketConf .tblRoute .checked {
    background: green;
}
.ticketConf .tblRoute .even {
    background: rgba(0,0,0,0.075);
}
.ticketConf .tblRoute td {
    text-align: center;
    border-left: 1px solid #ccc;
}
.ticketConf .tblRoute thead th {
    text-align: center;
}

.ticketConf .seatGrid {
    border: 1px solid #ccc;
    position: absolute;
    background: #DFDFFF;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    z-index: 10000;
    border-radius: 3px;
}
.ticketConf .lastRow {
    right: 0;
    position: absolute;
}

.ticketConf .aboveFloor div{
   background: #E4D1D1;
}
.ticketConf .hideSeats {
    left: -10000px;
}
.ticketConf .seatSymbol {
    width: 33px;
    height: 30px;
    text-align: center;
    background: #ccc;
    margin: 5px;
    position: relative;
    float: left;
    padding-top: 7px;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}
.ticketConf .seatChecked {
    background: #008000 !important;
    color: white;
}
