.da-thanh-toan {background:black !important;color:white;}

ul.coach { list-style: none; margin: 0; padding: 0; } 
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 { float: left; } 
.col-md-12 { width: 100%; } 
.col-md-6 {width: 50%;} 
.col-md-4 {width: 33.3333%;} 
.col-md-3 {width: 25%;} 
.vcol-md-5 {width: 20%;}
.print-seat {height: 70px;} 
.print-seat table {width: 100%; height: 100%;border-top: 1px solid #000000;border-left: 1px solid #000000; padding: 3px;} 
.print-seat table td {padding-top: 0;padding-bottom: 0;vertical-align: top;} .br {border-right: 1px solid #000000;} 
.bb {border-bottom: 1px solid #000000;} 
.print-seat p {margin: 0;font-size: 12px;line-height: 16px;}
.pseat-code {width: 15%;font-weight: 700;text-transform: uppercase;font-size: 14px !important;float: left;}
.pseat-no {font-weight: 400;font-size: 14px !important;}
.pcphone {font-weight: 700;}
.ppickup {width: 85%;float: right;text-align: right;font-size:16px !important;} 
.pnote {height: 20px; overflow: hidden;}
.print-title {width: 100%; margin-bottom: 10px;} 
strong.title { text-transform: uppercase;} 
.pcname {float: left; width: 50%; font-size: 18px !important} 
.pcphone {float: right; width: 50%; text-align: right; font-size: 17px !important} 
.pcname .ntk-pertrip {text-transform: uppercase; font-size: 15px !important}
.list h3 {text-align: center;} 
.list table, .list th, .list td {border: 1px solid black;text-align: center;line-height: 28px; } 
.list table {border-collapse: collapse;width: 100%;}
.list p {text-align: center;text-transform: uppercase;font-weight: 700;} 
.paid {/*background: #b7b7b7;*/background: none;} .exported {/*background: #b7b7b7;*/}

