.theme803 {
  /* su dung cho Bks khi them nut P*/
}
.theme803 .seat {
  height: 125px;
}
.theme803 .agentinfo {
  height: 45px;
  overflow: hidden;
}
.theme803 .logonx {
  padding: 0;
  font-weight: 700;
  font-size: 16px;
}
.theme803 .cinfo p.name {
  font-size: 12px !important;
}
@media screen and (min-device-width: 1920px) {
  .theme803 .seat {
    height: 140px;
  }
  .theme803 .agentinfo {
    height: 60px;
  }
  .theme803 .agentinfo p {
    font-size: 14px;
  }
  .theme803 .cinfo {
    padding: 5px;
  }
  .theme803 .cinfo p.name {
    font-size: 12px !important;
  }
  .theme803 .numT {
    font-size: 14px !important;
  }
  .theme803 .cinfo p.phone {
    font-size: 14px;
  }
}
.theme803 div.buttons {
  width: 97%;
  position: absolute;
  bottom: 3px;
}
.theme803 .seat {
  height: 140px;
}
.theme803 .agentinfo {
  height: auto;
}
.theme803 .cinfo {
  width: 100%;
  text-align: left;
  padding: 5px;
}
.theme803 .cinfo .phone {
  font-size: 12px;
  font-weight: bold;
}
.theme803 .pmInfo {
  float: right;
  padding-right: 10px;
  margin-top: 16px;
  font-size: 11px;
  margin-bottom: 0;
}
