/* For mobile-portrait:  */

@media only screen and (max-width :479px) {
    .vbooking-coach li.seat.col-xs-6 {
        width: 100% !important;
    }

    .col-xs-6 {
        width: 100% !important;
    }

    .mt10-xs {
        margin-top: 10px;
    }

    .list-group-item {
        float: left;
    }

    .pl0-xs {
        padding-left: 0;
    }

    .pr0-xs {
        padding-right: 0;
    }

    #update-popup .col-xs-1, #update-popup .col-xs-11 {
        width: 100%;
    }

    .action-row .btn {
        margin-bottom: 5px;
    }

    #update-popup .modal-md {
        width: auto !important;
    }

    .txtcapcha{
        width:70% !important;
    }

    .footer .info{
       margin-top:-15px !important;
    }

    .navbar .HomeTopSearch{
        display:none;
    }
      
}
