body {font-family:inherit;}

.seat[data-position='1_1_1'] {width:66.66%}
.seat[data-position='1_1_1'] .seat-code {margin-top:42px; width:100%; text-align: center; font-size:40px;}
.seat[data-position='1_1_1'] .buttons {display:none;}

div.buttons {
    width: 97%;
    position: absolute;
    bottom: 3px;
}

.seat {
    height: 160px;
}

.agentinfo {
    height: auto;
}

.cinfo {
    width: 100%;
    text-align: left;
}

.cinfo .phone {
    font-size: 15px;
    font-weight: bold;
}

.pmInfo {
    float: right;
    padding-right: 10px;
    margin-top: 16px;
    font-size: 11px;
    margin-bottom: 0;
}
