/*
Run this script on:

        112.213.94.177.VXR_BMS_006    -  This database will be modified

to synchronize it with:

        112.213.94.177.VXR_BMS_004

You are recommended to back up your database before running this script

Script created by SQL Compare version 10.7.0 from Red Gate Software Ltd at 23/03/2015 11:22:32 AM

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Removing schema binding from [dbo].[Bus_Tickets_Status_View]'
GO
ALTER VIEW [dbo].[Bus_Tickets_Status_View] AS SELECT Id,XTypeId,XAgentId,XBranchId,XOperatorId,XCompanyId,XRouteId,XTripId,XDate,XTime,XStatus,Info,Note,Name,Description,IsPrgCode,IsPrgCDate,IsPrgUDate,IsPrgStatus,IsPrgConfig,IsPrgCAccId,IsPrgUAccId,IsPrgCAccInfo,IsPrgUAccInfo,IsPrgHistoryInfo,IsPrgBranchInfo,IsPrgOperatorInfo,IsPrgCompanyInfo,IsPrgLanguageInfo FROM dbo.Bus_Tickets_Status
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Area]'
GO
ALTER TABLE [dbo].[Area] DROP CONSTRAINT [FK_Area_Company1]
ALTER TABLE [dbo].[Area] DROP CONSTRAINT [FK_Area_Company]
ALTER TABLE [dbo].[Area] DROP CONSTRAINT [FK_Area_Person]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Contract]'
GO
ALTER TABLE [dbo].[Contract] DROP CONSTRAINT [FK_Contract_Company_From]
ALTER TABLE [dbo].[Contract] DROP CONSTRAINT [FK_Contract_Person_From]
ALTER TABLE [dbo].[Contract] DROP CONSTRAINT [FK_Contract_Company_To]
ALTER TABLE [dbo].[Contract] DROP CONSTRAINT [FK_Contract_Person_To]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[CustomerTrip]'
GO
ALTER TABLE [dbo].[CustomerTrip] DROP CONSTRAINT [FK_CustomerTrip_Company]
ALTER TABLE [dbo].[CustomerTrip] DROP CONSTRAINT [FK_CustomerTrip_Trip]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Resource]'
GO
ALTER TABLE [dbo].[Resource] DROP CONSTRAINT [FK_Resource_Company]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Trip]'
GO
ALTER TABLE [dbo].[Trip] DROP CONSTRAINT [FK_Trip_Company]
ALTER TABLE [dbo].[Trip] DROP CONSTRAINT [FK_Trip_Person]
ALTER TABLE [dbo].[Trip] DROP CONSTRAINT [FK_Trip_Vehicle]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Ticket]'
GO
ALTER TABLE [dbo].[Ticket] DROP CONSTRAINT [FK_Ticket_Agent]
ALTER TABLE [dbo].[Ticket] DROP CONSTRAINT [FK_Ticket_Trip]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Ticket00]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Ticket00]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Ticket01]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Ticket01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Ticket02]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Ticket02]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Ticket03]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Ticket03]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[zgcTempViewData]'
GO
ALTER view zgcTempViewData as select ROW_NUMBER() OVER (ORDER BY Id desc) as ROWNUM , Id,TripId,AgentId,TripDate,SeatCode,IssueDate,PickupDate,CustomerInfo,Status,Fare,Note,PickupInfo,Serial,PaymentInfo,IsPrgHistoryInfo,Code,PassCode,FromValid,ToValid,IsPrgUpdatedDate,AgentInfo,Surcharge,TripAlias,CreatedUser,UserCharge,StageCode,Deposit,Discount,FromArea,ToArea,SeatType,Debt,CanceledDate,CancelInfo,Type from  (select top 100 percent  Id,TripId,AgentId,TripDate,SeatCode,IssueDate,PickupDate,CustomerInfo,Status,Fare,Note,PickupInfo,Serial,PaymentInfo,IsPrgHistoryInfo,Code,PassCode,FromValid,ToValid,IsPrgUpdatedDate,AgentInfo,Surcharge,TripAlias,CreatedUser,UserCharge,StageCode,Deposit,Discount,FromArea,ToArea,SeatType,Debt,CanceledDate,CancelInfo,Type from zgcl_Ticket03  WHERE (TripId = 1115 and (Status) = 3)  ORDER BY Id desc ) a 
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Trip00]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Trip00]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Trip01]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Trip01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Trip02]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Trip02]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Trip03]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Trip03]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Trip04]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Trip04]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[Report1]'
GO
EXEC sp_refreshview N'[dbo].[Report1]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[Customer00]'
GO
EXEC sp_refreshview N'[dbo].[Customer00]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[Customer01]'
GO
EXEC sp_refreshview N'[dbo].[Customer01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[Customer02]'
GO
EXEC sp_refreshview N'[dbo].[Customer02]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[Customer03]'
GO
EXEC sp_refreshview N'[dbo].[Customer03]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_ProductOrder00]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_ProductOrder00]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_ProductOrder01]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_ProductOrder01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_ProductOrder02]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_ProductOrder02]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_ProductOrder03]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_ProductOrder03]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_ProductOrder04]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_ProductOrder04]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[ReportCustomer00]'
GO
EXEC sp_refreshview N'[dbo].[ReportCustomer00]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[ReportCustomer01]'
GO
EXEC sp_refreshview N'[dbo].[ReportCustomer01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[ReportCustomer02]'
GO
EXEC sp_refreshview N'[dbo].[ReportCustomer02]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Trip05]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Trip05]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Bus_Tickets_Status]'
GO
ALTER TABLE [dbo].[Bus_Tickets_Status] ADD
[XFromId] [int] NULL,
[XToId] [int] NULL,
[EToId] [int] NULL,
[EFromId] [int] NULL,
[TimeLimit] [int] NULL CONSTRAINT [DF_TimeLimit] DEFAULT ((0))
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Bus_Tickets_Status_View]'
GO


ALTER VIEW [dbo].[Bus_Tickets_Status_View] WITH SCHEMABINDING AS SELECT Id,XTypeId,XAgentId,XBranchId,XOperatorId,XCompanyId,XRouteId,XTripId,XDate,XTime,XStatus,Info,Note,Name,Description,IsPrgCode,IsPrgCDate,IsPrgUDate,IsPrgStatus,IsPrgConfig,IsPrgCAccId,IsPrgUAccId,IsPrgCAccInfo,IsPrgUAccInfo,IsPrgHistoryInfo,IsPrgBranchInfo,IsPrgOperatorInfo,IsPrgCompanyInfo,IsPrgLanguageInfo,XFromId,XToId,EFromId,EToId,TimeLimit FROM dbo.Bus_Tickets_Status

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Bus_Tickets_Status_View00]'
GO



ALTER VIEW [dbo].[Bus_Tickets_Status_View00]
AS
SELECT        Id, XTypeId, XAgentId, XBranchId, XOperatorId, XCompanyId, XRouteId, XTripId, XDate, XTime, XStatus, Info, Note, Name, Description, IsPrgCode, IsPrgCDate, IsPrgUDate, IsPrgStatus, IsPrgConfig, IsPrgCAccId, 
                         IsPrgUAccId, IsPrgCAccInfo, IsPrgUAccInfo, IsPrgHistoryInfo, IsPrgBranchInfo, IsPrgOperatorInfo, IsPrgCompanyInfo, IsPrgLanguageInfo, XFromId,XToId,EFromId,EToId,TimeLimit
FROM            dbo.Bus_Tickets_Status_View
WHERE        (XStatus in (1,2,3))



GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Bus_Tickets_Status_View01]'
GO




ALTER VIEW [dbo].[Bus_Tickets_Status_View01]
AS
SELECT        Id, XTypeId, XAgentId, XBranchId, XOperatorId, XCompanyId, XRouteId, XTripId, XDate, XTime, XStatus, Info, Note, Name, Description, IsPrgCode, IsPrgCDate, IsPrgUDate, IsPrgStatus, IsPrgConfig, IsPrgCAccId, 
                         IsPrgUAccId, IsPrgCAccInfo, IsPrgUAccInfo, IsPrgHistoryInfo, IsPrgBranchInfo, IsPrgOperatorInfo, IsPrgCompanyInfo, IsPrgLanguageInfo, XFromId,XToId,EFromId,EToId,TimeLimit
FROM            dbo.Bus_Tickets_Status_View00

WHERE XDate is null or (XDate >= CAST(GETDATE() as date))





GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[Bus_Tickets_Status_View03]'
GO
EXEC sp_refreshview N'[dbo].[Bus_Tickets_Status_View03]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[XIKE_Profile]'
GO
EXEC sp_refreshview N'[dbo].[XIKE_Profile]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[XIKE_Ticket00]'
GO
EXEC sp_refreshview N'[dbo].[XIKE_Ticket00]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[XIKE_Ticket01]'
GO
EXEC sp_refreshview N'[dbo].[XIKE_Ticket01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Product00]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Product00]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[XIKE_Ticket02]'
GO
EXEC sp_refreshview N'[dbo].[XIKE_Ticket02]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Product01]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Product01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[XIKE_Ticket03]'
GO
EXEC sp_refreshview N'[dbo].[XIKE_Ticket03]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Product02]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Product02]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[XIKE_Ticket04]'
GO
EXEC sp_refreshview N'[dbo].[XIKE_Ticket04]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Product03]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Product03]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Product04]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Product04]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Product05]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Product05]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Report3]'
GO
ALTER view Report3 as select CompId, TripId, TripIdName, COUNT(case when Status != 3 then '1' else null end) as TotalTicket, COUNT(case when Status = 3 and (CancelFee is null or CancelFee = 0) then '1' else null end) as TotalCancel, COUNT(case when Status = 3 and CancelFee is not null and CancelFee != 0 then '1' else null end) as TotalCancelFee, SUM(case when Status = 3 then case when CancelFee is null then 0 else CancelFee end else case when Status = 5 then 0 else case when (PaymentInfo is null or SUBSTRING(PaymentInfo, 0, CHARINDEX(':', PaymentInfo)) != '9') then (case when Fare is null then 0 else Fare end + case when Surcharge is null then 0 else Surcharge end - case when Discount is null then 0 else Discount end ) else 0 end end end) as Total from XIKE_Ticket04 where   '2015-03-18T00:00:00.000'<=TripDate and TripDate<='2015-03-19T23:59:00.000' and CompId = 80 and AgentIdCharge = 81   and Status != 1 and Status != 8 group by CompId, TripId, TripIdName 
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Report4]'
GO
ALTER view Report4 as select C.CompId, C.TripId, SUM(C.SeatNumber) as TotalSeat from (select A.CompId, A.TripId, A.TripDate, A.Bus, case when B.SeatNumber is null then CONVERT(decimal, A.SeatNumber) else CONVERT(decimal, B.SeatNumber) end as SeatNumber from (select CompId, TripId, TripDate, SeatNumber, TripAlias As Bus from XIKE_Ticket04 where   '2015-03-18T00:00:00.000'<=TripDate and TripDate<='2015-03-19T23:59:00.000' and CompId = 80 and AgentIdCharge = 81   and Status != 1 and Status != 8 group by CompId, TripId, TripIdName, SeatNumber, TripDate, TripAlias) as A LEFT JOIN (select CompId, BaseId, CONVERT(varchar(10), Date, 110) + ' ' + Time as TripDate, Alias as Bus, SUBSTRING(SUBSTRING(SeatTemplateInfo, CHARINDEX('|', SeatTemplateInfo) + 1, LEN(SeatTemplateInfo)), CHARINDEX('|', SUBSTRING(SeatTemplateInfo, CHARINDEX('|', SeatTemplateInfo) + 1, LEN(SeatTemplateInfo))) + 1, CHARINDEX('|', SUBSTRING(SUBSTRING(SeatTemplateInfo, CHARINDEX('|', SeatTemplateInfo) + 1, LEN(SeatTemplateInfo)), CHARINDEX('|', SUBSTRING(SeatTemplateInfo, CHARINDEX('|', SeatTemplateInfo) + 1, LEN(SeatTemplateInfo))) + 1, LEN(SeatTemplateInfo))) - 1) as SeatNumber from Trip where  '2015-03-18T00:00:00.000'<=Date and Date<='2015-03-19T00:00:00.000'  and CompId = 80    and Type = 2 AND StatusInfo != 3 ) As B on B.BaseId = A.TripId and B.TripDate = A.TripDate and B.Bus = A.Bus) As C group by C.CompId, C.TripId 
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[SuggestCustomer01]'
GO
EXEC sp_refreshview N'[dbo].[SuggestCustomer01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[SuggestCustomerInfo01]'
GO
EXEC sp_refreshview N'[dbo].[SuggestCustomerInfo01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[CustomerTripEdit]'
GO
EXEC sp_refreshview N'[dbo].[CustomerTripEdit]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[GetProcedureData]'
GO
EXEC sp_refreshview N'[dbo].[GetProcedureData]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Contract00]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Contract00]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Contract01]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Contract01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Contract02]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Contract02]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[zgcl_Contract03]'
GO
EXEC sp_refreshview N'[dbo].[zgcl_Contract03]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Report2]'
GO
ALTER view Report2 as select PickupDate,Fare, TripIdName, Code, Substring(SeatCode, 0, Charindex('|', SeatCode)) as SeatCode, case when Surcharge = 0 then 0 else Surcharge end as Surcharge, case when Discount = 0 then 0 else Discount end as Discount, ((case when Fare = 0 or Fare is null then 0 else Fare end) + (case when Surcharge = 0 or Surcharge is null then 0 else Surcharge end) - (case when Discount = 0 or Discount is null then 0 else Discount end )) as Total from XIKE_Ticket04 where  '2015-03-09T00:00:00.000'<=PickupDate and PickupDate<='2015-03-23T23:59:00.000' and CompId = 2  and Status = 2 and Type = 2
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[CustomerTrip00]'
GO
EXEC sp_refreshview N'[dbo].[CustomerTrip00]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[CustomerTrip01]'
GO
EXEC sp_refreshview N'[dbo].[CustomerTrip01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [dbo].[CheckTicket]'
GO




CREATE VIEW [dbo].[CheckTicket]
AS

SELECT        
	dbo.Ticket.Type, dbo.Ticket.TripDate, dbo.Ticket.SeatType, dbo.Ticket.Id, dbo.Ticket.Status, dbo.Ticket.TripId,
	dbo.Bus_Tickets_Status.Info
FROM    dbo.Ticket
left JOIN
     dbo.Bus_Tickets_Status  ON dbo.Bus_Tickets_Status.XTripId = dbo.Ticket.TripId and dbo.Bus_Tickets_Status.XTypeId=5

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[gc_TripSummary00]'
GO
EXEC sp_refreshview N'[dbo].[gc_TripSummary00]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[gc_TripSummary01]'
GO
EXEC sp_refreshview N'[dbo].[gc_TripSummary01]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating trigger [dbo].[trg_Bus_Tickets_Status_01] on [dbo].[Bus_Tickets_Status]'
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[trg_Bus_Tickets_Status_01]
   ON  [dbo].[Bus_Tickets_Status]
   AFTER INSERT,UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	DECLARE @Id int;
	DECLARE @XFrom int;
	DECLARE @XTo int;
	DECLARE @EFrom int;
	DECLARE @ETo int;
	
	SET @Id = ISNULL((Select TOP 1 Id from inserted), 0);
	SET @XFrom = ISNULL((Select TOP 1 XFromId from inserted), 0);
	SET @XTo = ISNULL((Select TOP 1 XToId from inserted), 0);

	select top 1 @EFrom = URLId from [Area] where Id=@XFrom
	select top 1 @ETo = URLId from [Area] where Id=@XTo

	update [Bus_Tickets_Status] set EFromId = @EFrom, EToId = @ETo where Id=@Id 

END
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [dbo].[CheckTicket_TotalSeat]'
GO

CREATE VIEW [dbo].[CheckTicket_TotalSeat]
AS
SELECT        dbo.Trip.Id, dbo.Trip.Name, dbo.Resource.SummaryInfo, dbo.Resource.ExtendedSummaryInfo, dbo.Resource.Info
FROM            dbo.Trip LEFT JOIN
                         dbo.Resource ON PATINDEX('%' + dbo.Resource.Info + '%', dbo.Trip.SeatTemplateInfo) > 0
where dbo.Trip.Type = 1
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Refreshing [dbo].[comp53_Trip_type1]'
GO
EXEC sp_refreshview N'[dbo].[comp53_Trip_type1]'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Bus_Tickets_Status_View02]'
GO


ALTER VIEW [dbo].[Bus_Tickets_Status_View02]
AS
WITH temp AS( SELECT        Id, XTypeId, XAgentId, XBranchId, XOperatorId, XCompanyId, XRouteId, XTripId, XDate, XTime, XStatus, Info, Note, Name, Description, IsPrgCode, IsPrgCDate, IsPrgUDate, IsPrgStatus, IsPrgConfig, IsPrgCAccId, 
                         IsPrgUAccId, IsPrgCAccInfo, IsPrgUAccInfo, IsPrgHistoryInfo, IsPrgBranchInfo, IsPrgOperatorInfo, IsPrgCompanyInfo, IsPrgLanguageInfo, XFromId,XToId,EFromId,EToId,TimeLimit,
ROW_NUMBER() OVER(PARTITION BY p.XTypeId, p.XOperatorId, p.XRouteId, p.XDate, p.XTime 
                                 ORDER BY p.XTypeId ASC, p.XOperatorId ASC, p.XRouteId ASC, p.XDate ASC, p.XTime ASC ) AS rk
FROM            dbo.Bus_Tickets_Status_View01 p)
SELECT  Id, XTypeId, XAgentId, XBranchId, XOperatorId, XCompanyId, XRouteId, XTripId, XDate, XTime, XStatus, Info, Note, Name, Description, IsPrgCode, IsPrgCDate, IsPrgUDate, IsPrgStatus, IsPrgConfig, IsPrgCAccId, 
                         IsPrgUAccId, IsPrgCAccInfo, IsPrgUAccInfo, IsPrgHistoryInfo, IsPrgBranchInfo, IsPrgOperatorInfo, IsPrgCompanyInfo, IsPrgLanguageInfo, XFromId,XToId,EFromId,EToId,TimeLimit
FROM temp t
WHERE t.rk = 1


GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Area]'
GO
ALTER TABLE [dbo].[Area] WITH NOCHECK  ADD CONSTRAINT [FK_Area_Company1] FOREIGN KEY ([AgentId]) REFERENCES [dbo].[Company] ([Id])
ALTER TABLE [dbo].[Area] WITH NOCHECK  ADD CONSTRAINT [FK_Area_Company] FOREIGN KEY ([CompId]) REFERENCES [dbo].[Company] ([Id])
ALTER TABLE [dbo].[Area] WITH NOCHECK  ADD CONSTRAINT [FK_Area_Person] FOREIGN KEY ([PersonId]) REFERENCES [dbo].[Person] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Contract]'
GO
ALTER TABLE [dbo].[Contract] WITH NOCHECK  ADD CONSTRAINT [FK_Contract_Company_From] FOREIGN KEY ([FromCompId]) REFERENCES [dbo].[Company] ([Id])
ALTER TABLE [dbo].[Contract] WITH NOCHECK  ADD CONSTRAINT [FK_Contract_Person_From] FOREIGN KEY ([FromPersonId]) REFERENCES [dbo].[Person] ([Id])
ALTER TABLE [dbo].[Contract] WITH NOCHECK  ADD CONSTRAINT [FK_Contract_Company_To] FOREIGN KEY ([ToCompId]) REFERENCES [dbo].[Company] ([Id])
ALTER TABLE [dbo].[Contract] WITH NOCHECK  ADD CONSTRAINT [FK_Contract_Person_To] FOREIGN KEY ([ToPersonId]) REFERENCES [dbo].[Person] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[CustomerTrip]'
GO
ALTER TABLE [dbo].[CustomerTrip] WITH NOCHECK  ADD CONSTRAINT [FK_CustomerTrip_Company] FOREIGN KEY ([CompId]) REFERENCES [dbo].[Company] ([Id])
ALTER TABLE [dbo].[CustomerTrip] WITH NOCHECK  ADD CONSTRAINT [FK_CustomerTrip_Trip] FOREIGN KEY ([TripId]) REFERENCES [dbo].[Trip] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Resource]'
GO
ALTER TABLE [dbo].[Resource] WITH NOCHECK  ADD CONSTRAINT [FK_Resource_Company] FOREIGN KEY ([CompId]) REFERENCES [dbo].[Company] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Trip]'
GO
ALTER TABLE [dbo].[Trip] WITH NOCHECK  ADD CONSTRAINT [FK_Trip_Company] FOREIGN KEY ([CompId]) REFERENCES [dbo].[Company] ([Id])
ALTER TABLE [dbo].[Trip] WITH NOCHECK  ADD CONSTRAINT [FK_Trip_Person] FOREIGN KEY ([OwnerId]) REFERENCES [dbo].[Person] ([Id])
ALTER TABLE [dbo].[Trip] WITH NOCHECK  ADD CONSTRAINT [FK_Trip_Vehicle] FOREIGN KEY ([VehicleId]) REFERENCES [dbo].[Vehicle] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Ticket]'
GO
ALTER TABLE [dbo].[Ticket] WITH NOCHECK  ADD CONSTRAINT [FK_Ticket_Agent] FOREIGN KEY ([AgentId]) REFERENCES [dbo].[Company] ([Id])
ALTER TABLE [dbo].[Ticket] WITH NOCHECK  ADD CONSTRAINT [FK_Ticket_Trip] FOREIGN KEY ([TripId]) REFERENCES [dbo].[Trip] ([Id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating extended properties'
GO
EXEC sp_addextendedproperty N'MS_DiagramPane1', N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Trip"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 339
               Right = 269
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Ticket"
            Begin Extent = 
               Top = 6
               Left = 307
               Bottom = 326
               Right = 510
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
', 'SCHEMA', N'dbo', 'VIEW', N'CheckTicket', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DECLARE @xp int
SELECT @xp=1
EXEC sp_addextendedproperty N'MS_DiagramPaneCount', @xp, 'SCHEMA', N'dbo', 'VIEW', N'CheckTicket', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
EXEC sp_addextendedproperty N'MS_DiagramPane1', N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Resource"
            Begin Extent = 
               Top = 36
               Left = 495
               Bottom = 294
               Right = 704
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Trip"
            Begin Extent = 
               Top = 14
               Left = 114
               Bottom = 338
               Right = 345
            End
            DisplayFlags = 280
            TopColumn = 20
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
', 'SCHEMA', N'dbo', 'VIEW', N'CheckTicket_TotalSeat', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DECLARE @xp int
SELECT @xp=1
EXEC sp_addextendedproperty N'MS_DiagramPaneCount', @xp, 'SCHEMA', N'dbo', 'VIEW', N'CheckTicket_TotalSeat', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
