::-moz-placeholder {
    color: #afafaf !important;
    font-weight: 200 !important;
}

/*Begin input classes*/

/* firefox 19+ */
:-ms-input-placeholder {
    color: #afafaf !important;
    font-weight: 200 !important;
}
/* ie */
input:-moz-placeholder {
    color: #afafaf !important;
    font-weight: 200 !important;
}

.new-input {
    padding: 0 7px !important;
    font-size: 13px !important;
    -ms-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    height: 25px !important;
}

.new-input-birthday {
    padding: 0 5px !important;
    font-size: 13px !important;
    -webkit-border-top-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    width: 36% !important;
    height: 25px !important;
}

::-webkit-input-placeholder {
    color: #afafaf !important;
    font-weight: 200 !important;
}

/*Begin select classes*/

select.input-sm {
    padding-right: 5px;
}

.op-select {
    outline: 0 !important;
}

    .op-select:hover {
        background-color: #ddd !important;
    }

.new-select {
    width: 80% !important;
    height: 25px !important;
    padding-left: 10px !important;
}

    .new-select:focus {
        outline: none !important;
    }

/*Begin textarea classes*/

textarea.agent-info, textarea.company-info {
    height: 32px;
}

textarea.route-info,
textarea.seat-template-info {
    height: 110px;
}

.new-input-textarea {
    padding: 0 7px !important;
    font-size: 13px !important;
    border-radius: 5px !important;
    max-width: 100% !important;
    line-height: 20px !important;
    text-align: left !important;
}
