.masked {
    overflow: hidden !important;
}

.masked-relative {
    position: relative !important;
}

.masked-hidden {
    visibility: hidden !important;
}

.loadmask {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}

.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #6593cf;
    background: #c3daf9;
    padding: 2px;
}

    .loadmask-msg div {
        padding: 5px 10px 5px 25px;
        background: #fbfbfb url('../../images/loadmask/loading.gif') no-repeat 5px 5px;
        line-height: 16px;
        border: 1px solid #a3bad9;
        color: #222;
        font: normal 11px tahoma, arial, helvetica, sans-serif;
        cursor: wait;
    }


.spinner {
  margin: 10px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner.white > div {
  background-color: white;
}

.spinner.red > div {
  background-color: #ea75b0;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}