ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul.coach:nth-child(2) {
        margin-top: 80px;
    }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 105px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 3px;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 45%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    font-weight: 700;
    font-size: 12px !important;
    float: right;
    width: 50%;
    text-align: right;
}

.ppayment {
    width: 55%;
    float: right;
    text-align: right;
    background: #ddd;
}

.pnote {
    height: 20px;
    /*overflow: hidden;*/
    clear: both;
    text-transform: lowercase;
}

.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: right;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
    float: left;
    width: 50%;
	text-transform:lowercase;
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

ul.coach:nth-child(1) li:nth-child(19),
ul.coach:nth-child(1) li:nth-child(20),
ul.coach:nth-child(1) li:nth-child(21),
ul.coach:nth-child(1) li:nth-child(22),
ul.coach:nth-child(1) li:nth-child(23),
ul.coach:nth-child(1) li:nth-child(24),
ul.coach:nth-child(1) li:nth-child(25),
ul.coach:nth-child(1) li:nth-child(26),
ul.coach:nth-child(1) li:nth-child(27),
ul.coach:nth-child(1) li:nth-child(28),
ul.coach:nth-child(2) li:nth-child(19),
ul.coach:nth-child(2) li:nth-child(20),
ul.coach:nth-child(2) li:nth-child(21),
ul.coach:nth-child(2) li:nth-child(22),
ul.coach:nth-child(2) li:nth-child(23),
ul.coach:nth-child(2) li:nth-child(24),
ul.coach:nth-child(2) li:nth-child(25),
ul.coach:nth-child(2) li:nth-child(26),
ul.coach:nth-child(2) li:nth-child(27),
ul.coach:nth-child(2) li:nth-child(28) {
    height: 150px;
}

    ul.coach:nth-child(1) li:nth-child(19) table tr:first-child,
    ul.coach:nth-child(1) li:nth-child(20) table tr:first-child,
    ul.coach:nth-child(1) li:nth-child(21) table tr:first-child,
    ul.coach:nth-child(1) li:nth-child(22) table tr:first-child,
    ul.coach:nth-child(1) li:nth-child(23) table tr:first-child,
    ul.coach:nth-child(1) li:nth-child(24) table tr:first-child,
    ul.coach:nth-child(1) li:nth-child(25) table tr:first-child,
    ul.coach:nth-child(1) li:nth-child(26) table tr:first-child,
    ul.coach:nth-child(1) li:nth-child(27) table tr:first-child,
    ul.coach:nth-child(1) li:nth-child(28) table tr:first-child,
    ul.coach:nth-child(2) li:nth-child(19) table tr:first-child,
    ul.coach:nth-child(2) li:nth-child(20) table tr:first-child,
    ul.coach:nth-child(2) li:nth-child(21) table tr:first-child,
    ul.coach:nth-child(2) li:nth-child(22) table tr:first-child,
    ul.coach:nth-child(2) li:nth-child(23) table tr:first-child,
    ul.coach:nth-child(2) li:nth-child(24) table tr:first-child,
    ul.coach:nth-child(2) li:nth-child(25) table tr:first-child,
    ul.coach:nth-child(2) li:nth-child(26) table tr:first-child,
    ul.coach:nth-child(2) li:nth-child(27) table tr:first-child,
    ul.coach:nth-child(2) li:nth-child(28) table tr:first-child {
        height: 20px;
    }

    ul.coach:nth-child(1) li:nth-child(19) table tr:nth-child(2),
    ul.coach:nth-child(1) li:nth-child(20) table tr:nth-child(2),
    ul.coach:nth-child(1) li:nth-child(21) table tr:nth-child(2),
    ul.coach:nth-child(1) li:nth-child(22) table tr:nth-child(2),
    ul.coach:nth-child(1) li:nth-child(23) table tr:nth-child(2),
    ul.coach:nth-child(1) li:nth-child(24) table tr:nth-child(2),
    ul.coach:nth-child(1) li:nth-child(25) table tr:nth-child(2),
    ul.coach:nth-child(1) li:nth-child(26) table tr:nth-child(2),
    ul.coach:nth-child(1) li:nth-child(27) table tr:nth-child(2),
    ul.coach:nth-child(1) li:nth-child(28) table tr:nth-child(2),
    ul.coach:nth-child(2) li:nth-child(19) table tr:nth-child(2),
    ul.coach:nth-child(2) li:nth-child(20) table tr:nth-child(2),
    ul.coach:nth-child(2) li:nth-child(21) table tr:nth-child(2),
    ul.coach:nth-child(2) li:nth-child(22) table tr:nth-child(2),
    ul.coach:nth-child(2) li:nth-child(23) table tr:nth-child(2),
    ul.coach:nth-child(2) li:nth-child(24) table tr:nth-child(2),
    ul.coach:nth-child(2) li:nth-child(25) table tr:nth-child(2),
    ul.coach:nth-child(2) li:nth-child(26) table tr:nth-child(2),
    ul.coach:nth-child(2) li:nth-child(27) table tr:nth-child(2),
    ul.coach:nth-child(2) li:nth-child(28) table tr:nth-child(2) {
        height: 35px;
    }

    ul.coach:nth-child(1) li:nth-child(19) table tr:nth-child(3),
    ul.coach:nth-child(1) li:nth-child(20) table tr:nth-child(3),
    ul.coach:nth-child(1) li:nth-child(21) table tr:nth-child(3),
    ul.coach:nth-child(1) li:nth-child(22) table tr:nth-child(3),
    ul.coach:nth-child(1) li:nth-child(23) table tr:nth-child(3),
    ul.coach:nth-child(1) li:nth-child(24) table tr:nth-child(3),
    ul.coach:nth-child(1) li:nth-child(25) table tr:nth-child(3),
    ul.coach:nth-child(1) li:nth-child(26) table tr:nth-child(3),
    ul.coach:nth-child(1) li:nth-child(27) table tr:nth-child(3),
    ul.coach:nth-child(1) li:nth-child(28) table tr:nth-child(3),
    ul.coach:nth-child(2) li:nth-child(19) table tr:nth-child(3),
    ul.coach:nth-child(2) li:nth-child(20) table tr:nth-child(3),
    ul.coach:nth-child(2) li:nth-child(21) table tr:nth-child(3),
    ul.coach:nth-child(2) li:nth-child(22) table tr:nth-child(3),
    ul.coach:nth-child(2) li:nth-child(23) table tr:nth-child(3),
    ul.coach:nth-child(2) li:nth-child(24) table tr:nth-child(3),
    ul.coach:nth-child(2) li:nth-child(25) table tr:nth-child(3),
    ul.coach:nth-child(2) li:nth-child(26) table tr:nth-child(3),
    ul.coach:nth-child(2) li:nth-child(27) table tr:nth-child(3),
    ul.coach:nth-child(2) li:nth-child(28) table tr:nth-child(3) {
        height: 40px;
    }

    ul.coach:nth-child(1) li:nth-child(19) table .pcname, ul.coach:nth-child(1) li:nth-child(19) table .pcphone,
    ul.coach:nth-child(1) li:nth-child(20) table .pcname, ul.coach:nth-child(1) li:nth-child(20) table .pcphone,
    ul.coach:nth-child(1) li:nth-child(21) table .pcname, ul.coach:nth-child(1) li:nth-child(21) table .pcphone,
    ul.coach:nth-child(1) li:nth-child(22) table .pcname, ul.coach:nth-child(1) li:nth-child(22) table .pcphone,
    ul.coach:nth-child(1) li:nth-child(23) table .pcname, ul.coach:nth-child(1) li:nth-child(23) table .pcphone,
    ul.coach:nth-child(1) li:nth-child(24) table .pcname, ul.coach:nth-child(1) li:nth-child(24) table .pcphone,
    ul.coach:nth-child(1) li:nth-child(25) table .pcname, ul.coach:nth-child(1) li:nth-child(25) table .pcphone,
    ul.coach:nth-child(1) li:nth-child(26) table .pcname, ul.coach:nth-child(1) li:nth-child(26) table .pcphone,
    ul.coach:nth-child(1) li:nth-child(27) table .pcname, ul.coach:nth-child(1) li:nth-child(27) table .pcphone,
    ul.coach:nth-child(1) li:nth-child(28) table .pcname, ul.coach:nth-child(1) li:nth-child(28) table .pcphone,
    ul.coach:nth-child(2) li:nth-child(19) table .pcname, ul.coach:nth-child(2) li:nth-child(19) table .pcphone,
    ul.coach:nth-child(2) li:nth-child(20) table .pcname, ul.coach:nth-child(2) li:nth-child(20) table .pcphone,
    ul.coach:nth-child(2) li:nth-child(21) table .pcname, ul.coach:nth-child(2) li:nth-child(21) table .pcphone,
    ul.coach:nth-child(2) li:nth-child(22) table .pcname, ul.coach:nth-child(2) li:nth-child(22) table .pcphone,
    ul.coach:nth-child(2) li:nth-child(23) table .pcname, ul.coach:nth-child(2) li:nth-child(23) table .pcphone,
    ul.coach:nth-child(2) li:nth-child(24) table .pcname, ul.coach:nth-child(2) li:nth-child(24) table .pcphone,
    ul.coach:nth-child(2) li:nth-child(25) table .pcname, ul.coach:nth-child(2) li:nth-child(25) table .pcphone,
    ul.coach:nth-child(2) li:nth-child(26) table .pcname, ul.coach:nth-child(2) li:nth-child(26) table .pcphone,
    ul.coach:nth-child(2) li:nth-child(27) table .pcname, ul.coach:nth-child(2) li:nth-child(27) table .pcphone,
    ul.coach:nth-child(2) li:nth-child(28) table .pcname, ul.coach:nth-child(2) li:nth-child(28) table .pcphone {
        width: 100%;
        text-align: left;
        float: left;
    }

.ds-trung-chuyen table {
font-size:21px;
}
