/*This file is for Login.Master and Laypout.Master*/

body {
    background: #E2E5EB;
}

.logo-foot img {
    margin-top: -10px;
}

.footer {
    margin-top: 18px;
    background: #1e62a3;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

    .footer .info {
        margin-top: -15px;
        width: 100%;
    }

    .footer .hotline {
        text-align: right;
        color: lightgray;
        display: inline-block;
        float: right;
        margin-top: -5px !important;
    }

    .footer .copyright {
        text-align: left;
        color: lightgray;
        display: inline-block;
        float: left;
        margin-top: -5px !important;
        margin-left: 10px;
    }

.bd-radius0 {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.realperson-challenge {
    display: inline-table;
    margin-bottom: 5px;
}

.txtcapcha {
    width: 70%;
    margin-bottom: 10px;
    float: right;
}

div.capcha {
    background-color: #e2e5eb !important;
}

    div.capcha img {
        height: 30px;
        width: 48%;
        float: right;
    }

#progressCover {
    width: 100%;
    height: 2000px;
    background: #FFF;
    position: absolute;
    z-index: 100000;
    margin-top: 44px;
    text-align: center;
    padding-top: 100px;
    font-size: 29px;
}

#progressFoot {
    position: fixed;
    bottom: 0;
    background: url(../../Content/images/bus.gif);
    width: 100%;
    height: 73px;
    z-index: 1000000;
    opacity: 0.6;
}

div.nonSupport {
    display: none;
}

    div.nonSupport img {
        width: 50%;
        margin-top: 20px;
    }


@media only screen and (max-width :260px) {
    div.nonSupport {
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px;
        text-align: center;
    }

    div.login-container, #mainContainer, div.footer, .navbar, .status-bar, .BSFilterForm {
        display: none !important;
    }
}

#HomeTopSearch {
    width: 100%;
    padding-left: 25px;
    display: none;
}

    #HomeTopSearch .searchContainer {
        width: 100% !important;
    }

    #HomeTopSearch input {
        width: 100%;
    }

.HomeTopSearch div.searchContainer div.search-result table.search-items tr {
    padding: 0 !important;
}

    .HomeTopSearch div.searchContainer div.search-result table.search-items tr td:hover {
        cursor: pointer;
    }
