ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
	/* margin-top:-15px !important; */
}
/* ul.coach li {overflow: hidden;}
ul.coach:nth-child(1) {
        margin-top: -10px !important;
    } 
ul.coach:nth-child(2) {
        margin-top: 8px !important;
    } 
 */

.cuser {white-space:nowrap;}
.col-md-spec {
    width: 15.5% !important;
}

.da-thanh-toan {
    background: black !important;
    color: white;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5, .col-md-spec {
    float: left;
}

.col-md-12 {
    width: 100%;
	/* margin-top: -21px; */
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 75px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 0;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 18%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
	text-align: center;
	padding-right:5px;
}
.tt {width:82%;}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

.pcphone {
    /* font-weight: 700; */
    font-size: 16px !important;
    float: right;
    width: 100%;
    text-align: right;
    /* margin-top: -3px !important; */
	white-space:nowrap;
}

.ppayment {
    width: 85%;
    float: right;
    text-align: right;
}

.pnote {
   /*  height: 20px; */
     text-transform: lowercase;
   /*  margin: -15px 0; */
    line-height: 16px;
    width: 100%;
    font-size: 14px;
	margin-top: -2px !important;
	 white-space:nowrap; 
}
.ghichu {font-size: 14px; white-space: nowrap;margin-top:9px !important;}
.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: left;
	font-size: 14px !important;
	margin-top: -6px !important;
	 text-transform: lowercase;
	 white-space:nowrap;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.pcname {
	text-align: left;
    float: left;
    width: 100%;
    font-size: 14px !important;
    /* margin-top: 4px !important; */
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

.print-noseat {
    height: 64px;
    width: 49px !important;
}


