<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="FiboSMSAccount" value="CL8545" />
  <add key="FiboSMSPassword" value="12356789" />
  <add key="EmailCOD" value="Admin@vexere.org" />
  <add key="SMTP_USERNAME" value="AKIAITBXMORJI5LRSAUQ" />
  <add key="SMTP_PASSWORD" value="AnAR7pNNU3Ne7SXnMXbi+8nh02R3bVyQmieO+gGPjICR" />
  <add key="HOSTEmail" value="email-smtp.us-west-2.amazonaws.com" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://center.fibosms.com/Service.asmx" binding="basicHttpBinding"
          bindingConfiguration="ServiceSoap" contract="ServiceSMS.ServiceSoap"
          name="ServiceSoap" />
      <endpoint address="http://center.fibosms.com/Service.asmx" binding="customBinding"
          bindingConfiguration="ServiceSoap12" contract="ServiceSMS.ServiceSoap"
          name="ServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>