.da-thanh-toan {background:black !important;color:white;}

ul.coach { list-style: none; margin: 0; padding: 0; } 
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 { float: left; } 
.col-md-12 { width: 100%; } 
.col-md-6 {width: 50%;} 
.col-md-4 {width: 33.3333%;} 
.col-md-3 {width: 25%;} 
.vcol-md-5 {width: 20%;}
.print-seat {height: 70px;} 
.print-seat table {width: 100%; height: 100%;border-top: 1px solid #000000;border-left: 1px solid #000000; padding: 3px;} 
.print-seat table td {padding-top: 0;padding-bottom: 0;vertical-align: top;} .br {border-right: 1px solid #000000;} 
.bb {border-bottom: 1px solid #000000;} 
.print-seat p {margin: 0;font-size: 12px;line-height: 16px;}
.pseat-code {width: 15%;font-weight: 700;text-transform: uppercase;font-size: 14px !important;float: left;}
.pseat-no {font-weight: 400;font-size: 14px !important;}
.pcphone {font-weight: 700;}
.ppickup {width: 85%;float: right;text-align: right;font-size:16px !important;} 
.pnote {height: 20px; overflow: hidden;}
.print-title {width: 100%; margin-bottom: 10px;} 
strong.title { text-transform: uppercase;} 
.pcname {float: left; width: 50%; font-size: 18px !important} 
.pcphone {float: right; width: 50%; text-align: right; font-size: 17px !important} 
.pcname .ntk-pertrip {text-transform: uppercase; font-size: 15px !important}
.list h3 {text-align: center;} 
.list table, .list th, .list td {border: 1px solid black;text-align: center;line-height: 28px; } 
.list table {border-collapse: collapse;width: 100%;}
.list p {text-align: center;text-transform: uppercase;font-weight: 700;} 
.paid {/*background: #b7b7b7;*/background: none;} .exported {/*background: #b7b7b7;*/}

ul.SeatTemp53.coach:nth-child(2) li:nth-child(7) table {
    clear: both;
	width: 352px !important;
	}
ul.SeatTemp53.coach:nth-child(2) li:nth-child(7) {
    margin-left: 705px !important;
	width: 360px !important;
	}
ul.SeatTemp53.coach:nth-child(2) li:nth-child(10) {
    clear: both;	
	}
ul.SeatTemp53.coach:nth-child(2) li:nth-child(8) table {
    width: 352px !important;
	}
ul.SeatTemp53.coach:nth-child(2) li:nth-child(8) {
    width: 352px !important;
	}
ul.SeatTemp53.coach:nth-child(2) li:nth-child(9) table {
     width: 352px !important;
	
	}	
.SeatTemp53.coach:nth-child(2) li:nth-child(9) {
     width: 352px !important;
	margin-left: 352px !important;
	}
.SeatTemp53 .print-seat {
    height: 87px;
}
.SeatTemp53.coach:nth-child(2) li:nth-child(10), .SeatTemp53.coach:nth-child(2) li:nth-child(12), .SeatTemp53.coach:nth-child(2) li:nth-child(13), .SeatTemp53.coach:nth-child(2) li:nth-child(14), .SeatTemp53.coach:nth-child(2) li:nth-child(15), .SeatTemp53.coach:nth-child(2) li:nth-child(11),
.SeatTemp53.coach:nth-child(2) li:nth-child(16), .SeatTemp53.coach:nth-child(2) li:nth-child(19), .SeatTemp53.coach:nth-child(2) li:nth-child(22), .SeatTemp53.coach:nth-child(2) li:nth-child(25), .SeatTemp53.coach:nth-child(2) li:nth-child(28), 
.SeatTemp53.coach:nth-child(2) li:nth-child(17), .SeatTemp53.coach:nth-child(2) li:nth-child(20), .SeatTemp53.coach:nth-child(2) li:nth-child(23), .SeatTemp53.coach:nth-child(2) li:nth-child(26), .SeatTemp53.coach:nth-child(2) li:nth-child(29), 
.SeatTemp53.coach:nth-child(2) li:nth-child(18), .SeatTemp53.coach:nth-child(2) li:nth-child(21), .SeatTemp53.coach:nth-child(2) li:nth-child(24), .SeatTemp53.coach:nth-child(2) li:nth-child(27) {
     height: 105px !important;
	}
.SeatTemp53.coach:nth-child(2) li:nth-child(10) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(12) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(13) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(14) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(15) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(11) .pcname,
.SeatTemp53.coach:nth-child(2) li:nth-child(16) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(19) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(22) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(25) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(28) .pcname, 
.SeatTemp53.coach:nth-child(2) li:nth-child(17) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(20) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(23) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(26) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(29) .pcname, 
.SeatTemp53.coach:nth-child(2) li:nth-child(18) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(21) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(24) .pcname, .SeatTemp53.coach:nth-child(2) li:nth-child(27) .pcname  {
     width:100% !important;
	}
.SeatTemp53 .pseat-code {
    line-height: 21px !important;
	font-size: 18px !important;
}

.SeatTemp53 .ppickup {
    line-height: 21px !important;
	font-size: 20px !important;
}
.SeatTemp53 .pnote {
    line-height: 21px !important;
	font-size: 21px !important;
}
.SeatTemp53 .pcname {
    line-height: 21px !important;
	font-size: 22px !important;
}
.SeatTemp53 .pcphone {
    line-height: 21px !important;
	font-size: 21px !important;
}

