ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
	margin-top: 8px;
}
.SeatTemp42 .print-seat {
    height: 63px;
}
.SeatTemp52 .print-seat {
    height: 57px;
}

   

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}

.print-seat {
    height: 63px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 3px;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}
.no-background {background:none !important;}
.print-seat p {
    margin: 0;
}

.pseat-code {
    width: 20%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px !important;
    float: left;
}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}

/* .pcphone {
    font-weight: 700;
    font-size: 16px !important;
    float: right;
    width: 80%;
    text-align: right;
} */
.SeatTemp42 .pcphone {
   font-weight: 700;
    font-size: 16px !important;
    float: right;
    width: 80%;
    text-align: right;
	padding-left: 100px;
}
.SeatTemp52 .pcphone {
    font-weight: 700;
    width: 80%;
    text-align: right;
	padding-left: 40px;
}
.ppayment {
    width: 55%;
    float: right;
    text-align: right;
    background: #ddd;
}

/* .pnote {
    height: 20px;
    overflow: hidden;
    width: 100%;
	float: left;
    text-transform: lowercase;
	white-space: nowrap;
	overflow: hidden;
	} */
.SeatTemp42 .pnote {
    height: 20px; 
    width: 100%;
	float: left;
    text-transform: lowercase;
	white-space: nowrap;
	overflow: hidden;
	}
.SeatTemp52 .pnote {
    height: 20px;
    width: 100%;
	float: left;
    text-transform: lowercase;
	white-space: nowrap;
	overflow: hidden;
	margin-top: -3px;
	}

.ppickup span {
    text-transform: lowercase;
}

/* .pmInfo {
	float: right;
	width: 75%;
	text-align: right; */
}
.SeatTemp42 .pmInfo {
   float: right;
	width: 75%;
	text-align: right;
}
.SeatTemp52 .pmInfo {
    float: right;
	width: 65%;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-transform: lowercase;
	margin-top: -3px;
}
.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

/* .pcname {
    float: left;
    width: 25%;
	white-space: nowrap;
} */
.SeatTemp42 .pcname {
    float: left;
    width: 25%;
	white-space: nowrap;
	margin-top: -3px;
}
.SeatTemp52 .pcname {
    float: left;
    width: 35%;
	white-space: nowrap;
}

.ntk-pertrip {
    text-transform: uppercase;
    font-size: 14px;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

	ul.SeatTemp42.coach:nth-child(1) li:nth-child(1),
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(1) {

	width: 230px !important;
	float: right;
	} 
	ul.SeatTemp42.coach li{
	overflow: hidden;
	} 
	ul.SeatTemp42.coach li table{
	padding: 0;
	} 
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(2),
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(2) {
	clear: both;
	} 
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(1), ul.SeatTemp42.coach:nth-child(1) li:nth-child(15), ul.SeatTemp42.coach:nth-child(1) li:nth-child(16),
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(1), ul.SeatTemp42.coach:nth-child(2) li:nth-child(15), ul.SeatTemp42.coach:nth-child(2) li:nth-child(16) {
	
	overflow: hidden;
	} 
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(17) .pnote, ul.SeatTemp42.coach:nth-child(1) li:nth-child(18) .pnote, ul.SeatTemp42.coach:nth-child(1) li:nth-child(19) .pnote,
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(20) .pnote, ul.SeatTemp42.coach:nth-child(1) li:nth-child(21) .pnote, 
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(17) .pnote, ul.SeatTemp42.coach:nth-child(2) li:nth-child(18) .pnote, ul.SeatTemp42.coach:nth-child(2) li:nth-child(19) .pnote,
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(20) .pnote, ul.SeatTemp42.coach:nth-child(2) li:nth-child(21) .pnote {
	white-space: nowrap !important;
	overflow: hidden !important;
	font-size: 14px !important;
	
	} 
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(17) .pcname, ul.SeatTemp42.coach:nth-child(1) li:nth-child(18) .pcname, ul.SeatTemp42.coach:nth-child(1) li:nth-child(19) .pcname,
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(20) .pcname, ul.SeatTemp42.coach:nth-child(1) li:nth-child(21) .pcname, 
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(17) .pcname, ul.SeatTemp42.coach:nth-child(2) li:nth-child(18) .pcname, ul.SeatTemp42.coach:nth-child(2) li:nth-child(19) .pcname,
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(20) .pcname, ul.SeatTemp42.coach:nth-child(2) li:nth-child(21) .pcname {
	white-space: nowrap;
	font-size: 14px !important;
	} 
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(17) , ul.SeatTemp42.coach:nth-child(1) li:nth-child(18) , ul.SeatTemp42.coach:nth-child(1) li:nth-child(19) ,
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(20) , ul.SeatTemp42.coach:nth-child(1) li:nth-child(21) , 
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(17) , ul.SeatTemp42.coach:nth-child(2) li:nth-child(18) , ul.SeatTemp42.coach:nth-child(2) li:nth-child(19) ,
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(20) , ul.SeatTemp42.coach:nth-child(2) li:nth-child(21)  {
	
	height: 87px !important;
	
	} 
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(17) .pcphone, ul.SeatTemp42.coach:nth-child(1) li:nth-child(18) .pcphone, ul.SeatTemp42.coach:nth-child(1) li:nth-child(19) .pcphone,
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(20) .pcphone, ul.SeatTemp42.coach:nth-child(1) li:nth-child(21) .pcphone, 
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(17) .pcphone, ul.SeatTemp42.coach:nth-child(2) li:nth-child(18) .pcphone, ul.SeatTemp42.coach:nth-child(2) li:nth-child(19) .pcphone,
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(20) .pcphone, ul.SeatTemp42.coach:nth-child(2) li:nth-child(21) .pcphone {
	width: 100% !important;
	font-size: 13px !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-align: left !important;
	padding-left: 40px;
	}
	
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(17) .pmInfo, ul.SeatTemp42.coach:nth-child(1) li:nth-child(18) .pmInfo, ul.SeatTemp42.coach:nth-child(1) li:nth-child(19) .pmInfo,
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(20) .pmInfo, ul.SeatTemp42.coach:nth-child(1) li:nth-child(21) .pmInfo, 
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(17) .pmInfo, ul.SeatTemp42.coach:nth-child(2) li:nth-child(18) .pmInfo, ul.SeatTemp42.coach:nth-child(2) li:nth-child(19) .pmInfo,
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(20) .pmInfo, ul.SeatTemp42.coach:nth-child(2) li:nth-child(21) .pmInfo {
	width: 100% !important;
	font-size: 13px !important;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	float: left;
	}
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(17) .ntk-pertrip, ul.SeatTemp42.coach:nth-child(1) li:nth-child(18) .ntk-pertrip, ul.SeatTemp42.coach:nth-child(1) li:nth-child(19) .ntk-pertrip,
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(20) .ntk-pertrip, ul.SeatTemp42.coach:nth-child(1) li:nth-child(21) .ntk-pertrip, 
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(17) .ntk-pertrip, ul.SeatTemp42.coach:nth-child(2) li:nth-child(18) .ntk-pertrip, ul.SeatTemp42.coach:nth-child(2) li:nth-child(19) .ntk-pertrip,
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(20) .ntk-pertrip, ul.SeatTemp42.coach:nth-child(2) li:nth-child(21) .ntk-pertrip {
	
	font-size: 11px !important;
	}
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(17) .pseat-code, ul.SeatTemp42.coach:nth-child(1) li:nth-child(18) .pseat-code, ul.SeatTemp42.coach:nth-child(1) li:nth-child(19) .pseat-code,
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(20) .pseat-code, ul.SeatTemp42.coach:nth-child(1) li:nth-child(21) .pseat-code, 
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(17) .pseat-code, ul.SeatTemp42.coach:nth-child(2) li:nth-child(18) .pseat-code, ul.SeatTemp42.coach:nth-child(2) li:nth-child(19) .pseat-code,
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(20) .pseat-code, ul.SeatTemp42.coach:nth-child(2) li:nth-child(21) .pseat-code  {
	width: 33% !important;
	}

	ul.SeatTemp42.coach:nth-child(1) li:nth-child(17) , ul.SeatTemp42.coach:nth-child(1) li:nth-child(18) , ul.SeatTemp42.coach:nth-child(1) li:nth-child(19) ,
	ul.SeatTemp42.coach:nth-child(1) li:nth-child(20) , ul.SeatTemp42.coach:nth-child(1) li:nth-child(21) , 
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(17), ul.SeatTemp42.coach:nth-child(2) li:nth-child(18), ul.SeatTemp42.coach:nth-child(2) li:nth-child(19) ,
	ul.SeatTemp42.coach:nth-child(2) li:nth-child(20) , ul.SeatTemp42.coach:nth-child(2) li:nth-child(21) {
	border-bottom: 1px solid #000;
	}
	
	/* So do 52 cho */
	
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(1),
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(1) {

	width: 230px !important;
	float: right;
	} 
	ul.SeatTemp52.coach li{
	overflow: hidden;
	} 
	ul.SeatTemp52.coach li table{
	padding: 0;
	} 
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(2),
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(2) {
	clear: both;
	} 
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(1), ul.SeatTemp52.coach:nth-child(1) li:nth-child(15), ul.SeatTemp52.coach:nth-child(1) li:nth-child(16),
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(1), ul.SeatTemp52.coach:nth-child(2) li:nth-child(15), ul.SeatTemp52.coach:nth-child(2) li:nth-child(16) {
	
	overflow: hidden;
	} 
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(17) .pnote, ul.SeatTemp52.coach:nth-child(1) li:nth-child(18) .pnote, ul.SeatTemp52.coach:nth-child(1) li:nth-child(19) .pnote,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(20) .pnote, ul.SeatTemp52.coach:nth-child(1) li:nth-child(21) .pnote, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(17) .pnote, ul.SeatTemp52.coach:nth-child(2) li:nth-child(18) .pnote, ul.SeatTemp52.coach:nth-child(2) li:nth-child(19) .pnote,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(20) .pnote, ul.SeatTemp52.coach:nth-child(2) li:nth-child(21) .pnote ,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(22) .pnote, ul.SeatTemp52.coach:nth-child(1) li:nth-child(23) .pnote, ul.SeatTemp52.coach:nth-child(1) li:nth-child(24) .pnote,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(25) .pnote, ul.SeatTemp52.coach:nth-child(1) li:nth-child(26) .pnote, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(22) .pnote, ul.SeatTemp52.coach:nth-child(2) li:nth-child(23) .pnote, ul.SeatTemp52.coach:nth-child(2) li:nth-child(24) .pnote,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(25) .pnote, ul.SeatTemp52.coach:nth-child(2) li:nth-child(26) .pnote {
	white-space: nowrap !important;
	overflow: hidden !important;
	font-size: 14px !important;
	margin-top: 1px !important;
	} 
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(17) .pcname, ul.SeatTemp52.coach:nth-child(1) li:nth-child(18) .pcname, ul.SeatTemp52.coach:nth-child(1) li:nth-child(19) .pcname,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(20) .pcname, ul.SeatTemp52.coach:nth-child(1) li:nth-child(21) .pcname, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(17) .pcname, ul.SeatTemp52.coach:nth-child(2) li:nth-child(18) .pcname, ul.SeatTemp52.coach:nth-child(2) li:nth-child(19) .pcname,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(20) .pcname, ul.SeatTemp52.coach:nth-child(2) li:nth-child(21) .pcname {
	white-space: nowrap;
	font-size: 14px !important;
	margin-top: -3px;
	} 
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(22) .pcname, ul.SeatTemp52.coach:nth-child(1) li:nth-child(23) .pcname, ul.SeatTemp52.coach:nth-child(1) li:nth-child(24) .pcname,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(25) .pcname, ul.SeatTemp52.coach:nth-child(1) li:nth-child(26) .pcname, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(22) .pcname, ul.SeatTemp52.coach:nth-child(2) li:nth-child(23) .pcname, ul.SeatTemp52.coach:nth-child(2) li:nth-child(24) .pcname,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(25) .pcname, ul.SeatTemp52.coach:nth-child(2) li:nth-child(26) .pcname {
	/* white-space: nowrap;
	font-size: 14px !important; */
	margin-top: -3px;
	}
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(17) , ul.SeatTemp52.coach:nth-child(1) li:nth-child(18) , ul.SeatTemp52.coach:nth-child(1) li:nth-child(19) ,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(20) , ul.SeatTemp52.coach:nth-child(1) li:nth-child(21) , 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(17) , ul.SeatTemp52.coach:nth-child(2) li:nth-child(18) , ul.SeatTemp52.coach:nth-child(2) li:nth-child(19) ,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(20) , ul.SeatTemp52.coach:nth-child(2) li:nth-child(21) {
	height: 64px !important;
	} 
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(22) , ul.SeatTemp52.coach:nth-child(1) li:nth-child(23) , ul.SeatTemp52.coach:nth-child(1) li:nth-child(24) ,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(25) , ul.SeatTemp52.coach:nth-child(1) li:nth-child(26) , 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(22) , ul.SeatTemp52.coach:nth-child(2) li:nth-child(23) , ul.SeatTemp52.coach:nth-child(2) li:nth-child(24) ,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(25) , ul.SeatTemp52.coach:nth-child(2) li:nth-child(26) 	{
	height: 52px !important;
	}
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(17) .pcphone, ul.SeatTemp52.coach:nth-child(1) li:nth-child(18) .pcphone, ul.SeatTemp52.coach:nth-child(1) li:nth-child(19) .pcphone,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(20) .pcphone, ul.SeatTemp52.coach:nth-child(1) li:nth-child(21) .pcphone, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(17) .pcphone, ul.SeatTemp52.coach:nth-child(2) li:nth-child(18) .pcphone, ul.SeatTemp52.coach:nth-child(2) li:nth-child(19) .pcphone,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(20) .pcphone, ul.SeatTemp52.coach:nth-child(2) li:nth-child(21) .pcphone {
	width: 100% !important;
	font-size: 13px !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-align: left !important;
	padding-left: 38px !important
	}
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(22) .pcphone, ul.SeatTemp52.coach:nth-child(1) li:nth-child(23) .pcphone, ul.SeatTemp52.coach:nth-child(1) li:nth-child(24) .pcphone,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(25) .pcphone, ul.SeatTemp52.coach:nth-child(1) li:nth-child(26) .pcphone, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(22) .pcphone, ul.SeatTemp52.coach:nth-child(2) li:nth-child(23) .pcphone, ul.SeatTemp52.coach:nth-child(2) li:nth-child(24) .pcphone,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(25) .pcphone, ul.SeatTemp52.coach:nth-child(2) li:nth-child(26) .pcphone {
	width: 90% !important;
	font-size: 13px !important;
	padding-left: 13px !important;
	}
	
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(17) .pmInfo, ul.SeatTemp52.coach:nth-child(1) li:nth-child(18) .pmInfo, ul.SeatTemp52.coach:nth-child(1) li:nth-child(19) .pmInfo,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(20) .pmInfo, ul.SeatTemp52.coach:nth-child(1) li:nth-child(21) .pmInfo, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(17) .pmInfo, ul.SeatTemp52.coach:nth-child(2) li:nth-child(18) .pmInfo, ul.SeatTemp52.coach:nth-child(2) li:nth-child(19) .pmInfo,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(20) .pmInfo, ul.SeatTemp52.coach:nth-child(2) li:nth-child(21) .pmInfo {
	width: 100% !important;
	font-size: 13px !important;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	float: left;
	}
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(22) .pmInfo, ul.SeatTemp52.coach:nth-child(1) li:nth-child(23) .pmInfo, ul.SeatTemp52.coach:nth-child(1) li:nth-child(24) .pmInfo,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(25) .pmInfo, ul.SeatTemp52.coach:nth-child(1) li:nth-child(26) .pmInfo, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(22) .pmInfo, ul.SeatTemp52.coach:nth-child(2) li:nth-child(23) .pmInfo, ul.SeatTemp52.coach:nth-child(2) li:nth-child(24) .pmInfo,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(25) .pmInfo, ul.SeatTemp52.coach:nth-child(2) li:nth-child(26) .pmInfo {
	width: 100% !important;
	font-size: 13px !important;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	float: left;
	
	}
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(17) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(1) li:nth-child(18) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(1) li:nth-child(19) .ntk-pertrip,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(20) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(1) li:nth-child(21) .ntk-pertrip, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(17) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(2) li:nth-child(18) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(2) li:nth-child(19) .ntk-pertrip,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(20) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(2) li:nth-child(21) .ntk-pertrip,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(22) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(1) li:nth-child(23) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(1) li:nth-child(24) .ntk-pertrip,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(25) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(1) li:nth-child(26) .ntk-pertrip, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(22) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(2) li:nth-child(23) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(2) li:nth-child(24) .ntk-pertrip,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(25) .ntk-pertrip, ul.SeatTemp52.coach:nth-child(2) li:nth-child(26) .ntk-pertrip	{
	
	font-size: 11px !important;
	}
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(17) .pseat-code, ul.SeatTemp52.coach:nth-child(1) li:nth-child(18) .pseat-code, ul.SeatTemp52.coach:nth-child(1) li:nth-child(19) .pseat-code,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(20) .pseat-code, ul.SeatTemp52.coach:nth-child(1) li:nth-child(21) .pseat-code, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(17) .pseat-code, ul.SeatTemp52.coach:nth-child(2) li:nth-child(18) .pseat-code, ul.SeatTemp52.coach:nth-child(2) li:nth-child(19) .pseat-code,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(20) .pseat-code, ul.SeatTemp52.coach:nth-child(2) li:nth-child(21) .pseat-code  {
	width: 33% !important;
	}
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(22) .pseat-code, ul.SeatTemp52.coach:nth-child(1) li:nth-child(23) .pseat-code, ul.SeatTemp52.coach:nth-child(1) li:nth-child(24) .pseat-code,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(25) .pseat-code, ul.SeatTemp52.coach:nth-child(1) li:nth-child(26) .pseat-code, 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(22) .pseat-code, ul.SeatTemp52.coach:nth-child(2) li:nth-child(23) .pseat-code, ul.SeatTemp52.coach:nth-child(2) li:nth-child(24) .pseat-code,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(25) .pseat-code, ul.SeatTemp52.coach:nth-child(2) li:nth-child(26) .pseat-code  {
	width: 10% !important;
	}
	
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(22) , ul.SeatTemp52.coach:nth-child(1) li:nth-child(23) , ul.SeatTemp52.coach:nth-child(1) li:nth-child(24) ,
	ul.SeatTemp52.coach:nth-child(1) li:nth-child(25) , ul.SeatTemp52.coach:nth-child(1) li:nth-child(26) , 
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(22), ul.SeatTemp52.coach:nth-child(2) li:nth-child(23), ul.SeatTemp52.coach:nth-child(2) li:nth-child(24) ,
	ul.SeatTemp52.coach:nth-child(2) li:nth-child(25) , ul.SeatTemp52.coach:nth-child(2) li:nth-child(26)
	{
	border-bottom: 1px solid #000;
	}
	