
/* .theme824 .seat[data-position='1_7_5'] .available{background:#E6E7E7}.theme824 div.buttons{width:100%;position:absolute;bottom:3px}.theme824 .seat{height:140px}.theme824 .agentinfo{height:auto}.theme824 .cinfo{width:100%;text-align:left}.theme824 .cinfo .phone{font-size:12px;font-weight:700}.theme824 .pmInfo{float:right;padding-right:10px;margin-top:16px;font-size:11px;margin-bottom:0}
 */
 
.Trip-22443 .seat[data-position='1_1_1'] .available, .Trip-22443 .seat[data-position='1_1_3'] .available, .Trip-22443 .seat[data-position='1_1_5'] .available,
.Trip-22434 .seat[data-position='1_1_1'] .available, .Trip-22434 .seat[data-position='1_1_3'] .available, .Trip-22434 .seat[data-position='1_1_5'] .available,
.Trip-22438 .seat[data-position='1_1_1'] .available, .Trip-22438 .seat[data-position='1_1_3'] .available, .Trip-22438 .seat[data-position='1_1_5'] .available,
.Trip-22367 .seat[data-position='1_1_1'] .available, .Trip-22367 .seat[data-position='1_1_3'] .available, .Trip-22367 .seat[data-position='1_1_5'] .available,
.Trip-22439 .seat[data-position='1_1_1'] .available, .Trip-22439 .seat[data-position='1_1_3'] .available, .Trip-22439 .seat[data-position='1_1_5'] .available,
.Trip-22447 .seat[data-position='1_1_1'] .available, .Trip-22447 .seat[data-position='1_1_3'] .available, .Trip-22447 .seat[data-position='1_1_5'] .available,
.Trip-22434 .seat[data-position='1_2_3'] .available, .Trip-22434 .seat[data-position='1_2_5'] .available, .Trip-22434 .seat[data-position='2_2_5'] .available,.Trip-22434 .seat[data-position='2_2_3'] .available,
.Trip-22438 .seat[data-position='1_2_3'] .available, .Trip-22438 .seat[data-position='1_2_5'] .available, .Trip-22438 .seat[data-position='2_2_5'] .available,.Trip-22438 .seat[data-position='2_2_3'] .available,.Trip-22438 .seat[data-position='1_2_1'] .available,.Trip-22438 .seat[data-position='2_2_1'] .available,
.Trip-22367 .seat[data-position='1_2_3'] .available, .Trip-22367 .seat[data-position='1_2_5'] .available, .Trip-22367 .seat[data-position='2_2_5'] .available,.Trip-22367 .seat[data-position='2_2_3'] .available
{
background: #00BFFF;
}
 

 div.buttons {
    width: 97%;
    position: absolute;
    bottom: 3px;
}

.seat {
    height: 140px;
}

.agentinfo {
    height: auto;
}

.cinfo {
    width: 100%;
    text-align: left;
}

.cinfo .phone {
    font-size: 12px;
    font-weight: bold;
}

.pmInfo {
    float: right;
    padding-right: 10px;
    margin-top: 16px;
    font-size: 11px;
    margin-bottom: 0;
}


/* .seat[data-position='1_7_3'] .available, .seat[data-position='1_7_5'] .available, .seat[data-position='1_8_5'] .available,
.seat[data-position='2_7_3'] .available, .seat[data-position='2_7_5'] .available, .seat[data-position='2_8_3'] .available, 
.seat[data-position='2_8_5'] .available {
    background: #E6E7E7;
} */
