#contentRoleBox {
    background: #fff;
}
#contentRoleBox .table-qlvt {
    background: #fff;
}
#contentRoleBox .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
}
.tar {
    text-align: right;
}
.mr15 {
    margin-right: 15px;
}
#contentRoleBox .table .bg-thead{
	background: rgb(242,245,246); /* Old browsers */

	background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}

#contentRoleBox .lstRight .panel-title a {
    display: block;
    text-align: left !important;
    text-decoration: none;
    padding: 10px 15px;
}
#contentRoleBox .lstRight .panel-heading {
    padding: 0 0;
}
#contentRoleBox .lstRight .panel-group .panel+ .panel {
    margin-top: 0;
}
#contentRoleBox .lstRight .table tbody tr td {
    border-top: none;
}
#contentRoleBox .lstRight .table tbody tr {
    border-bottom: 1px solid #ddd;
}
#contentRoleBox .mb50 {
    margin-bottom: 50px;
}
#contentRoleBox .lstRight .clc {
    color: coral;
}

#contentRoleBox  .bgy {
    background-color: yellow;
}
#contentRoleBox  .bgl {
    background-color: lavender;
}