.silver {
    color: silver;
}

.green {
    color: green;
}

.ui-widget-content {
    border: 1px solid #1e62a3;
}

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #1e62a3;
        color: #fff;
        background: #1e62a3;
    }

select.input-sm, select.form-control, input.form-control {
    border-radius: 0 !important;
}

a.input-group-addon {
    border-radius: 0 !important;
}

.btn.btn-primary, .btn.btn-success, .btn.btn-warning, .btn.btn-danger, .btn.btn-default, .btn.btn-info {
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn.btn-primary {
    background: #2d6ca2 !important;
    border-color: #2d6ca2 !important;
}

    .btn.btn-primary:hover {
        background: #428bca !important;
        border-color: #428bca !important;
    }

.btn.btn-success {
    background: #47a347 !important;
    border-color: #47a347 !important;
}

    .btn.btn-success:hover {
        background: #5cb85c !important;
        border-color: #5cb85c !important;
    }

.btn.btn-warning {
    background: #eb9316 !important;
    border-color: #eb9316 !important;
}

    .btn.btn-warning:hover {
        background: #f0ad4e !important;
        border-color: #f0ad4e !important;
    }

.btn.btn-danger {
    background: #c12e2a !important;
    border-color: #c12e2a !important;
}

    .btn.btn-danger:hover {
        background: #d9534f !important;
        border-color: #d9534f !important;
    }

.btn.btn-default {
    background: #f4f4f4 !important;
    border-color: #f4f4f4 !important;
}

    .btn.btn-default:hover {
        background: #f9f9f9 !important;
        border-color: #f9f9f9 !important;
    }

.btn.btn-info {
    background: #2aabd2 !important;
    border-color: #2aabd2 !important;
}

    .btn.btn-info:hover {
        background: #5bc0de !important;
        border-color: #5bc0de !important;
    }

#report .panel {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.checkbox.deactive-account {
    height: 25px;
    line-height: 25px;
}
