@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }

    to {
        -moz-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@-ms-keyframes spin {
    from {
        -moz-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }

    to {
        -moz-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@keyframes spin {
    from {
        -moz-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }

    to {
        -moz-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}