button.selectpicker {
    height: 23px !important;
    padding: 0 10px !important;
}

.ui-datepicker {
    width: 17em;
    display: none;
    z-index: 9999 !important;
}

    .ui-datepicker .ui-datepicker-header {
        position: relative;
        padding: .2em 0;
    }

    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
        position: absolute;
        top: 2px;
        width: 20px;
        height: 20px;
        background: url(../../Images/aio/common-icons.png) no-repeat;
    }

    .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
        top: 1px;
    }

    .ui-datepicker .ui-datepicker-prev {
        left: 4px;
        top: 5px;
        background-position: -123px 0;
    }

    .ui-datepicker .ui-datepicker-next {
        right: 4px;
        top: 5px;
        background-position: -120px -20px;
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: 3px;
        top: 4px;
    }

    .ui-datepicker .ui-datepicker-next-hover {
        right: 3px;
        top: 4px;
    }

    .ui-datepicker select.ui-datepicker-month-year {
        width: 100%;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        width: 49%;
    }

    .ui-datepicker table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
    }

    .ui-datepicker th {
        padding: .5em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
    }

    .ui-datepicker td {
        border: 0;
        padding: 1px;
    }

        .ui-datepicker td span, .ui-datepicker td a {
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none;
        }

    .ui-datepicker .ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

        .ui-datepicker .ui-datepicker-buttonpane button {
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width: auto;
            overflow: visible;
        }

            .ui-datepicker .ui-datepicker-buttonpane button:hover {
                color: #1e62a3;
            }

            .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: left;
            }

    .ui-datepicker.ui-datepicker-multi {
        width: auto;
        z-index: 999 !important;
    }

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

    .ui-datepicker-multi .ui-datepicker-group table {
        width: 99%;
        margin: 0 auto .4em;
    }

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0em;
}

.ui-datepicker-rtl {
    direction: rtl;
}

    .ui-datepicker-rtl .ui-datepicker-prev {
        right: 2px;
        left: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-next {
        left: 2px;
        right: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-prev:hover {
        right: 1px;
        left: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-next:hover {
        left: 1px;
        right: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-buttonpane {
        clear: right;
    }

        .ui-datepicker-rtl .ui-datepicker-buttonpane button {
            float: left;
        }

            .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: right;
            }

    .ui-datepicker-rtl .ui-datepicker-group {
        float: right;
    }

    .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }

    .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }

.ui-datepicker-cover {
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px;
}

.ui-datepicker .ui-datepicker-title .ui-datepicker-year {
    width: 35% !important;
    color: black !important;
    font-weight: 400 !important;
    font-size: 12px !important;
}

.ui-datepicker .ui-datepicker-title .ui-datepicker-month {
    width: 50% !important;
    color: black !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    margin-right: 5px !important;
}

    .ui-datepicker .ui-datepicker-title .ui-datepicker-month option,
    .ui-datepicker .ui-datepicker-title .ui-datepicker-year option {
        color: #212121 !important;
    }

.ui-datepicker .ui-datepicker-header {
    background: #1e62a3;
    border: none;
}

.ui-datepicker table {
    background: #fff;
    margin-bottom: 2px;
}

.ui-datepicker-title {
    color: #fff;
}

.glyphicon-calendar {
    cursor: pointer;
}


.icon-calen {
    float: left !important;
    height: 25px !important;
    width: 38px !important;
}

    .icon-calen i {
        top: -2px !important;
    }

/*button.btn.dropdown-toggle.selectpicker {
    width: 25% !important;
}*/
