ul.coach {
    list-style: none;
    margin: 0;
    padding: 0;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .vcol-md-5 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.SeatTemp17 .col-md-6 {
    width: 33.3333%;
	height: 94px;
}
.SeatTemp17 .col-md-4 {
    width: 33.3333%;
	height: 94px;
}
.SeatTemp28 .col-md-4 {
    width: 33.3333%;
	height: 91px;
}
.SeatTemp28 .col-md-3 {
    width: 25%;
	height: 110px;
}
.col-md-6 {
    width: 50%;
}
.col-md-4 {
    width: 33.3333%;
}
/* .no-background {
    background: none !important;} */
.da-thanh-toan {background:black !important;color:white;}

.col-md-3 {
    width: 25%;
}

.vcol-md-5 {
    width: 20%;
}


.SeatTemp40 .print-seat {
    height: 86px;
}

    .print-seat table {
        width: 100%;
        height: 100%;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 3px;
    }

        .print-seat table td {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: top;
        }

.br {
    border-right: 1px solid #000000;
}

.bb {
    border-bottom: 1px solid #000000;
}

.print-seat p {
    margin: 0;
	font-size: 15px;
	line-height: 16px;
}

.pseat-code {
    width: 25%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px !important;
    float: left;
}

.pseat-no {
    font-weight: 400;
    font-size: 12px !important;
}
.pcname {
	width: 100%;
	text-transform: lowercase;
}
.pcphone {
	width: 100%;
    font-weight: 700;
	font-size: 17px !important;
	text-align: right;
	float: right;
}
.SeatTemp40 .pcphone {margin-top: -6px;}
.ppayment {
    width: 75%;
    float: right;
    text-align: right;
}

.pnote {
	width: 100%;
    height: 20px;
    /*overflow: hidden;*/
    clear: both;
    text-transform: lowercase;
}

.ppickup span {
    text-transform: lowercase;
}

.pmInfo {
    text-align: right;
}

.print-title {
    width: 100%;
    margin-bottom: 10px;
}

strong.title {
    text-transform: uppercase;
}

.ntk-pertrip {
    text-transform: uppercase;
}

.list {
    clear: both;
}

    .list h3 {
        text-align: center;
    }

    .list table, .list th, .list td {
        border: 1px solid black;
        text-align: center;
        line-height: 28px;
    }

    .list table {
        border-collapse: collapse;
        width: 100%;
    }

    .list p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

.ppayment {
    /*background: #ddd;*/
}
/* .ppayment.paid {
	background: #b7b7b7;
} */
ul.SeatTemp40.coach:nth-child(1){
	margin-right: 5px;
	width: 49.5% !important;
}
ul.SeatTemp40.coach {height: 565px;}
ul.SeatTemp40.coach:nth-child(1) li:nth-child(16) table, ul.SeatTemp40.coach:nth-child(2) li:nth-child(16) table,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(17) table, ul.SeatTemp40.coach:nth-child(2) li:nth-child(17) table,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(18) table, ul.SeatTemp40.coach:nth-child(2) li:nth-child(18) table,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(19) table, ul.SeatTemp40.coach:nth-child(2) li:nth-child(19) table,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(20) table, ul.SeatTemp40.coach:nth-child(2) li:nth-child(20) table {
    height: 132px;
}
 ul.SeatTemp40.coach:nth-child(1) li:nth-child(16) table .ppayment, ul.SeatTemp40.coach:nth-child(2) li:nth-child(16) table .ppayment,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(17) table .ppayment, ul.SeatTemp40.coach:nth-child(2) li:nth-child(17) table .ppayment,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(18) table .ppayment, ul.SeatTemp40.coach:nth-child(2) li:nth-child(18) table .ppayment,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(19) table .ppayment, ul.SeatTemp40.coach:nth-child(2) li:nth-child(19) table .ppayment,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(20) table .ppayment, ul.SeatTemp40.coach:nth-child(2) li:nth-child(20) table .ppayment {
    width: 100%;}

 ul.SeatTemp40.coach:nth-child(1) li:nth-child(16) table .pseat-code, ul.SeatTemp40.coach:nth-child(2) li:nth-child(16) table .pseat-code,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(17) table .pseat-code, ul.SeatTemp40.coach:nth-child(2) li:nth-child(17) table .pseat-code,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(18) table .pseat-code, ul.SeatTemp40.coach:nth-child(2) li:nth-child(18) table .pseat-code,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(19) table .pseat-code, ul.SeatTemp40.coach:nth-child(2) li:nth-child(19) table .pseat-code,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(20) table .pseat-code, ul.SeatTemp40.coach:nth-child(2) li:nth-child(20) table .pseat-code {
    width: 32px !important;}

ul.SeatTemp40.coach:nth-child(1) li:nth-child(16) table .pcphone, ul.SeatTemp40.coach:nth-child(2) li:nth-child(16) table .pcphone,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(17) table .pcphone, ul.SeatTemp40.coach:nth-child(2) li:nth-child(17) table .pcphone,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(18) table .pcphone, ul.SeatTemp40.coach:nth-child(2) li:nth-child(18) table .pcphone,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(19) table .pcphone, ul.SeatTemp40.coach:nth-child(2) li:nth-child(19) table .pcphone,
ul.SeatTemp40.coach:nth-child(1) li:nth-child(20) table .pcphone, ul.SeatTemp40.coach:nth-child(2) li:nth-child(20) table .pcphone {
    margin-top: 4px !important;}

.SeatTemp17.coach:nth-child(1) li:nth-child(3) {clear: both;}