/* .seat[data-position='1_6_1'] .available,.seat[data-position='1_6_3'] .available,.seat[data-position='1_6_5'] .available,
.seat[data-position='2_6_1'] .available,.seat[data-position='2_6_3'] .available,.seat[data-position='2_6_5'] .available {
    background: #E6E7E7;
}
 */