div.buttons {
    width: 97%;
    position: absolute;
    bottom: 3px;
}

.seat {
    height: 140px;
}

.agentinfo {
    height: auto;
}

.cinfo {
    width: 100%;
    text-align: left;
}

.cinfo .phone {
    font-size: 12px;
    font-weight: bold;
	
}

.pmInfo {
    float: right;
    padding-right: 10px;
    margin-top: 16px;
    font-size: 11px;
    margin-bottom: 0;
}
.seat[data-position='1_6_1'] .available, .seat[data-position='2_6_1'] .available {background: #E8E8E8;}