<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="FiboSMSAccount" value="CL8545" />
  <add key="FiboSMSPassword" value="12356789" /> 
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://center.fibosms.com/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ServiceSMS.ServiceSoap"
                name="ServiceSoap" />
            <endpoint address="http://center.fibosms.com/Service.asmx" binding="customBinding"
                bindingConfiguration="ServiceSoap12" contract="ServiceSMS.ServiceSoap"
                name="ServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>