.watchRoutes thead td{
    font-weight: bold !important;
}

.watchRoutes td.noCol{
	width:40px !important;
}

.watchRoutes td.comp{
	width:10% !important;
}

.watchRoutes td.route{
	width:20% !important;
}

.watchRoutes td.ticketPrice{
	width:10% !important;
}

.watchRoutes td.kmPrice{
	width:10% !important;
}

.watchRoutes td.timePrice{
	width:10% !important;
}

.watchRoutes td.bookType{
	width:10% !important;
}

.watchRoutes td.paymentType{
	width:10% !important;
}

.watchRoutes td.compType{
	width:10% !important;
}

.watchRoutes td.func{
	width:10% !important;
}

.watchRoutesBar .form-inline {
    margin-left: 3px !important;
}

.watchRoutesBar .form-inline .input-group {
    margin-right: 1px !important;
}

/*
.tatcave .ngaydi-col,.tatcave-cnt .ngaydi-col{
	width:10.5% !important;
}
.tatcave .machuyen-col, .tatcave-cnt .machuyen-col{
	width:17% !important;
}
.tatcave .hangxe-col,.tatcave-cnt .hangxe-col{
	width:10% !important;
}
.tatcave .hanhkhach-col,.tatcave-cnt .hanhkhach-col{
	width:11% !important;
}
.tatcave .trangthai-col{
	width:10% !important;
}
.tatcave .httt-col{
	color:#757575;
	text-align: center;
    vertical-align: middle;
    width: 10% !important;
	padding-top: 5px;
}
.tatcave{
	margin-top:5px !important;
}
.tatcave-cnt{
	margin-top:89px;
	font-size:13px;
}
.tatcave-cnt table td .dropdown ,.tatcave-cnt table td p{
	font-size:13px;
}
.tatcave-cnt table td p{
	margin-bottom:0;
}
.tatcave-cnt .kq-timve table td.pdi i{
	padding-right:3px;
}
.tatcave-cnt table td:last-child{
	padding-right:20px;
}*/